﻿
@{
    ViewBag.Title = "CreateTimeTable";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<style type="text/css">
    .imgIcon {
        width: 0.5%;
        height: 0.5%;
    }

    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    /*#example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 8px;
            padding-bottom: 8px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }*/
</style>
<link href="~/css/bootstrap-timepicker.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        <i class="fa fa-eye"></i> Timetable |<small id="ttName"></small>
    </h1>
    @*<ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/academics/default/index">Academics</a></li>
        <li class="active">Timetable</li>
        <li><a href="/timetable/timetable-configuration/index">Timetable Configuration</a></li>
        <li class="active">1</li>
    </ul>*@
</section>
<section class="content">


    <div class="box box-solid">

        <div class="extra-div">
            <div class="box-header with-border">
                <span class="fa-stack fa-lg pull-left edusecArLangCss">
                    <i class="fa fa-calendar fa-2x"></i>
                </span>&nbsp;
                <strong id="ttName1"></strong> <br>
                &nbsp;<span class="text-muted">
                    <strong>Class</strong> : <span id="spClass"></span> |
                    <strong>From Date</strong> :<span id="spFromDt"></span> |
                    <strong>To Date</strong> :<span id="spToDt"></span>
                </span>
                @*<div class="box-tools">
                    <a class="btn btn-default" href="#"><i class="fa fa-chevron-circle-left"></i> Back</a>
                </div>*@
            </div>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-valign">
                    <thead id="theadTimeTable">
                        @*<tr>
                                <th class="text-center">Class Timing</th>
                                <th class="text-center">Monday</th>
                                <th class="text-center">Tuesday</th>
                                <th class="text-center">Wednesday</th>
                            </tr>*@
                    </thead>
                    <tbody id="tbodyEmployeeDetails">
                        @*<tr>
                                <td class="text-center"> 1:03 AM - 3:02 AM </td>
                                <td class="text-center"><a href="/timetable/timetable-details/update-weekly-tt?id=678&amp;ttConfig=8&amp;wdId=1&amp;ctId=8" title="English ( Mia White)( ClassRoom2 )" data-target="#globalModal" data-toggle="modal"><span data-toggle="tooltip" ,="" title="" data-original-title="English ( Mia White)( ClassRoom2 )">Eng ( MW)<br>( ClassRoom2 )</span></a><br><a class="text-red" href="/timetable/timetable-details/delete-weekly-tt?id=678" title="" data-toggle="tooltip" style="padding-left:5px;font-size:22px" data-confirm="Are you sure you want to delete this item?" data-method="post" data-original-title="Delete Lecture"><i class="fa fa-trash-o"></i></a> </td>
                                <td class="text-center"><a class="text-green" href="/timetable/timetable-details/create-weekly-tt?ttConfig=8&amp;wdId=2&amp;ctId=8" title="Assign Lecture" style="font-size: 15px; font-weight: bold;" data-target="#globalModal" data-toggle="modal">Assign</a> </td>
                                <td class="text-center"><a class="text-green" href="/timetable/timetable-details/create-weekly-tt?ttConfig=8&amp;wdId=3&amp;ctId=8" title="Assign Lecture" style="font-size: 15px; font-weight: bold;" data-target="#globalModal" data-toggle="modal">Assign</a> </td>
                            </tr>
                            <tr>
                                <td class="text-center"> 3:05 AM - 4:01 AM </td>
                                <td class="text-center"><a class="text-green" href="/timetable/timetable-details/create-weekly-tt?ttConfig=8&amp;wdId=1&amp;ctId=9" title="Assign Lecture" style="font-size: 15px; font-weight: bold;" data-target="#globalModal" data-toggle="modal">Assign</a> </td>
                                <td class="text-center"><a class="text-green" href="/timetable/timetable-details/create-weekly-tt?ttConfig=8&amp;wdId=2&amp;ctId=9" title="Assign Lecture" style="font-size: 15px; font-weight: bold;" data-target="#globalModal" data-toggle="modal">Assign</a> </td>
                                <td class="text-center"><a class="text-green" href="/timetable/timetable-details/create-weekly-tt?ttConfig=8&amp;wdId=3&amp;ctId=9" title="Assign Lecture" style="font-size: 15px; font-weight: bold;" data-target="#globalModal" data-toggle="modal">Assign</a> </td>
                            </tr>
                            <tr>
                                <td class="text-center"> 4:02 AM - 5:00 AM </td>
                                <td class="text-center"><a class="text-green" href="/timetable/timetable-details/create-weekly-tt?ttConfig=8&amp;wdId=1&amp;ctId=10" title="Assign Lecture" style="font-size: 15px; font-weight: bold;" data-target="#globalModal" data-toggle="modal">Assign</a> </td>
                                <td class="text-center"><a class="text-green" href="/timetable/timetable-details/create-weekly-tt?ttConfig=8&amp;wdId=2&amp;ctId=10" title="Assign Lecture" style="font-size: 15px; font-weight: bold;" data-target="#globalModal" data-toggle="modal">Assign</a> </td>
                                <td class="text-center"><a class="text-green" href="/timetable/timetable-details/create-weekly-tt?ttConfig=8&amp;wdId=3&amp;ctId=10" title="Assign Lecture" style="font-size: 15px; font-weight: bold;" data-target="#globalModal" data-toggle="modal">Assign</a> </td>
                            </tr>
                            <tr>
                                <td class="text-center"> 5:01 AM - 6:00 AM </td>
                                <td class="text-center"><span class="text-red" title="Break" style="font-size: 15px;font-weight: bold;">Break</span> </td>
                                <td class="text-center"><span class="text-red" title="Break" style="font-size: 15px;font-weight: bold;">Break</span> </td>
                                <td class="text-center"><span class="text-red" title="Break" style="font-size: 15px;font-weight: bold;">Break</span> </td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
            @*<div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Subject</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Eng</b> - English(Eng)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>MW</b> - Mia White
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>*@
            <script type="text/html" id="divEmployeeDetailsJTemplte">
                {#foreach $T as Datashort}
                <tr id="example1Row">
                    @*<td style="width:10%;">
                            { $T.Datashort.CountID}
                        </td>
                        <td>
                            <a href="#" title="View Details" onclick="GoToCreateTimeTable({ $T.Datashort.ID})">{ $T.Datashort.con.Name}</a>

                        </td>
                        <td>
                            { $T.Datashort.AcYear}
                        </td>
                        <td>
                            { $T.Datashort.Course}
                        </td>
                        <td>
                            { $T.Datashort.fromDT}
                        </td>
                        <td>
                            { $T.Datashort.ToDt}
                        </td>
                        <td style="width:15%;">
                            <span class="{ $T.Datashort.style}" title="{ $T.Datashort.action}" onclick="EditStatus({ $T.Datashort.ID},'{ $T.Datashort.con.Name}',{ $T.Datashort.con.Status})">{ $T.Datashort.StatusNm} </span>
                        </td>
                        <td>

                            <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete({ $T.Datashort.ID})" title="Delete"></i>
                        </td>*@
                </tr>
                {#/for}
            </script>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="weekly-timetable-form"   name="form1" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="modalLabel">
                            <i class="fa fa-calendar"></i>
                            Assign Lecture  - <span id="spWeekDay"></span>
                        </h4>
                        <small>
                            <strong> Class </strong> : <span id="spCourse"></span>
                        </small> |
                        
                        <small>
                            <strong> Classtiming </strong> :
                            <span id="spTiming"></span>
                        </small>
                    </div> <!-- /.modal-header -->


                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <input type="hidden" id="hdnTTid" class="form-control">
                                    <input id="hdnCTdetID" type="hidden" />
                                    <input id="hdnSelDay" type="hidden" />
                                    <div class="help-block"></div>
                                </div>
                                <div class="form-group">
                                    <label for="Country" class="req">Class<span class="requird">*</span></label>
                                    <select class="form-control" name="ddlCourse" id="ddlCourse" valuefield="Id" textfield="CourseName" blankRowValue="0" blankRowText="----Select----"></select>

                                </div>
                                <div class="form-group">
                                    <label class="control-label">Subject <span class="requird">*</span></label>
                                    <select id="ddl_subject" name="ddl_subject" class="form-control" onchange="getTeacherBySubjectId(this.value)" aria-required="true" valuefield="ID" textfield="Subject" blankRowValue="-1" blankRowText="----Select----"></select>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Teacher <span class="requird">*</span></label>
                                    <select id="ddl_employee" name="ddl_employee" class="form-control" aria-required="true" valuefield="ID" textfield="Msg" blankRowValue="-1" blankRowText="----Select----">
                                    </select>

                                </div>
                            </div>
                        </div>

                    </div> <!-- /. modal-body -->
                    <div class="modal-footer">
                        <button type="button" id="Assign" class="btn btn-primary pull-left">Assign</button>		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div> <!-- /. modal-footer -->
                </form>
              </div>
            </div>
        </div>
            <input id="hdn" type="hidden" />
            <input id="hdnCTid" type="hidden" />
            <input id="hdnWeekDays" type="hidden" />
</section>
<script src="~/js/bootstrap-timepicker.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var val = GetParameterValues('id');

        function GetParameterValues(param) {
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < url.length; i++) {
                var urlparam = url[i].split('=');
                if (urlparam[0] == param) {
                    return urlparam[1];
                }
            }
        }
        ////callServiceMethodForDDl(JSON.stringify([val]), "/api/Default", "getAllSchoolNameTimeTable", "ddlSchoolName", false, "", "", "", "");




        setControlValue("hdn", 0);
        setControlValue("hdnCTid", 0);
        setControlValue("hdnTTid", 0);
        setControlValue("hdnCTdetID", 0); 
        setControlValue("hdnSelDay", 0);

        var ID=getQuerystring("id");
        if (typeof (ID) != "undefined") {
            setControlValue("hdn", ID);//
           GetValues(ID);
        }
        //
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse", false, "", "", "", "");
        $("#ddlCourse").change(function () {
            var ddlCourse = getControlValue("ddlCourse");
            if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined)) {
                var SchoolID = sessionStorage.getItem("SchoolID");
                callServiceMethodForDDl(JSON.stringify([SchoolID, ddlCourse]), "/api/TimeTableApi", "GetSubjectsbySCHOOLidbyclass", "ddl_subject", false, "", "", "", "");

            }
        });

        $("#ddl_subject").change(function () {
            var ddlsub = getControlValue("ddl_subject");
            if (ddlsub != null && (ddlsub != -1) && (ddlsub != undefined)) {
                var SchoolID = sessionStorage.getItem("SchoolID");
                var ClassID = getControlValue("ddlCourse");
                callServiceMethodForDDl(JSON.stringify([SchoolID, ddlsub, ClassID]), "/api/TimeTableApi", "GetEmpsbyloginidbyClass", "ddl_employee", false, "", "", "", "");

            }
        });

        //var loginuser = (sessionStorage.getItem("userId"));
        //var typeuser = sessionStorage.getItem("type");
        //callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/TimeTableApi", "GetSubjectsbyLOGIID", "ddl_subject", false, "", "", "", "");
        //var loginuser = (sessionStorage.getItem("userId"));
        //var typeuser = sessionStorage.getItem("type");
        //callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/TimeTableApi", "GetEmpsbyloginid", "ddl_employee", false, "", "", "", "");
    });


    //function getTeacherBySubjectId(val)
    //{

    //    var loginuser = (sessionStorage.getItem("userId"));
    //    var typeuser = sessionStorage.getItem("type");
    //    callServiceMethodForDDl(JSON.stringify([val, loginuser, typeuser]), "/api/TimeTableApi", "getEmployeeBySubjectIdlogin", "ddl_employee", false, "", "", "", "");
    //}

    $("#ddl_employee").change(function () {
        var empID = getControlValue("ddl_employee");
        var empNm = $("#ddl_employee option:selected").text();
        var ctdetID = getControlValue("hdnCTdetID");
        var day = getControlValue("hdnSelDay");
        if (empID != null && (empID != -1) && (empID != undefined)) {
            $.ajax({
                url: "/api/TimeTableApi/CheckTeacher",
                type: "Post",
                data: JSON.stringify([empID, ctdetID, day]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data != 0) {
                        alert(empNm+" is not free at this period. Please assign someone else.");
                        setControlValue("ddl_employee", -1);
                    }
                }
            });
        }
    });

   
    function openModal()
    {
        $('#myModal').modal('show');
    }

    function GetValues(ID)
    {
        var par = {
            val:ID
        }
        $.ajax({
            url: "/api/TimeTableApi/getTimeTableConfigDet",// "~/Masters/GetDeptMethod",
            type: "Post",
            data: JSON.stringify(par), //{ Name: name,ddlAcademicYr
            //// Address: address, DOB: dob },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if(data.ID!=-1)
                {
                    setControlValue("hdn", data.ID);
                    setControlValue("hdnCTid", data.con.CT_ID);
                    setControlValue("ttName", data.con.Name);
                    setControlValue("ttName1", data.con.Name);                    
                    setControlValue("spClass", data.Course);
                    setControlValue("spCourse", data.Course);
                    setControlValue("spFromDt", data.fromDT);
                    setControlValue("spToDt", data.ToDt);
                    setControlValue("hdnWeekDays", data.WeekDaysNm);
                    var wn = data.con.WeekDays.split(',');
                    var w = data.WeekDaysNm.split(',');
                    var colCount = w.length;
                    $("#theadTimeTable tr").remove();
                    $("#tbodyEmployeeDetails tr").remove();
                    var html = '<tr><th class="text-center">Class Timing</th>';
                    for (var j = 0; j < colCount; j++) {
                        html += '<th class="text-center"><input type="hidden" value="' + wn[j] + '"/>' + w[j] + '</th>';
                    }
                    html += "</tr>";
                    $(html).appendTo('#theadTimeTable');

                    var abc = data.TimeTableList;

                    var html2 = '';
                    $.each(data.TimeTableList, function (index, item) {
                        if (index == 0)
                        {
                            html2 = '<tr>';
                        }
                        else {
                            html2 = html2 + '<tr>';
                        }
                        html2 += "<td class='text-center'><label>" + item.timingNm + " </label></td>";
                        $.each(item.TimeTableCLS_list, function (index1, item1) {
                            if (item.period.IsBreak != true) {
                                if (item1.SubjectID != null && item1.SubjectID != undefined && item1.SubjectID != -1 && item1.TeacherID != null && item1.TeacherID != undefined && item1.TeacherID != -1)
                                {
                                    html2 += '<td class="text-center"><a href="#" title="" onclick="EditPeriodDet(this,' + item1.ID + ',' + item1.CTDet_ID + ',' + item1.CT_ID + ',' + item1.WeekDay + ',' + index + ',' + index1 + ',' + 1 + ',' + item1.SubjectID + ',' + item1.TeacherID + ')"><span data-toggle="tooltip" ,="" title="" data-original-title="">' + item1.subjectNm + '(' + item1.teacherNm + ')</span></a><br><a class="text-red" href="#" title="Delete Lecture" data-toggle="tooltip" style="padding-left:5px;font-size:22px" onclick="DeletePeriod(' + item1.ID + ')" data-original-title="Delete Lecture"><i class="fa fa-trash-o"></i></a> </td>';
                                }
                                else {
                                    html2 += '<td class="text-center"><a class="text-green" href="#" title="Assign Lecture" style="font-size: 15px; font-weight: bold;" onclick="EditPeriodDet(this,' + item1.ID + ',' + item1.CTDet_ID + ',' + item1.CT_ID + ',' + item1.WeekDay + ',' + index + ',' + index1 + ',' + 0 + ',' + item1.SubjectID + ',' + item1.TeacherID + ')">Assign</a> </td>';
                                }
                               }
                            else {
                                html2 += '<td class="text-center"><span class="text-red" title="Break" style="font-size: 15px;font-weight: bold;">Break</span> </td>';
                            }
                            
                            //
                        });
                        html2 += "</tr>";
                    });
                    $(html2).appendTo('#tbodyEmployeeDetails');
                    //fillDataTable(data.ID);example1Row
                }
            }
        });
    }

    function fillDataTable(x)
    {
        setTimeout(function () {
            callJTemplateServiceMethod(JSON.stringify([x]), "/api/TimeTableApi", "GetClassTimingDet",
           "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");

        }, 800);
    }

    function successMsg(p1, p2, p3, datas) {
        //setTimeout(function () {
        //    $('#example1').DataTable();
        //}, 1000);
    }

    //
    $("#Assign").click(function () {
        if ($("#weekly-timetable-form").valid()) {
            $("#loader").fadeIn();
            var status = 1;
            var ttID = getControlValue("hdnTTid");
            var SubID = getControlValue("ddl_subject");
            var empID = getControlValue("ddl_employee");
            if (ttID != undefined && ttID != "" && ttID != null) {
                SaveDetails(ttID, SubID, empID, status);


            }
        }
    });

    function SaveDetails(id,sub,emp,status)
    {
        var Items = new Array();
        var assignPeriod={
            ID:id,
            SubjectID: sub,
            TeacherID: emp,
            Status:status
        }
        var Student = {
            ID: id,
            tt: assignPeriod,
            ViewType: "CreateTimeTable"
        }
        Items.push(Student);

        $.ajax({
            url: "/api/TimeTableApi/SaveTiming",
            type: "Post",
            data: JSON.stringify(Items),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                
                  
                alert(data.Msg);
                $("#loader").fadeOut();
                if (data.ID != -1) {
                    //setControlValue("hdn", CT_id);
                    //setControlValue("hdnID", 0);
                    //setControlValue("PeriodName", "");
                    //setControlValue("sTime", "");
                    setControlValue("hdnTTid", 0);
                    setControlValue("ddl_subject", -1);
                    setControlValue("ddl_employee", -1);
                    $('#myModal').modal('hide');
                }

                GetValues(getControlValue("hdn"));
            }
        });
    }

    function Edit(id,name,stime,etime,status,isbreak)
    {
        setControlValue("hdnID", id);
        setControlValue("PeriodName", name);
        setControlValue("sTime", stime);
        setControlValue("eTime", etime);
        $('#is_break').prop('checked', isbreak);

        //status==1?$('#is_break').prop('checked', true):$('#cbActive').prop('checked', false);
        openModal();
    }

    function DeletePeriod(id)
    {
        var result = window.confirm('Are you sure to unassign this period?');
        if (result == true) {
            $("#loader").fadeIn();
            $.ajax({
                url: "/api/TimeTableApi/DeleteRecord",
                type: "Post",
                data: JSON.stringify([id, "CreateTimeTable"]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert(data.Msg);
                    $("#loader").fadeOut();
                    GetValues(getControlValue("hdn"));
                }
            });
        }
    }

    function EditPeriodDet(thss,p1,p2,p3,p4,p5,p6,assigned,p8,p9)
    {
        $("#loader").fadeIn();
        var ttID = p1;
        var ct_DetID = p2;
        var CT_ID = p3;
        var WeekDay = p4;
        var row = p5;
        var col = p6;
        //alert(ttID + "," + ct_DetID + "," + CT_ID + "," + WeekDay + "," + row + "," + col);
        var day = $('#example1 th').eq(p6 + 1).text();

        var time = $(thss).closest('tr').children('td:first').text();
        //  alert($('#'+thss+'  td:first-child').text());

        //alert(td.text());
        setControlValue("spWeekDay", day);
        setControlValue("spTiming", time);
        setControlValue("hdnTTid", ttID);
        setControlValue("hdnCTdetID", ct_DetID); 
        setControlValue("hdnSelDay", WeekDay);

        if (assigned == 1)
        {
            var subID = p8;
            var teacherID = p9;
            setControlValue("ddl_subject", p8);
            setControlValue("ddl_employee", p9);            
        }
        else
        {
            setControlValue("ddl_subject", -1);
            setControlValue("ddl_employee", -1);
        }
        openModal();
        $("#loader").fadeOut();
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#weekly-timetable-form").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                ddl_subject: {
                    selectcheck: true
                },

                ddl_employee: {
                    selectcheck1: true
                },



            },
            messages: {

                ddl_subject: "Please Select Subject",
                ddl_employee: "Please Select Employee"


            }
        })
        jQuery.validator.addMethod('selectcheck', function (value) {
            if (value == "-1") {
                return (value != '-1');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");

        jQuery.validator.addMethod('selectcheck1', function (value) {
            if (value == "-1") {
                return (value != '-1');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");


    });
</script>