﻿
@{
    ViewBag.Title = "TimeTableConfig";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<style type="text/css">
    .imgIcon {
        width: 0.5%;
        height: 0.5%;
    }

    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 8px;
            padding-bottom: 8px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>
<link href="~/css/bootstrap-timepicker.css" rel="stylesheet" />
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<section class="content-header">
    <h1>
        <i class="fa fa-th-list"></i> Manage |<small>Timetable Configuration</small>
    </h1>
    @*<ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/academics/default/index">Academics</a></li>
        <li class="active">Timetable</li>
        <li class="active">Timetable Configuration</li>
    </ul>*@
</section>
<section class="content">


    <div class="box box-solid">
        <div class="extra-div">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i> Search</h3>
                <div class="box-tools">
                    <a class="btn btn-success btn-sm" href="/TimeTable/TimeTableConfigCreate"><i class="fa fa-plus-square"></i> Create New</a>
                </div>
            </div>
        </div>


        <form id="w1">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="Country" class="req">School<span class="requird">*</span></label>
                            <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name" ></select>

                        </div>
                    </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Academic Year</label>
                                <select id="tc_academic_year" class="form-control" aria-required="true" valuefield="ID" textfield="StartYear" blankRowValue="-1" blankRowText="----Select----"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Class</label>
                                <select class="form-control" id="ddlCourse" valuefield="Id" textfield="CourseName" blankRowValue="-1" blankRowText="----Select----" aria-required="true"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Section</label>
                                <select class="form-control" id="ddlSection" valuefield="Id" textfield="SectionName" blankRowValue="-1" blankRowText="----Select----"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input type="text" id="tc_name" class="form-control" placeholder="Timetable Name">

                            </div>
                        </div>
                    </div>
                    <div id="accordion" class="box-group">
                        <h4><a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="" aria-expanded="true">	<i class="fa fa-search"></i> Advance Search </a></h4>

                        <div class="panel-collapse collapse" id="collapseThree" aria-expanded="false" style="">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Classtiming</label>
                                        <select class="form-control" id="tc_classtiming" valuefield="ID" textfield="timingNm" blankRowValue="-1" blankRowText="----Select----"></select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Start Date</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" id="tc_from_date" class="form-control dtpicker" readonly="" size="10">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">End Date</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" id="tc_To_date" class="form-control dtpicker" readonly="" size="10">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Status</label>
                                        <select id="ddl_status" class="form-control">
                                            <option value="-1">---- Select Status ----</option>
                                            <option value="1">Active</option>
                                            <option value="0">Inactive</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="box-footer">
                <button type="button" id="btnSearch" class="btn btn-info">Search</button>    <a class="btn btn-default" href="#" onclick="ResetAll()">Reset</a>
            </div>

        </form>
    </div>
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-eye"></i> Timetable Configuration</h3>
        </div>
        <div class="box-body table-responsive">

            <div id="w2" class="grid-view">
                <table class="table table-striped table-bordered" id="example1">
                    <thead>
                        <tr>
                        <th>#</th>
                        <th>School</th>
                        <th>Name</th>
                        <th>Academic Year</th>
                        <th>Class-Section</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th class="action-column">Action</th></tr>
                    </thead>
                    <tbody id="tbodyEmployeeDetails">
                        @*<tr data-key="4">
                        <td>1</td>
                        <td><a href="/timetable/timetable-configuration/view-weekly-tt?id=4" data-pjax="0">tt</a></td>
                        <td>2016-17</td>
                        <td>Secondary</td>
                        <td>Year7</td>
                        <td>Year7-Sec1</td>
                        <td>Dec 1, 2017</td>
                        <td>Dec 31, 2017</td>
                        <td>Weekly Format</td>
                        <td class="text-center"><a class="toggle-column" href="/timetable/timetable-configuration/toggle?id=4" title="Inactive" data-method="post" data-pjax="0"><span class="glyphicon glyphicon-ok-circle fa-lg"></span></a></td>
                        <td><a href="/timetable/timetable-configuration/view?id=4" title="View" data-target="#globalModal" data-toggle="modal"><span class="glyphicon glyphicon-eye-open"></span></a> <a href="/timetable/timetable-configuration/update?id=4" title="Update" data-target="#globalModal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></a> <a href="/timetable/timetable-configuration/delete?id=4" title="Delete" data-confirm="Are you sure you want to delete this item?" data-method="post"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>*@
                    </tbody>
                </table>
            </div>
            <script type="text/html" id="divEmployeeDetailsJTemplte">
                {#foreach $T as Datashort}
                <tr>
                    <td style="width:10%;">
                        { $T.Datashort.CountID}
                    </td>
                    <td>
                        {$T.Datashort.School}
                    </td>
                    <td>
                        <a href="#" title="View Details" onclick="GoToCreateTimeTable({ $T.Datashort.ID})">{ $T.Datashort.con.Name}</a>

                    </td>
                    <td>
                        { $T.Datashort.AcYear}
                    </td>
                    <td>
                        { $T.Datashort.Course}
                    </td>
                    <td>
                        { $T.Datashort.fromDT}
                    </td>
                    <td>
                        { $T.Datashort.ToDt}
                    </td>
                    <td style="width:15%;">
                        <span class="{ $T.Datashort.style}" title="{ $T.Datashort.action}" onclick="EditStatus({ $T.Datashort.ID }, '{ $T.Datashort.con.Name}', { $T.Datashort.con.Status }, { $T.Datashort.con.SchoolID })">{ $T.Datashort.StatusNm} </span>
                    </td>
                    <td>
                        @*<i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" onclick="Edit({ $T.Datashort.ID},'{ $T.Datashort.con.Name}',{ $T.Datashort.con.Status})" title="Edit"></i>*@
                        <i class="fa fa-fw fa-eye" style="cursor:pointer" onclick="ViewDetails({ $T.Datashort.ID},'{ $T.Datashort.con.Name}',{ $T.Datashort.con.Status},'{ $T.Datashort.StatusNm}','{ $T.Datashort.Course}','{ $T.Datashort.fromDT}','{ $T.Datashort.ToDt}','{ $T.Datashort.WeekDaysNm}','{ $T.Datashort.timingNm}','{ $T.Datashort.School}')" title="View"></i>
                        <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete({ $T.Datashort.ID})" title="Delete"></i>
                    </td>
                </tr>
                {#/for}
            </script>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-eye"></i> Timetable Configuration		<button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </h3>
                </div> <!-- /.modal-header -->
                <div class="modal-body">
                    <table id="w0" class="table table-striped table-bordered detail-view">
                        <tbody>
                            <tr><th style="width:30%">School</th><td><span id="ddlSchoolName1"></span></td></tr>
                            <tr><th style="width:30%">Name</th><td><span id="spName"></span></td></tr>
                            <tr><th style="width:30%">Class</th><td><span id="spCourse"></span></td></tr>
                            <tr><th style="width:30%">Weekday</th><td><span id="spWeekDays"></span></td></tr>
                            <tr><th style="width:30%">Classtiming</th><td><span id="spClassTiming"></span></td></tr>
                            <tr><th style="width:30%">Start Date</th><td><span id="spStDt"></span></td></tr>
                            <tr><th style="width:30%">End Date</th><td><span id="spEdDt"></span></td></tr>
                            @*<tr><th style="width:30%">Created At</th><td>12/21/17, 12:06 PM</td></tr>
        <tr><th style="width:30%">Created By</th><td>admin@edusec.org</td></tr>
        <tr><th style="width:30%">Updated At</th><td>12/21/17, 12:06 PM</td></tr>
        <tr><th style="width:30%">Updated By</th><td>admin@edusec.org</td></tr>*@
                            <tr>
                                <th style="width:30%">Status</th>
                                <td>
                                    <span class="badge bg-green" id="spActive" style="display:none;"></span>
                                    <span class="badge bg-red" id="spInactive" style="display:none;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success centerSuccess" id="divSucesEmail" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
            <i class="icon fa fa-check"></i>
            <span Id="sentEmailMsg"></span>
        </h4>

    </div>

</section>
<script src="~/js/bootstrap-timepicker.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

        $('.dtpicker').datepicker({
            //dateFormat: 'dd/mm/yy' ,
            autoclose: true,
            format:'dd/mm/yyyy'
        });
        $("#ddlSchoolName").change(function () {
            var SchoolID = getControlValue("ddlSchoolName");
            callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetAcademicYearBySchool", "tc_academic_year", false, "", "", "", "");
        });
        $("#ddlSchoolName").change(function () {
            var SchoolID = getControlValue("ddlSchoolName");
            callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse", false, "", "", "", "");
        });
      
        var SchoolID = getControlValue("ddlSchoolName");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetAcademicYearBySchool", "tc_academic_year", false, "", "", "", "");
        var SchoolID = getControlValue("ddlSchoolName");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse", false, "", "", "", "");
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify(["status", "", "", 1, 0, loginuser, typeuser]), "/api/TimeTableApi", "getClassTimings", "tc_classtiming", false, "", "", "", "");

        $("#ddlCourse").change(function () {
            var ddlCourse = getControlValue("ddlCourse");
            var SchoolID = getControlValue("ddlSchoolName");
            if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined)) {
                callServiceMethodForDDl(JSON.stringify([ddlCourse, SchoolID]), "/api/StudentApi", "GetSectionsbyschool", "ddlSection", false, "", "", "", "");
            }
        }); 

        fillDataTable();

       

        var ID=getQuerystring("id");
        if (typeof (ID) != "undefined") {
            setControlValue("hdn", ID);//
            setControlValue("hdnID", 0);
            GetValues(ID);

        }
        //
        //callServiceMethodForDDl("", "/api/StudentApi", "GetLeaveStatus", "ddlReqStatus", false, "", "", "", "");
    });
    function openModal()
    {
        $('#myModal').modal('show');
    }

    function GetValues(ID)
    {
        $.ajax({
            url: "/api/TimeTableApi/GetClassTiming",// "~/Masters/GetDeptMethod",
            type: "Post",
            data: JSON.stringify([ID]), //{ Name: name,ddlAcademicYr
            //// Address: address, DOB: dob },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if(data.ID!=-1)
                {
                    setControlValue("hdn", data.ID);
                    setControlValue("CTName", data.ct.Name);
                    setControlValue("CTName1", data.ct.Name);
                    setControlValue("Desc", data.ct.Description);

                    fillDataTable(data.ID);
                }
            }
        });
    }

    function fillDataTable() {
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callJTemplateServiceMethod(JSON.stringify(["default", loginuser, typeuser]), "/api/TimeTableApi", "getTimeTableConfig",
           "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");

    }

    function successMsg(p1, p2, p3, datas) {
        $("#loader").fadeOut();
        //setTimeout(function () {
        //    $('#example1').DataTable();
        //}, 1000);
    }

    //
    $("#btnSearch").click(function () {
        search();
    });

    function search()
    {
        $("#loader").fadeIn();
        var year=getControlValue("tc_academic_year");
        var course = getControlValue("ddlCourse");
        var section = getControlValue("ddlSection");
        var ttname = getControlValue("tc_name");
        var timing = getControlValue("tc_classtiming");
        var fromDt = getControlValue("tc_from_date");
        var toDt = getControlValue("tc_To_date");
        var status = getControlValue("ddl_status");
        var SchoolID = getControlValue("ddlSchoolName");
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callJTemplateServiceMethod(JSON.stringify([year, course, section, ttname, timing, fromDt, toDt, status, SchoolID, loginuser, typeuser]), "/api/TimeTableApi", "SearchTimeTableConfig",
           "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");
    }

    function ViewDetails(id,name,status,statusNm,course,fromDt,Edt,weekdays,timing,School)
    {
        setControlValue("spName", name);
        setControlValue("spCourse", course);
        setControlValue("spWeekDays", weekdays);
        setControlValue("spClassTiming", timing);
        setControlValue("spStDt", fromDt);
        setControlValue("spEdDt", Edt);
        if(status==1)
        {
            $("#spActive").show();
            $("#spInactive").hide();
            setControlValue("spActive", statusNm);
        }
        else
        {
            $("#spActive").hide();
            $("#spInactive").show();
            setControlValue("spInactive", statusNm);
        }
        setControlValue("ddlSchoolName1",School);
        openModal();
    }

    function ResetAll()
    {
        setControlValue("tc_academic_year",-1);
        setControlValue("ddlCourse",-1);
        setControlValue("ddlSection",-1);
        setControlValue("tc_name","");
        setControlValue("tc_classtiming",-1);
        setControlValue("tc_from_date","");
        setControlValue("tc_To_date","");
        setControlValue("ddl_status","-1");
        setControlValue("ddlSchoolName", 0);
        fillDataTable();
    }

    function EditStatus(id,name,status)
    {
        //alert(id+','+name+','+status);
        var i=status==1?0:1;
        var Items = new Array();
        var Student = {
            ID: id,
            Status: i,
            ViewType:"TimeTableConfig"
        }
        Items.push(Student);

        $.ajax({
            url: "/api/TimeTableApi/SaveTiming",
            type: "Post",
            data: JSON.stringify(Items),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#divSucesEmail").fadeIn();
                $("#sentEmailMsg").html(data.Msg);
                setTimeout(function () {
                    $("#divSucesEmail").fadeOut();
                    $("#sentEmailMsg").html("");
                }, 2000)
                search();
            }
        });
    }

    function Delete(id)
    {
        var result = window.confirm('Are you sure to delete this record?');
        if (result == true) {
            $.ajax({
                url: "/api/TimeTableApi/DeleteRecord",
                type: "Post",
                data: JSON.stringify([id,"TimeTableConfig"]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divSucesEmail").fadeIn();
                    $("#sentEmailMsg").html(data.Msg);
                    setTimeout(function () {
                        $("#divSucesEmail").fadeOut();
                        $("#sentEmailMsg").html("");
                    }, 2000)
                    search();
                }
            });
        }
    }

    function GoToCreateTimeTable(x)
    {
        window.location.href = "/TimeTable/CreateTimeTable?id="+x;
    }
</script>

