﻿
@{
    ViewBag.Title = "StudentLeave";
    Layout = "~/Views/Shared/_LayoutParents.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Leave Application
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
        </ol>*@
</section>
<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">List of Applied Leaves</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <a href="#" style="width: 150px;float: right;margin-right: 8px" class="btn btn-block btn-primary" onclick="openModal()">Apply here</a>
                        <div style="height:40px"></div>
                        <div>

                            <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                                <thead>
                                    <tr>
                                        <th style="width:10%;">Sr no.</th>
                                        <th>Date from</th>
                                        <th>Date to</th>
                                        <th>Reason</th>
                                        <th>Applied on</th>
                                        <th>Status</th>
                                        <th style="display:none;"></th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyEmployeeDetails"></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <script type="text/html" id="divEmployeeDetailsJTemplte">
                {#foreach $T as Datashort}
                <tr>
                    <td style="width:10%;">
                        { $T.Datashort.leaveID}
                    </td>
                    <td>
                        { $T.Datashort.datefrom}
                    </td>
                    <td>
                        { $T.Datashort.dateto}
                    </td>
                    <td>
                        { $T.Datashort.leave.Reason}
                    </td>
                    <td>
                        { $T.Datashort.RequestDt}
                    </td>
                    <td >
                        <a href="javascript:void(0)" id="EmpStatus_{ $T.Datashort.leaveID}"> { $T.Datashort.statusNm} </a>
                    </td>
                    <td style="display:none;">
                        { $T.Datashort.leave.ID}
                    </td>
                    <td>
                        @*<a href="javascript:void(0)" id="anchrfModelDeocument{ $T.Datashort.Id}" data-toggle="modal" data-target="#myModal" style="display:none" onclick="ViewDocumentsByEmployeeId({ $T.Datashort.Id},'{ $T.Datashort.ImageUpload}')">View Documents</a>*@
                      
                        @*<button type="button" onclick="confirmVMR('Are you sure? You want to Delete this application',employeeActivateDeactivate,'{ $T.Datashort.Status}',{ $T.Datashort.leave.ID})" class="{ $T.Datashort.Extra10}">{ $T.Datashort.Status}</button>*@
                        <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="DeleteLeave('{ $T.Datashort.statusNm}',{ $T.Datashort.leave.ID})"></i>
                    </td>
                </tr>
                {#/for}
            </script>


        </div>
        <!-- /.row -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Apply</h4>
                    </div>
                    <div class="modal-body">
                        @*<div class="col-md-12">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <img id="ImgEmployeeImg" style="height: 183px;width: 218px;" alt="" />


                            </div>
                            <div class="col-md-4"></div>
                            <div style="clear:both"></div>
                        </div>*@

                        <div class="col-md-12">
                                <div class="box-body">
                                    <!-- Date -->
                                    @*<div class="form-group">
                                        <label>Name:</label>
                                        <input type="text" class="form-control" id="txtName" placeholder="Enter ...">
                                    </div>*@
                                    <!-- Date range -->
                                    <div class="form-group">
                                        <label>Select leave duration:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="txtDtRange" readonly>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <div class="form-group">
                                        <label>Total Days:</label>
                                        <span id="lblDays"></span>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                    <div class="form-group">
                                        <label>Purpose:</label>
                                        <textarea class="form-control" rows="3" placeholder="Enter ..." id="txtPurpose"></textarea>
                                        <!-- /.input group -->
                                    </div>
                                    <div class="box-footer">
                                        <input type="button" class="btn btn-primary" value="Apply" id="Apply" name="Save" />
                                        <input type="hidden" id="hdnID" />
                                    </div>
                                    <!-- /.form group -->
                                </div>
                                <!-- /.box-body -->
                           
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="alert alert-success centerSuccess" id="divSucesEmail" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
        <i class="icon fa fa-check"></i>
        <span Id="sentEmailMsg"></span>
    </h4>

</div>
@*<section class="content">
    <div class="box-body">
        <div class="row">
           
        </div>
    </div>
</section>*@
<link href="~/js/PDFExcelDatatable/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var Id = getQuerystring("id");

        if (typeof (Id) != "undefined") {
            setControlValue("hdnID", Id);
        }
        $("#loader").fadeIn();
        var leave = {
            val: Id,
            val1: sessionStorage.getItem("SchoolID")
        }
        callJTemplateServiceMethod(JSON.stringify(leave), "/api/StudentApi", "getStudentsLeaveDetbyID",
            "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");

        
            //DisableDeleteBtn();
    });
    var startDt;
    var endDt;
    $('#txtDtRange').daterangepicker();

    $('#txtDtRange').on('change', function () {
        startDt = $('#txtDtRange').data('daterangepicker').startDate._d;
        endDt = $('#txtDtRange').data('daterangepicker').endDate._d;

        var millisecondsPerDay = 1000 * 60 * 60 * 24;
        var millisBetween = endDt.getTime() - startDt.getTime();
        var days = (millisBetween / millisecondsPerDay)+1;
        $('#lblDays').html(Math.floor(days));
        // Round down.
        //alert(Math.floor(days));
    });

    $("#Apply").click(function () {
        var txt = getControlValue("txtPurpose");
        var id = getControlValue("hdnID");
        if (startDt != undefined && endDt != undefined)
        {
            if(txt!="")
            {
                var Items = new Array();
                var Student = {
                    ID: id,
                    DOB: $('input[name=daterangepicker_start]').val(),
                    MDOB: endDt,
                    PermanentAddress: txt,
                    SchoolID: sessionStorage.getItem("SchoolID")
                }
                Items.push(Student);

                $.ajax({
                    url: "/api/StudentApi/ApplyForLeave",// "~/Masters/GetDeptMethod",
                    type: "Post",
                    data: JSON.stringify(Items), //{ Name: name,ddlAcademicYr
                    //// Address: address, DOB: dob },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#divSucesEmail").fadeIn();
                        $("#sentEmailMsg").html(data.FirstName);
                        setTimeout(function () {
                            $("#divSucesEmail").fadeOut();
                            $("#sentEmailMsg").html("");
                        }, 2000)
                        if (data.RegNo != "0") {
                            setControlValue("txtDtRange", "");
                            setControlValue("txtPurpose", "");
                            $('#myModal').modal('hide');
                        }
                        var Id = getQuerystring("id");

                        if (typeof (Id) != "undefined") {
                            setControlValue("hdnID", Id);
                        }
                        $("#loader").fadeIn();
                        var leave = {
                            val: Id,
                            val1: sessionStorage.getItem("SchoolID")
                        }
                        callJTemplateServiceMethod(JSON.stringify(leave), "/api/StudentApi", "getStudentsLeaveDetbyID",
            "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");
                    }
                });
            }
        }
        

    });

    function openModal()
    {
        $('#myModal').modal('show');
    }

    function DeleteLeave(x,y)
    {
        if(confirm("are you sure?"))
        {
            var id = getControlValue("hdnID");
            if(x=="Pending")
            {
                $.ajax({
                    url: "/api/StudentApi/DeleteLeave",// "~/Masters/GetDeptMethod",
                    type: "Post",
                    data: JSON.stringify([y]), //{ Name: name,ddlAcademicYr
                    //// Address: address, DOB: dob },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#divSucesEmail").fadeIn();
                        $("#sentEmailMsg").html(data.statusNm);
                        setTimeout(function () {
                            $("#divSucesEmail").fadeOut();
                            $("#sentEmailMsg").html("");
                        }, 2000)
                        var Id = getQuerystring("id");

                        if (typeof (Id) != "undefined") {
                            setControlValue("hdnID", Id);
                        }
                        $("#loader").fadeIn();
                        var leave = {
                            val: Id,
                            val1: sessionStorage.getItem("SchoolID")
                        }
                        callJTemplateServiceMethod(JSON.stringify(leave), "/api/StudentApi", "getStudentsLeaveDetbyID",
                            "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");
                    }
                });
            }
            else{alert("Only Pending requests can be deleted");}
        }
    }

    function DisableDeleteBtn()
    {
        setTimeout(function () {
        $('#example1 tr').each(function() {
            var status = $(this).find('td:eq(4)').html();
            if(status!="Pending")
            {
                //$.trim()
                var id=$(this).find('td:eq(5)').html();
                alert(id);
                $("#del"+id).hide();
            }
        });
    }, 1100);
        
    }

    function successMsg(p1, p2, p3, datas) {
        if (datas.length > 0) {
           
            for (var i = 0; i < datas.length; i++) {

                $("#EmpStatus_" + datas[i].leaveID).attr("style", "background-color:" + datas[i].color + ";color:white;padding: 4px;border-radius: 8px;")
            }
        }
        setTimeout(function () {
            $('#example1').DataTable();
            $("#loader").fadeOut();
        }, 1000);
    }

</script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>



