﻿
@{
    ViewBag.Title = "SalaryReports";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<section class="content">


    <div class="box box-solid">
        <div class="et">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i> Search Employee</h3>

            </div>
        </div>

        <form id="w0" action="/employee/emp-master/index" method="get">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>From Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" readonly="readonly" id="txtStartDate" ng-model="txtStartDate">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>To Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" readonly="readonly" id="txtEndDate" ng-model="txtEndDate" />
                            </div>
                            <!-- /.input group -->
                        </div>

                    </div>

                    <div class="col-sm-4">
                        <div class="form-group field-empinfosearch-emp_designation_id">
                            <label for="Country" class="req">School<span class="requird">*</span></label>
                            <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name" ></select>

                            <div class="help-block"></div>
                        </div>
                    </div>




                </div>
                <div class="row">


                    <div class="col-sm-4">
                        <div class="form-group field-empinfosearch-emp_designation_id">
                            <label class="control-label" for="empinfosearch-emp_designation_id">Designation</label>
                            <select class="form-control" id="ddlDesgination" valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--" ng-model="ddlDesgination"></select>

                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-top: 25px;">
                        <div class="form-group field-empinfosearch-searchinput">

                            <input type="text" id="txtEmployeeName" class="form-control" placeholder="Enter Employee First/Last Name or Email Id.">

                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-top: 25px;">
                        <div class="form-group field-empinfosearch-emp_info_id">

                            <input type="text" id="txtEmployeeCode" class="form-control" placeholder="Enter Employee Id">

                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <input class="btn btn-primary" onclick="searchEmployee()" value="Search" type="button" />
                   <a class="btn btn-default" onclick="restClear()" href="javascript:void(0)">Reset</a>
                &nbsp;
                <input type="button" id="create_pdf" value="Export Pdf" onclick="pdfExport()" class="btn btn-primary" />

                <a href="#" class="btn btn-primary" onClick="$('#divExpenseDetails').tableExport({ type: 'excel', escape: 'false', footer: 'true' });">Excel Exports</a>
            </div>

        </form>
    </div>



    <div class="col-md-12" id="divShowEmployees" style="display:none">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Salary Report Details</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div id="divExpenseDetails">

                        <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                            <thead>
                                <tr>

                                    <th>Employee Name</th>
                                    <th>Photo</th>
                                    <th>School</th>
                                    <th>Designation</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Net Salary</th>
                                    <th>Monthly salary</th>
                                    <th>No Of Leave</th>
                                  
                                </tr>
                            </thead>
                            <tbody id="tbodyEmployeeDetails"></tbody>
                            
                                <tfoot><tr><td></td><td></td><td></td><td></td><td><strong id="totalrecordlable">Total</strong></td><td id="tdTotalNetSalary"></td><td id="tdTotalMonthlySalary"></td><td></td></tr></tfoot>
                           
                                </table>
                    </div>

                </div>
            </div>
        </div>
        <script type="text/html" id="divEmployeeDetailsJTemplte">
            {#foreach $T as Datashort}
            <tr>

                <td>
                    { $T.Datashort.EmployeeName}
                </td>
                <td>
                    <img src="{ $T.Datashort.ImageUpload}" alt="#" />
                </td>
                <td>
                    { $T.Datashort.School}
                </td>
                <td>
                    { $T.Datashort.Designation}
                </td>
                <td>
                    { $T.Datashort.FromDate}
                </td>
                <td>
                    { $T.Datashort.ToDate}
                </td>
                <td>
                    { $T.Datashort.NetSalary} <span>/-</span>
                </td>
                <td>
                    { $T.Datashort.MonthlyGross} <span>/-</span>
                </td>
                <td>
                    { $T.Datashort.NoOfLeave}
                </td>

            </tr>
            {#/for}
        </script>
    </div>

</section>
<!-- DataTables -->
<link href="~/js/PDFExcelDatatable/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
 
<script src="~/js/jsExcel/tableExport.js"></script>
<script src="~/js/jsExcel/jquery.base64.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script src="~/js/jsExcel/html2canvas.js"></script>


<script src="~/js/jsExcel/base64.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        var firstDayOfMonth = function () {
            // your special logic...
            return 1;
        };

        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, firstDayOfMonth());
        $('#txtStartDate').datepicker('setDate', startDate);



        var currentTime = new Date()
        var maxDate = new Date(currentTime.getFullYear(), currentTime.getMonth() + 1, +0)
        $("#txtEndDate").datepicker('setDate', maxDate);
        // $("#txtEndDate").datepicker();



        var employye = {
                    FromDate: getControlValue("txtStartDate"),
               ToDate: getControlValue("txtEndDate"),
               loginuser : (sessionStorage.getItem("userId")),
               typeuser : sessionStorage.getItem("type")
                   }

        var ddl = JSON.stringify(employye)

        callJTemplateServiceMethod(ddl, "/api/ReportingAPI", "getSalaryReports",
              "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, showSearchResult, "", "", "");


    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        callServiceMethodForDDl("", "/api/EmployeeAPI", "getAllDesignation", "ddlDesgination", false, "", "", "", "");
        $("#ddlSchoolName").change(function () {
            var School = getControlValue("ddlSchoolName");
            if (School != null && (School != -1) && (School != undefined)) {
                callServiceMethodForDDl(JSON.stringify([School]), "/api/EmployeeAPI", "getAllDesignationNew", "ddlDesgination", false, "", "", "", "");
            }
        });
       });


    function searchEmployee()
    {
        var employye = {


            FromDate: getControlValue("txtStartDate"),
            ToDate: getControlValue("txtEndDate"),
            Designation: getControlValue("ddlDesgination"),

            EmployeeName: getControlValue("txtEmployeeName"),
            Id: getControlValue("txtEmployeeCode"),
            School: getControlValue("ddlSchoolName")
 

        }

        var ddl = JSON.stringify(employye)

        callJTemplateServiceMethod(ddl, "/api/ReportingAPI", "searchsalryDetails",
              "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, showSearchResult, "", "", "");

       // callServiceMethod(ddl, "/api/EmployeeAPI", "searchEmployeeForSms", false, "", "", false, "", false, "", "", "", "");
    }

    function showSearchResult(p1,p2,p3,datas)
    {
       
        var netsalary = 0;
        var monthlygross = 0;
        if (datas.length > 0) {
            $("#tdTotalMonthlySalary").show();
            $("#tdTotalNetSalary").show();
            $("#totalrecordlable").show();
            for (var i = 0; i < datas.length; i++) {
                netsalary += parseFloat(datas[i].NetSalary);
            }
            for (var i = 0; i < datas.length; i++) {
                monthlygross += parseFloat(datas[i].MonthlyGross);
            }
            $("#tdTotalMonthlySalary").html("<strong>" + monthlygross + " /-" + "</strong>");
            $("#tdTotalNetSalary").html("<strong>" + netsalary + " /-" + "</strong>");
            //   alert(netsalary);
        }
        else if (datas.length ==0)
        {
            //netsalary = null;
            //monthlygross = null;

            $("#tdTotalMonthlySalary").hide();
            $("#tdTotalNetSalary").hide();
            $("#totalrecordlable").hide(); 


        }
        $("#divShowEmployees").removeAttr("style");
    //    setTimeout(function () {
    //        $('#example1').DataTable({
    //            dom: 'lBfrtip'
    //});
    //    }, 1000);
   }





    function restClear()
    {

        setControlValue("ddlDesgination", "0");

        setControlValue("txtEmployeeName", "");
        setControlValue("txtEmployeeCode", "");


    }


    function generateSalarySlip(Id)
    {
        location.href="/Payroll/SalarySlipGenerate?Id="+Id;
    }
</script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>



<script type="text/javascript">



    function pdfExport() {
        $("#loader").fadeIn();
         var pdf = new jsPDF('p', 'pt', 'a2');

         source = $('#divExpenseDetails')[0];
         pdf.text("Salary Reports", 5 + 360, 20);
         specialElementHandlers = {

             '#bypassme': function (element, renderer) {
                return true
             }
         };
         margins = {
             top: 0,
             bottom: 0,
             left: 10,
             width: 500
         };

         pdf.fromHTML(
         source, // HTML string or DOM elem ref.
         margins.left, // x coord
         margins.top, { // y coord
             'width': "1000", // max width of content on PDF
             'elementHandlers': specialElementHandlers
         },

         function (dispose) {
          pdf.save('SalaryReports.pdf');
         }, margins);
         $("#loader").fadeOut();

     }

</script>

 