﻿
@{
    ViewBag.Title = "StudentsReport";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<section class="content">


    <div class="box box-solid">
        <div class="et">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i> Students Reports</h3>

            </div>
        </div>


        <div class="box-body">
            <div class="row" id="divShowColumnDetails">




            </div>
            <script type="text/html" id="divShowColumnDetailsJTemplte">
                {#foreach $T as Datashort}
                <div class="col-sm-2">
                    <div class="form-group field-empinfosearch-emp_designation_id">
                        <label><input type="checkbox" value="{ $T.Datashort.Section}" />{ $T.Datashort.Section}</label>
                        <div class="help-block"></div>
                    </div>
                </div>
                {#/for}
            </script>
        </div>
        <div class="box-footer">
            <input class="btn btn-primary" onclick="getStudentReports()" value="Get Report" type="button" />
        </div>


    </div>
</section>
<section class="content" style="display:none" id="showBindDetails">


    <div class="box box-solid">
        <div class="et">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i> Student Filters</h3>

            </div>
        </div>

        <form id="w0" action="/employee/emp-master/index" method="get">
            <div class="box-body">
                <div class="row">


                    <div class="col-sm-4">
                        <div class="form-group field-empinfosearch-emp_designation_id">
                            <label for="Country" class="req">School<span class="requird">*</span></label>
                            <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name"></select>

                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group ">
                            <label class="control-label" for="empinfosearch-emp_designation_id">Class</label>
                            <select class="form-control" id="ddlCourse" name="ddlCourse" valuefield="Id" textfield="CourseName" blankRowValue="0" blankRowText="----Select----"></select>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="empinfosearch-emp_designation_id">Section</label>
                            <select class="form-control" id="ddlSection" valuefield="Id" textfield="SectionName" blankRowValue="0" blankRowText="----Select----"></select>

                            <div class="help-block"></div>
                        </div>
                    </div>
                   

                    </div>

              
                <div class="row">

                     <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="empinfosearch-emp_designation_id">Status</label>
                            <select class="form-control" id="ddlStatus" valuefield="StatusID" name="ddlStatus" textfield="Status" blankRowValue="0" blankRowText="----Select----"></select>
                            <div class="help-block"></div>
                        </div>
                         </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="empinfosearch-emp_designation_id">Roll No</label>
                            <input type="text" id="txtRollno" class="form-control" placeholder="Enter Roll No">
                             <div class="help-block"></div>
                        </div>
                    </div>


                    <div class="col-sm-4" style="margin-top: 25px;">
                        <div class="form-group field-empinfosearch-searchinput">

                            <input type="text" id="txtEmployeeName" class="form-control" placeholder="Enter Student First/Last Name">

                            <div class="help-block"></div>
                        </div>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="col-sm-4" style="margin-top: 25px;">
                        <div class="form-group field-empinfosearch-emp_info_id">

                            <input type="text" id="txtEmployeeCode" class="form-control" placeholder="Enter Registration  No">

                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>



                 
                </div>
            <div class="box-footer">
                <input class="btn btn-primary" onclick="searchStudentsReports()" value="Search" type="button" />
                <a class="btn btn-default" onclick="restClear()" href="javascript:void(0)">Reset</a>
                <input type="button" id="create_pdf" value="Export Pdf" onclick="pdfExport()" class="btn btn-primary" />

                <a href="#" class="btn btn-primary" onClick="$('#example1').tableExport({ type: 'excel', escape: 'false', defaultFileName: 'rahul', bootstrap: true });">Excel Exports</a>
            </div>

        </form>
    </div>



    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group">

                    <div id="divmonthlyAttendenceReport" style="overflow-x: auto;">
                        <table id="example1" style="max-width:2000px" class="table table-bordered table-striped tbl20 htmlTempletes">
                            <thead  id="tblempheaderDetails">
                                <tr>
                                    <th style="display:none" class="RegistrationNo">Reg No</th>
                                    <th style="display:none" class="FirstName">FName</th>
                                    <th style="display:none" class="MiddleName">MName</th>
                                    <th style="display:none" class="LastName">LName</th>

                                    <th style="display:none" class="Class">Class</th>
                                    <th style="display:none" class="Section">Section</th>
                                    <th style="display:none" class="School">School</th>
                                    <th style="display:none" class="RollNo">Roll No</th>
                                    <th style="display:none" class="DOB">DOB</th>
                                    <th style="display:none" class="Status">Status</th>
                                    <th style="display:none" class="Sms mobileNo">Mobile No</th>
                                    <th style="display:none" class="Father Name">Father Name</th>
                                    <th style="display:none" class="MotherName">Mother Name</th>
                                    <th style="display:none" class="Father Mobile">FMobile No</th>
                                    <th style="display:none" class="Mother Mobile">MMobile No</th>

                                    <th style="display:none" class="AadharNo">Adhaar No</th>
                                    <th style="display:none" class="AcademicYear">Academic Year</th>
                                    <th style="display:none" class="Gender">Gender</th>
                                    <th style="display:none" class="Stream">Stream</th>
                                    <th style="display:none" class="BloodGroup">Blood Group</th>
                                    <th style="display:none" class="BirthPlace">Birth place</th>
                                    <th style="display:none" class="Caste">Caste</th>
                                    <th style="display:none" class="Father Email">FEmail</th>
                                    <th style="display:none" class="Mother Email">MEmail</th>
                                    <th style="display:none" class="Father AdhaarNo">FAdhaarNo</th>
                                    <th style="display:none" class="Mother AdharNo">MAhaarNo</th>
                                    <th style="display:none" class="EmergencyNo">Emergency No</th>
                                    <th style="display:none" class="Emergency Contact Person">Contact Person</th>
                                    <th style="display:none" class="GuardianName">Guardian Name</th>
                                    <th style="display:none" class="Guardian Email">Guardian Email</th>
                                    <th style="display:none" class="Guardian Mobile">Guardian Mobile</th>
                                    <th style="display:none" class="Guardian AdharNo">Guardian Adhaar</th>
                                    <th style="display:none" class="JoiningDate">Joining Date</th>


                                </tr>
                            </thead>
                            <tbody id="tbodyEmployeeDetails"></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <script type="text/html" id="divEmployeeDetailsJTemplte">
            {#foreach $T as Datashort}
            <tr>
                <td style="display:none" class="RegistrationNo">
                    { $T.Datashort.RegNo}
                </td>
                <td style="display:none" class="FirstName">
                    { $T.Datashort.FirstName}
                </td>
                <td style="display:none" class="MiddleName">
                    { $T.Datashort.MiddleName}
                </td>
                <td style="display:none" class="LastName">
                    { $T.Datashort.LastName}
                </td>

                <td style="display:none" class="Class">
                    { $T.Datashort.Class}
                </td>
                <td style="display:none" class="Section">
                    { $T.Datashort.Section}
                </td>
                <td style="display:none" class="School">
                    { $T.Datashort.School}
                </td>
                <td style="display:none" class="RollNo">
                    { $T.Datashort.RollNo}
                </td>
                <td style="display:none" class="DOB">
                    { $T.Datashort.SDOB}
                </td>
                <td style="display:none" class="Status">
                    { $T.Datashort.SStatus}
                </td>
                <td style="display:none" class="Sms mobileNo">
                    { $T.Datashort.SMSmobileNo}
                </td>
                <td style="display:none" class="Father Name">
                    { $T.Datashort.FatherName}
                </td>

                <td style="display:none" class="MotherName">
                    { $T.Datashort.MotherName}
                </td>

                <td style="display:none" class="Father Mobile">
                    { $T.Datashort.FMobile}
                </td>
                <td style="display:none" class="Mother Mobile">
                    { $T.Datashort.Mmobile}
                </td>

                <td style="display:none" class="AadharNo">
                    { $T.Datashort.AadharNo}
                </td>
                <td style="display:none" class="AcademicYear">
                    { $T.Datashort.AcademicYear}
                </td>
                <td style="display:none" class="Gender">
                    { $T.Datashort.Gender}
                </td>
                <td style="display:none" class="Stream">
                    { $T.Datashort.stream}
                </td>
                <td style="display:none" class="BloodGroup">
                    { $T.Datashort.BloodGroup}
                </td>
                <td style="display:none" class="BirthPlace">
                    { $T.Datashort.BirthPlace}
                </td>
                <td style="display:none" class="Caste">
                    { $T.Datashort.Caste}
                </td>
                <td style="display:none" class="Father Email">
                    { $T.Datashort.Fmail}
                </td>
                <td style="display:none" class="Mother Email">
                    { $T.Datashort.Mmail}
                </td>
                <td style="display:none" class="Father AdhaarNo">
                    { $T.Datashort.FAdharNo}
                </td>
                <td style="display:none" class="Mother AdharNo">
                    { $T.Datashort.MAdharNo}
                </td>
                <td style="display:none" class="EmergencyNo">
                    { $T.Datashort.EmergencyNo}
                </td>
                <td style="display:none" class="Emergency Contact Person">
                    { $T.Datashort.EmerContPerson}
                </td>
                <td style="display:none" class="GuardianName">
                    { $T.Datashort.GuardianName}
                </td>
                <td style="display:none" class="Guardian Email">
                    { $T.Datashort.Gmail}
                </td>
                <td style="display:none" class="Guardian Mobile">
                    { $T.Datashort.Gmobile}
                <td style="display:none" class="Guardian AdharNo">
                    { $T.Datashort.GAdharNo}

                </td>
                <td style="display:none" class="JoiningDate">
                    { $T.Datashort.jDate}

                </td>


            </tr>
            {#/for}
        </script>


    </div>
    <div id="divActualGridClone"></div>
</section>
<!-- DataTables -->
<link href="~/js/PDFExcelDatatable/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>

<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script src="~/js/jsExcel/tableExport.js"></script>
<script src="~/js/jsExcel/jquery.base64.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script src="~/js/jsExcel/html2canvas.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse", false, "", "", "", "");
        callServiceMethodForDDl("", "/api/StudentApi", "GetStatus", "ddlStatus", false, "", "", "", "");
      //  $("#loader").fadeIn();
        callJTemplateServiceMethod("", "/api/ReportingAPI", "getStudentColumnForGrids",
           "divShowColumnDetails", "divShowColumnDetailsJTemplte", false, "", "", "", "");

       
    });

    $("#ddlCourse").change(function () {
        var ddlCourse = getControlValue("ddlCourse");
        if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined)) {
            var SchoolID = sessionStorage.getItem("SchoolID");
            callServiceMethodForDDl(JSON.stringify([ddlCourse, SchoolID]), "/api/StudentApi", "GetSectionsbyschool", "ddlSection", false, "", "", "", "");
 
        }
    });
 

    function searchStudentsReports()
    {
        var employye = {

            RegNo: getControlValue("txtEmployeeCode"),

            Class: getControlValue("ddlCourse"),
            Section: getControlValue("ddlSection"),

            SStatus: getControlValue("ddlStatus"),
          //  JoiningDate: getControlValue("txtJoinDate"),
            FirstName: getControlValue("txtEmployeeName"),
            RollNo: getControlValue("txtRollno"),
            School: getControlValue("ddlSchoolName")

        }

        var ddl = JSON.stringify(employye)

        callJTemplateServiceMethod(ddl, "/api/ReportingAPI", "searchStudentReporting",
              "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");
    }


</script>

<script type="text/javascript">



    function pdfExport() {
        $("#example1").clone().appendTo("#divActualGridClone");
        $("#divActualGridClone").find("#example1").attr("id", "example2");
        $("#example2").find("#tblempheaderDetails").attr("id", "tblempheaderDetails1");
        $("#example2").find("#tbodyEmployeeDetails").attr("id", "tbodyEmployeeDetails1");
        $("#tblempheaderDetails1 tr th").each(function () {
            if ($(this).css('display') == 'none') {
                $(this).remove();
            }
        });
        $("#divActualGridClone #tbodyEmployeeDetails1 td").each(function () {
            if ($(this).css('display') == 'none') {
                $(this).remove();
            }
        });

       // $("#loader").fadeIn();
         var pdf = new jsPDF('p', 'pt', 'a2');

         source = $('#divActualGridClone')[0];
         pdf.text("Student Details Reports", 5 + 360, 20);
         specialElementHandlers = {

             '#bypassme': function (element, renderer) {
                return true
             }
         };
         margins = {
             top: 40,
             bottom: 60,
             left: 10,
             width: 1000
         };

         pdf.fromHTML(
         source, // HTML string or DOM elem ref.
         margins.left, // x coord
         margins.top, { // y coord
             'width': "1800", // max width of content on PDF
             'elementHandlers': specialElementHandlers
         },

         function (dispose) {
          pdf.save('StudentReports.pdf');
         }, margins);
         $("#loader").fadeOut();
         $("#divActualGridClone").html("");
     }

</script>
<script type="text/javascript">
    function getStudentReports()
    {        var chekLength = 0;
        var i=0;
    
        $("#divShowColumnDetails input[type=checkbox]").each(function () {
            if (this.checked) {
                i++;
            }
        })
        if (i > 0) {
            $("#loader").fadeIn();
            var loginuser = (sessionStorage.getItem("userId"));
            var typeuser = sessionStorage.getItem("type");
            callJTemplateServiceMethod(JSON.stringify([loginuser, typeuser]), "/api/ReportingAPI", "getAllStudentsDetailsReports",
                   "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");
        }
        else {
            alert("Please Select at least 1 field");
        }
    }

    function successMsg(p1, p2, p3, datas) {

        if (datas.length > 0) {
            $("#showBindDetails").fadeIn();



            $("#divmonthlyAttendenceReport  th").each(function () {
                $(this).attr("style", "display:none");
            });


            $("#divShowColumnDetails input[type=checkbox]").each(function () {
                if (this.checked) {
                    var rahul = this.value

                    $("#divmonthlyAttendenceReport  th").each(function () {
                        if ($(this).attr("class") == rahul) {
                            $(this).show();
                            $(this).attr("style", "width:10pc");
                        }
                        else if ($(this).attr("class") == rahul + " sorting_disabled") {
                            $(this).show();
                            $(this).attr("style", "width:10pc");
                        }
                        else {
                            //  $(this).hide();
                        }


                    })


                    $("#divmonthlyAttendenceReport td").each(function () {
                        if ($(this).attr("class") == rahul) {
                            $(this).show();
                        }
                        else {
                            //  $(this).attr("style", "display:none");
                            //   $(this).hide();
                        }
                    })

                }


            })




            setTimeout(function () {
                $('#example1').DataTable({
                    //destroy: true,
                    "ordering": false,
                    "bInfo": false,
                    paging: false,
                    searching: false,
                    bRetrieve: true,
                    bDestroy: true,

                });
            }, 1000);
            $("#loader").fadeOut();
        }
        else { $("#loader").fadeOut(); }
    }
</script>
