﻿
@{
    ViewBag.Title = "UnpaidFeeReports";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<section class="content">


    




    <form id="form1" name="form1">
        <div class="box box-solid">
            <div class="et">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i>Unpaid Fees Reports Filters</h3>

                </div>
            </div>

            <div class="box-body">
                <div class="row">



                    <div class="col-sm-4">
                        <div class="form-group field-empinfosearch-emp_designation_id">
                            <label for="Country" class="req">School<span class="requird">*</span></label>
                            <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name"></select>

                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group ">
                            <label class="control-label" for="empinfosearch-emp_designation_id">Class <span class="requird">*</span></label>
                            <select class="form-control" id="ddlCourse" name="ddlCourse" valuefield="Id" textfield="CourseName" blankRowValue="0" blankRowText="----Select----"></select>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="empinfosearch-emp_designation_id">Section <span class="requird">*</span></label>
                            <select class="form-control" id="ddlSection" name="ddlSection" valuefield="Id" textfield="SectionName" blankRowValue="0" blankRowText="----Select----"></select>

                            <div class="help-block"></div>
                        </div>


                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="empinfosearch-emp_designation_id">
                                Academic Year <span class="requird">*</span>
                                `
                            </label>
                            <select id="ddl_academic_year" name="ddl_academic_year" class="form-control" valuefield="ID" textfield="StartYear" blankRowValue="-1" blankRowText="----Select----" onchange="getMothsForThisYear(this.value)" aria-required="true"></select>
                            <div class="help-block"></div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="empinfosearch-emp_designation_id">
                                Months <span class="requird">*</span>
                            </label>


                            <select class="form-control select2" name="ddlSelectedMonth" id="ddlSelectedMonth" onchange="getDddlValue()" valuefield="month_id" textfield="month"></select>
                            <div class="help-block"></div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="box-footer">
                <input class="btn btn-primary" onclick="searchUnpaidStudentReports()" value="Search" type="button" />
                <a class="btn btn-default" onclick="restClear()" href="javascript:void(0)">Reset</a>
                <input type="button" id="create_pdf" value="Export Pdf" onclick="pdfExport()" class="btn btn-primary" />

                <a href="#" class="btn btn-primary" onClick="$('#example1').tableExport({ type: 'excel', escape: 'false', defaultFileName :'rahul'});">Excel Exports</a>
            </div>

        </div>
    </form>
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group">

                    <div id="divmonthlyAttendenceReport" style="overflow-x: auto;">
                        <table id="example1" style="max-width:1800px" class="table table-bordered table-striped tbl20 htmlTempletes">
                            <thead id="tblempheaderDetails">
                                <tr>
                                    <th>Reg.No</th>
                                    <th>Student Name</th>
                                    <th>School</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>FeeAmount</th>
                                    <th>Dues Amount</th>
                                    <th>Months</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyEmployeeDetails"></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <script type="text/html" id="divEmployeeDetailsJTemplte">
            {#foreach $T as Datashort}
            <tr>
                <td>
                    { $T.Datashort.RegNo}
                </td>
                <td>
                    { $T.Datashort.FirstName}
                </td>
                <td>
                    { $T.Datashort.School}
                </td>
                <td>
                    { $T.Datashort.Class}
                </td>
                <td>
                    { $T.Datashort.Section}
                </td>
                <td>
                    { $T.Datashort.GuardianName}
                </td>
                <td>
                    { $T.Datashort.Dueamount}
                </td>
                <td>
                    { $T.Datashort.FQualification}
                </td>

            </tr>
            {#/for}
        </script>


    </div>

    <div id="divActualGridClone"></div>
</section>
<!-- DataTables -->
<link href="~/js/PDFExcelDatatable/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>

<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script src="~/js/jsExcel/tableExport.js"></script>
<script src="~/js/jsExcel/jquery.base64.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script src="~/js/jsExcel/html2canvas.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        var School = getControlValue("ddlSchoolName");
        if (School != null && (School != -1) && (School != undefined)) {
            var SchoolID = sessionStorage.getItem("SchoolID");
            callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse", false, "", "", "", "");
            //callServiceMethodForDDl(JSON.stringify([School]), "/api/StudentApi", "GetClassesNew", "ddlCourse", false, "", "", "", "");
        }
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetAcademicYearBySchool", "ddl_academic_year", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/TimeTableApi", "GetAcademicYear", "ddl_academic_year", false, "", "", "", "");
        callServiceMethodForDDl("", "/api/StudentApi", "GetClasses", "ddlCourse", false, "", "", "", "");
    })
    function getMothsForThisYear(val)
    {
        var ddlCourse = val
        if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined))
        {
           
            callServiceMethodForDDl(JSON.stringify([ddlCourse]), "/api/FeesApi", "GetMonthsBySession", "ddlSelectedMonth", false, "", "", "", "");
            //callServiceMethodForDDl(JSON.stringify([ddlCourse]), "/api/FeesApi", "GetMonthsBySession", "ddlSelectedMonth", false, "", "", "", "");
        }
    }
    $("#ddlSchoolName").change(function () {
        var School = getControlValue("ddlSchoolName");
        if (School != null && (School != -1) && (School != undefined)) {
            callServiceMethodForDDl(JSON.stringify([School]), "/api/StudentApi", "GetClassesNew", "ddlCourse", false, "", "", "", "");
        }
    });

    $("#ddlCourse").change(function () {
        var ddlCourse = getControlValue("ddlCourse");
        if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined)) {
            var SchoolID = sessionStorage.getItem("SchoolID");
            callServiceMethodForDDl(JSON.stringify([ddlCourse, SchoolID]), "/api/StudentApi", "GetSectionsbyschool", "ddlSection", false, "", "", "", "");
            //callServiceMethodForDDl(JSON.stringify([ddlCourse]), "/api/StudentApi", "GetSections", "ddlSection", false, "", "", "", "");
         }
    });

    function searchUnpaidStudentReports()
    {
        if ($("#form1").valid()) {
            var unpaid = {
                Class: getControlValue("ddlCourse"),
                Section: getControlValue("ddlSection"),
                AcademicYear: getControlValue("ddl_academic_year"),
                MotherTongue: getControlValue("ddlSelectedMonth"),
                FQualification: $("#ddlSelectedMonth option:selected").text(),
                School: getControlValue("ddlSchoolName"),
            }
            var ddl = JSON.stringify(unpaid)

            callJTemplateServiceMethod(ddl, "/api/ReportingAPI", "getUnpaidFeesStudentReports",
                  "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "")
        }

    }

    function successMsg(p1, p2, p3, datas)
    {

    }
</script>

<script type="text/javascript">



    function pdfExport() {
        $("#loader").fadeIn();
         var pdf = new jsPDF('p', 'pt', 'a2');

         source = $('#divmonthlyAttendenceReport')[0];
         pdf.text("UnPaid Fees Reports", 5 + 360, 20);
         specialElementHandlers = {

             '#bypassme': function (element, renderer) {
                return true
             }
         };
         margins = {
             top: 0,
             bottom: 0,
             left: 10,
             width: 500
         };

         pdf.fromHTML(
         source, // HTML string or DOM elem ref.
         margins.left, // x coord
         margins.top, { // y coord
             'width': "1000", // max width of content on PDF
             'elementHandlers': specialElementHandlers
         },

         function (dispose) {
          pdf.save('UnpaidFeesReports.pdf');
         }, margins);
         $("#loader").fadeOut();

     }

</script>



<script type="text/javascript">
    $(document).ready(function () {
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                ddlCourse: {
                    selectcheck: true
                },
                ddlSection: {
                    selectcheck1: true
                },
                ddl_academic_year: {
                            selectcheck2: true
                        },
              ddlSelectedMonth: {
                            selectcheck3: true
                       }

            },
            messages: {
                ddlCourse: "Please Select  Class",
                ddlSection: "Please Select Section",
                ddl_academic_year: "Please Select Academic year",
                ddlSelectedMonth:"Please Select Month"

               }
        })
        jQuery.validator.addMethod('selectcheck', function (value) {
            if (value == "0") {
                return (value != '0');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");

        jQuery.validator.addMethod('selectcheck1', function (value) {
            if (value == "0") {
                return (value != '0');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");
        jQuery.validator.addMethod('selectcheck2', function (value) {
            if (value == "-1") {
                return (value != '-1');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");
        jQuery.validator.addMethod('selectcheck3', function (value) {
            if (value == "-1") {
                return (value != '-1');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");


    });
</script>