﻿
@using System.Data;
@using schoolERP_BLL


@{
    ViewBag.Title = "NewCountry";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<section class="content" ng-app="myApp" ng-controller="mycntrl">
    <div class="row">

        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add New Country</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" id="form1" name="form1">
                    <div class="alert alert-success centerSuccess" id="divsuccesmsg" style="display:none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            <i class="icon fa fa-check"></i>
                            success! <span ng-bind="successMsg"></span>
                        </h4>

                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-5 text-right">
                                <input type="text" style="display:none" ng-model="txtCountryId" />
                                <label for="exampleInputEmail1" class="control-label">Country Name <span class="requird">*</span></label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="txtCountryName" ng-model="txtCountryName" id="txtCountryName" placeholder="Enter Country Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 text-right">

                            </div>
                            <div class="col-md-5">
                                <input type="checkbox" id="chkstatus" ng-model="chkstatus">&nbsp;&nbsp;&nbsp; Active
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer" align="center">
                        @*<button type="submit" class="btn btn-primary">Submit</button>*@
                        <input type="button" ng-click="saveCountry()" class="btn btn-primary" value="Save" />
                        <input type="button" ng-click="clearAllTexbox()" class="btn btn-primary" value="Reset" />
                    </div>
                </form>
            </div>
            <!-- /.box -->



        </div>
        <!--/.col (left) -->




        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">View Country</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">

                        <table id="example1" class="table table-striped table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Country Name</th>
                                    <th class="no-sort">Status</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody id="tbodycountryList">
                                <tr ng-repeat="employee in employees" ng-class-odd="'oddTr'">
                                    <td>
                                        {{employee.Name}}

                                    </td>
                                    <td>
                                        {{employee.Statuss}}

                                    </td>
                                    <td>
                                        <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" ng-click="editCountryById(employee)"></i>
                                        &nbsp;
                                        <i class="fa fa-fw fa-trash" style="cursor:pointer" ng-click="deleteCountryById(employee)"></i>
                                    </td>


                                </tr>


                            </tbody>

                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- /.row -->
</section>


<script src="~/js/angular.min.js"></script>



<script src="~/js/Angular/Module.js"></script>
<script src="~/js/Angular/Service.js"></script>
<script src="~/js/Angular/controller.js"></script>

<!-- DataTables -->
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }
</style>


<script type="text/javascript">
    $(document).ready(function () {      
        $("#loader").fadeOut();
        // var UserID = sessionStorage.getItem("userId");
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                txtCountryName: "required",
                txtCountryName: "required",
                phoneno: {
                    required: true,
                    number: true
                },
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                txtCountryName: "Please Enter Country Name",
                phoneno: "Please specify your name"

            }
        })


    });
</script>