﻿
@{
    ViewBag.Title = "TeacherSubjectAllocation";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<style type="text/css">
    .imgIcon {
        width: 0.5%;
        height: 0.5%;
    }

    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    table td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        table td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tr:hover {
            background-color: #ddd;
        }

        table th {
            padding-top: 8px;
            padding-bottom: 8px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>
<link href="~/css/bootstrap-timepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/bower_components/select2/dist/css/select2.min.css">
<script src="~/css/bower_components/select2/dist/js/select2.full.min.js"></script>
<section class="content-header">
    <h1>
        <i class="fa fa-th-list"></i> Subject Teacher Allocation
    </h1>
    @*<ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="/academics/default/index">Academics</a></li>
            <li class="active">Timetable</li>
            <li class="active">Timetable Configuration</li>
        </ul>*@
</section>
<section class="content">
    <div class="box box-solid">
        <div class="extra-div">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i> Search</h3>
                <div class="box-tools">
                    <a class="btn btn-success btn-sm" href="#" style="float: right;margin-right: 8px" onclick="Open()"><i class="fa fa-plus-square"></i> Allocate</a>
                </div>
            </div>
        </div>


        <form id="w1">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Country" class="req">School<span class="requird">*</span></label>
                            <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name"></select>


                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">Subject</label>
                                <select id="ddl_subjects" class="form-control" aria-required="true" valuefield="ID" textfield="Subject" blankRowValue="-1" blankRowText="----Select----"></select>
                            </div>

                            
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Country" class="req">Class<span class="requird">*</span></label>
                            <select class="form-control" name="ddlCourse1" id="ddlCourse1" valuefield="Id" textfield="CourseName" blankRowValue="0" blankRowText="----Select----"></select>

                        </div>
                        <div class="form-group">
                            <label class="control-label">Teacher</label>
                            <select id="ddl_employees" class="form-control" aria-required="true" valuefield="ID" textfield="Msg" blankRowValue="-1" blankRowText="----Select----"></select>
                        </div>



                    </div>

                </div>

            </div>
            <div class="box-footer">
                <button type="button" id="btnSearch" class="btn btn-info" onclick="search()">Search</button>    <a class="btn btn-default" href="#" onclick="ResetAll()">Reset</a>
            </div>

        </form>
    </div>
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-eye"></i> List</h3>
        </div>
        <div class="box-body table-responsive">

            <div id="w2" class="grid-view">
                <table class="table table-striped table-bordered" id="example1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>School</th>
                            <th>Teacher </th>
                            <th>Class</th>
                            <th>Subject</th>
                            <th class="action-column">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyEmployeeDetails">
                        @*<tr data-key="4">
                            <td>1</td>
                            <td><a href="/timetable/timetable-configuration/view-weekly-tt?id=4" data-pjax="0">tt</a></td>
                            <td>2016-17</td>
                            <td>Secondary</td>
                            <td>Year7</td>
                            <td>Year7-Sec1</td>
                            <td>Dec 1, 2017</td>
                            <td>Dec 31, 2017</td>
                            <td>Weekly Format</td>
                            <td class="text-center"><a class="toggle-column" href="/timetable/timetable-configuration/toggle?id=4" title="Inactive" data-method="post" data-pjax="0"><span class="glyphicon glyphicon-ok-circle fa-lg"></span></a></td>
                            <td><a href="/timetable/timetable-configuration/view?id=4" title="View" data-target="#globalModal" data-toggle="modal"><span class="glyphicon glyphicon-eye-open"></span></a> <a href="/timetable/timetable-configuration/update?id=4" title="Update" data-target="#globalModal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></a> <a href="/timetable/timetable-configuration/delete?id=4" title="Delete" data-confirm="Are you sure you want to delete this item?" data-method="post"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
            <script type="text/html" id="divEmployeeDetailsJTemplte">
                {#foreach $T as Datashort}
                <tr>

                    <td style="width:10%;">
                        { $T.Datashort.CountID}
                    </td>
                    <td>
                        { $T.Datashort.School}
                    </td>
                    <td>
                        { $T.Datashort.TeacherName}

                    </td>
                    <td>
                        { $T.Datashort.classname}

                    </td>
                    <td>
                        { $T.Datashort.subject}
                    </td>

                    <td>
                        @*<i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" onclick="Edit({ $T.Datashort.ID},'{ $T.Datashort.con.Name}',{ $T.Datashort.con.Status})" title="Edit"></i>*@
                        <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" onclick="Edit({ $T.Datashort.sta.TeacherID},'{ $T.Datashort.Course}','{ $T.Datashort.sta.Status}','{ $T.Datashort.Classid}',{ $T.Datashort.SchoolID})" title="Edit"></i>
                        <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete({ $T.Datashort.ID})" title="Delete"></i>
                    </td>
                </tr>
                {#/for}
            </script>
        </div>
    </div>

    @*<div class="box box-solid">
        <div class="extra-div">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i> Search</h3>
                    <div class="box-tools">
                        <a class="btn btn-success btn-sm" href="/TimeTable/TimeTableConfigCreate"><i class="fa fa-plus-square"></i> Create New</a>
                    </div>
                </div>
            </div>
        <div class="col-md-12">
            <div class="box-tools">

            </div>
        </div>
        <div class="col-md-6">
            <div class="extra-div">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i>Search Subjects</h3>

                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">

                    </div>
                </div>
            </div>
            <div class="box-body table-responsive">

                <div id="w2" class="grid-view">
                    <table class="table table-striped table-bordered" id="example1">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyEmployeeDetails">
                        </tbody>
                    </table>
                </div>
                <script type="text/html" id="divEmployeeDetailsJTemplte">
                    {#foreach $T as Datashort}
                    <tr>
                        <td style="width:10%;">
                            { $T.Datashort.CountID}
                        </td>
                        <td>
                            <a href="#" title="View Details" onclick="GoToCreateTimeTable({ $T.Datashort.ID})">{ $T.Datashort.con.Name}</a>

                        </td>

                    </tr>
                    {#/for}
                </script>
            </div>
            </div>
            <div class="col-md-6">
                <div class="extra-div">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-search"></i>Search Teacher</h3>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">

                    <div id="w3" class="grid-view">
                        <table class="table table-striped table-bordered" id="example2">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>

                                </tr>
                            </thead>
                            <tbody id="tbodyDetails"></tbody>
                        </table>
                    </div>
                    <script type="text/html" id="divDetailsJTemplte">
                        {#foreach $T as Datashort}
                        <tr>
                            <td style="width:10%;">
                                { $T.Datashort.CountID}
                            </td>
                            <td>
                                <a href="#" title="View Details" onclick="GoToCreateTimeTable({ $T.Datashort.ID})">{ $T.Datashort.con.Name}</a>

                            </td>

                        </tr>
                        {#/for}
                    </script>
                </div>
            </div>

        </div>*@
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-plus-square"></i> Allocate Subjects<button type="button" class="close" data-dismiss="modal" onclick="Close()">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </h3>
                </div>


                <form id="class-timing-detail">
                    <input type="hidden" id="hdnID">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="Country" class="req">School<span class="requird">*</span></label>
                                    <select class="form-control" id="ddlSchoolName1" ng-model="ddlSchoolName1" valuefield="Id" textfield="Name"></select>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Teacher</label>
                                    <select id="ddl_employee" class="form-control" aria-required="true" valuefield="ID" textfield="Msg" blankRowValue="-1" blankRowText="----Select----"></select>
                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Country" class="req">Class<span class="requird">*</span></label>
                            <select class="form-control" name="ddlCourse" id="ddlCourse" valuefield="Id" textfield="CourseName" blankRowValue="0" blankRowText="----Select----"></select>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Subjects</label>
                                    <select class="form-control select2" id="ddl_subs" valuefield="ID" textfield="Subject" multiple="multiple" style="width:100% !important;" disabled></select>
                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label><input type="checkbox" id="cbIsActive">Active</label>
                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                            <div class="modal-footer">
                                <button type="button" id="btnCreate" class="btn btn-primary pull-left">Save</button>    	<button type="button" class="btn btn-default pull-right" onclick="Close()" data-dismiss="modal">Close</button>
                            </div>
</form>
            </div>
        </div>
    </div>
</section>
<div class="alert alert-success centerSuccess" id="divSuccessMsg" style="display:none">

</div>
<script src="~/js/bootstrap-timepicker.js"></script>

<script type="text/javascript">
    var SubArray=new Array();
    $(document).ready(function () {
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName1", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName1", false, "", "", "", "");
        $("#ddl_subs").select2();
        var SchoolID = $("#ddlSchoolName1").val();
       
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetEmpsbySchoolID", "ddl_employee", false, "", "", "", "");
        //var SchoolID = $("#ddlSchoolName").val();
        //callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetSubjectsbySCHOOLid", "ddl_subjects", false, "", "", "", "");
       
        var SchoolID = $("#ddlSchoolName1").val();
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetSubjectsbySCHOOLid", "ddl_subs", false, "", "", "", "");
        //callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetSubjects", "ddl_subs", false, "", "", "", "");
         //callServiceMethodForDDl("", "/api/TimeTableApi", "GetSubjects", "ddl_subjects", false, "", "", "", "");
        var SchoolID = $("#ddlSchoolName").val();
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetEmpsbySchoolID", "ddl_employees", false, "", "", "", "");

        //callServiceMethodForDDl(, "/api/TimeTableApi", "GetEmps", "ddl_employee", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/TimeTableApi", "GetEmps", "ddl_employees", false, "", "", "", "");

        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse", false, "", "", "", "");
     $("#ddlCourse").change(function () {
        var ddlCourse = getControlValue("ddlCourse");
        if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined)) {
            var SchoolID = sessionStorage.getItem("SchoolID");
            callServiceMethodForDDl(JSON.stringify([SchoolID, ddlCourse]), "/api/TimeTableApi", "GetSubjectsbySCHOOLidbyclass", "ddl_subs", false, "", "", "", "");
 
        }
        });

        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse1", false, "", "", "", "");
        $("#ddlCourse1").change(function () {
            var ddlCourse = getControlValue("ddlCourse1");
            if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined)) {
                var SchoolID = sessionStorage.getItem("SchoolID");
                callServiceMethodForDDl(JSON.stringify([SchoolID, ddlCourse]), "/api/TimeTableApi", "GetSubjectsbySCHOOLidbyclass", "ddl_subjects", false, "", "", "", "");

            }
        });
        fillDataTable();

        setControlValue("hdnID", 0);

        //var ID=getQuerystring("id");
        //if (typeof (ID) != "undefined") {
        //    setControlValue("hdn", ID);//
        //    setControlValue("hdnID", 0);
        //    GetValues(ID);
        //}
    });
    function Open()
    {
        var ar={};
        $("#ddl_subs").val(ar).trigger("change");
        openModal();
    }
    function openModal()
    {
        var id=getControlValue("hdnID");
        if(id==0)
        {
            $("#ddl_employee").removeAttr("disabled");
        }
        $('#myModal').modal('show');
    }

    function Close()
    {
        setControlValue("hdnID", 0);
        $("#ddl_subs").attr('disabled', "disabled");
    }

    function GetValues(ID)
    {
        $.ajax({
            url: "/api/TimeTableApi/GetClassTiming",// "~/Masters/GetDeptMethod",
            type: "Post",
            data: JSON.stringify([ID]), //{ Name: name,ddlAcademicYr
            //// Address: address, DOB: dob },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if(data.ID!=-1)
                {
                    setControlValue("hdn", data.ID);
                    setControlValue("CTName", data.ct.Name);
                    setControlValue("CTName1", data.ct.Name);
                    setControlValue("Desc", data.ct.Description);

                    fillDataTable(data.ID);
                }
            }
        });
    }

    function fillDataTable() {
        var emp=getControlValue("ddl_employees");
        var subs = getControlValue("ddl_subjects");
        var SchoolID = getControlValue("ddlSchoolName");
        var ClassID = getControlValue("ddlCourse1");
        $("#loader").fadeIn();
        callJTemplateServiceMethod(JSON.stringify([emp, subs, SchoolID, ClassID]), "/api/TimeTableApi", "SearchSubTeacherDet",
           "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");

    }

    function successMsg(p1, p2, p3, datas) {
        //settimeout(function () {
        //    $('#example1').datatable();
        //}, 1000);
        FreezeSubs();
    }

    //
    $("#btnCreate").click(function () {
        var active=0;
        var emp=getControlValue("ddl_employee");
        
        //var data = $('#ddl_subs').select2('data');
        //var newdata=data;
        //for (var i = 0; i < data.length; i++)
        //{
        //            $.ajax({
        //                url: "/api/TimeTableApi/CheckSubTeacherAvailabiltity",
        //                type: "Post",
        //                data: JSON.stringify([emp,data[i].id]),
        //                contentType: 'application/json; charset=utf-8',
        //                success: function (val) {   
        //                    if(val==true)
        //                    {
        //                        newdata = $.grep($('#ddl_subs').select2('data'), function (value) {
        //                            return value['id'] != data[i].id;
        //                        });
        //                    }
        //                }
        //            });
        //}
        //$('#ddl_subs').select2({data: newdata});
        var subs = getControlValue("ddl_subs");
        //$('#ddl_subs option').each(function (index) {
        //    if(this.selected)
        //    {
        //        $.ajax({
        //            url: "/api/TimeTableApi/CheckSubTeacherAvailabiltity",
        //            type: "Post",
        //            data: JSON.stringify([emp,this.value]),
        //            contentType: 'application/json; charset=utf-8',
        //            success: function (data) {   
        //                if(data)
        //                {
        //                    this.selected=false;
        //                }
        //            }
        //        });
        //    }
        //});
        
        if ($("#cbIsActive").is(':checked'))
        {
            active=1;
        }
        var SchoolID = getControlValue("ddlSchoolName1");
        var ClassID = getControlValue("ddlCourse");
        var Items = new Array();
        var Student = {
            ID: getControlValue("hdnID"),
            Status: active,
            TeacherName:emp,
            subject: subs,
            SchoolID: SchoolID,
            Classid: ClassID,
            ViewType:"TeacherSubjectAllocation"
        }
        Items.push(Student);
        if (emp != null && emp != "" && emp != undefined && subs != null && subs != "" && subs != undefined && SchoolID != null && SchoolID !="")
        {
            $.ajax({
                url: "/api/TimeTableApi/SaveTiming",
                type: "Post",
                data: JSON.stringify(Items),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divSuccessMsg").fadeIn();
                    $("#divSuccessMsg").html("<strong>Success!</strong> " + data.Msg);
                    setTimeout(function () {
                        $("#divSuccessMsg").fadeOut();
                    }, 2000)
                  //  alert(data.Msg);
                    if(data.ID!=-1)
                    {
                        $('#myModal').modal('hide');
                        Close();
                        setControlValue("ddl_employee", -1);
                        var a={};
                        $("#ddl_subs").val(a).trigger("change");
                        
                        $('#cbIsActive').prop('checked', false);
                        fillDataTable();
                    }

                    //search();
                }
            });
        }
    });

    $("#ddl_employee").change(function () {
        var emp=getControlValue("ddl_employee");
        //var subs = getControlValue("ddl_subjects");
        if (emp != null && (emp != -1) && (emp != undefined)) {
            $("#ddl_subs").removeAttr("disabled");
            
        }
        else
        {
            var a={};
            $("#ddl_subs").val(a).trigger("change");
            $("#ddl_subs").attr('disabled', "disabled");
        }
        FreezeSubs();
    });
    //$("#ddl_subjects").change(function () {
    //    //var emp=getControlValue("ddl_employees");
    //    //var subs = getControlValue("ddl_subjects");
    //    //if (subs != null && (subs != -1) && (subs != undefined)) {
    //        fillDataTable();
    //    //}
    //});

    function FreezeSubs()
    {
        var emp = getControlValue("ddl_employee");
        if (emp != null) {
            $.ajax({
                type: "POST",
                url: "/api/TimeTableApi/CheckSubTeacherAvailabiltity",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify([emp]),
                success: function (data) {
                    $("#loader").fadeOut();
                    SubArray = data;
                    // if(data.length>0)
                    // {
                    //     setTimeout(function () {
                    //         for (var i = 0; i < data.length; i++) {

                    //             //for (var j = 0; j < $('#ddlSelectedMonth').children('option').length; j++) {
                    //             //    if (j == data[i].monthId) {
                    //             //        $('#ddlSelectedMonth option').filter('[value="' + j + '"]').attr('disabled', "disabled");
                    //             //    }
                    //             //}
                    //             $('#ddl_subs option').each(function (index) {
                    //                 if(this.value==data[i].SubjectID)
                    //                 {
                    //                     // this.disabled = true;
                    //                     $("#ddl_subs>option[value='"+ this.value +"']").attr('disabled', "disabled");
                    //                     //$('#ddl_subs').option('[value="' + this.value + '"]').attr('disabled', "disabled");
                    //                 }
                    //             });
                    //         }
                    //     }, 1000);
                    // }
                    // else
                    // {
                    //     setTimeout(function () {
                    //     $('#ddl_subs option').each(function (index) {
                    //         // this.disabled = false;
                    //         $("#ddl_subs>option[value='"+ this.value +"']").removeAttr('disabled');
                    //         //$('#ddl_subs').option('[value="' + this.value + '"]').removeAttr('disabled');
                    //     });
                    //     }, 1000);
                    //}
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
      
    }

    function search()
    {
        fillDataTable();
    }

    function Edit(id,subs,status,SchoolId)
    {
        setControlValue("hdnID", 1);
        setControlValue("ddl_employee", id);
        if(subs!=null && subs!="")
        {
            var a=subs.split(',');
        }
        $("#ddl_subs").val(a).trigger("change");
        $('#cbIsActive').prop('checked', status);
        $("#ddl_subs").removeAttr("disabled");

        setControlValue("ddlSchoolName1",SchoolId)
        $("#ddl_employee").attr('disabled', "disabled");
        openModal();
    }

    function ResetAll()
    {
        setControlValue("ddl_employees",-1);
        setControlValue("ddl_subjects",-1);

        fillDataTable();
    }

    function Delete(id)
    {
        var result = window.confirm('Are you sure to delete this record?');
        if (result == true) {
            $.ajax({
                url: "/api/TimeTableApi/DeleteRecord",
                type: "Post",
                data: JSON.stringify([id,"TeacherSubjectAllocation"]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#divSuccessMsg").fadeIn();
                    $("#divSuccessMsg").html("<strong>Success!</strong> " + data.Msg);
                    setTimeout(function () {
                        $("#divSuccessMsg").fadeOut();
                    }, 2000)

                  //  alert(data.Msg);
                    fillDataTable();
                }
            });
        }
    }

    function checkSubjectTeacher()
    {
        var emp=getControlValue("ddl_employee");
        var subs = getControlValue("ddl_subs");
        if(emp!="" && emp!=-1 && emp!="-1")
        {
            //var data = $('#ddl_subs').select2('data');
            //var newdata=data;
            //for (var i = 0; i < data.length; i++)
            //{
            //            $.ajax({
            //                url: "/api/TimeTableApi/CheckSubTeacherAvailabiltity",
            //                type: "Post",
            //                data: JSON.stringify([emp,data[i].id]),
            //                contentType: 'application/json; charset=utf-8',
            //                success: function (val) {   
            //                    if(val==true)
            //                    {
            //                        newdata = $.grep($('#ddl_subs').select2('data'), function (value) {
            //                            return value['id'] != data[i].id;
            //                        });
            //                    }
            //                }
            //            });
            //}
            //$('#ddl_subs').select2({data: newdata});
        }
        
    }

    function GoToCreateTimeTable(x)
    {
        window.location.href = "/TimeTable/CreateTimeTable?id="+x;
    }
</script>