﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smart School Management | Administrator</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/css/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/css/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/css/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/css/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/css/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/css/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/css/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="~/css/txtBtn.css" rel="stylesheet" />


    <!-- jQuery 3 -->
    <script src="~/css/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/css/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    @*<script src="~/js/template.js"></script>*@
    <script src="~/js/jquery-jtemplates_uncompressed.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
 
    <!-- Sparkline -->
    <script src="~/css/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
 

    <!-- Slimscroll -->
    <script src="~/css/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/css/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/css/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
 
    <script src="~/css/dist/js/demo.js"></script>
    <script src="~/js/general.js"></script>
    <script src="~/js/validation.js"></script>
    <script src="~/js/jshelper.js"></script>
  

    <link href="~/js/sweetalert.css" rel="stylesheet" />
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
     <script type="text/javascript">

        $(document).ready(function () {
            $("#Schoolname").html(sessionStorage.getItem("SchoolName") );
       
            //setControlValue("spfulleName", sessionStorage.getItem("fname") + " " + sessionStorage.getItem("lname"));
            //$("#userImage").attr("src", sessionStorage.getItem("image"));
            //setControlValue("pUserName", sessionStorage.getItem("fname") + " " + sessionStorage.getItem("lname"));
            //$("#imgUserImage").attr("src", sessionStorage.getItem("image"));
            //$("#imgUserImage2").attr("src", sessionStorage.getItem("image"));
            

        });

         function SchoolAdminlogout()
        {

            //sessionStorage.removeItem("fname");
            //sessionStorage.removeItem("mname");
            //sessionStorage.removeItem("lname");
            //sessionStorage.removeItem("type");
            //sessionStorage.removeItem("userId");
             sessionStorage.removeItem("SchoolName");
             sessionStorage.removeItem("SchoolCode");
             sessionStorage.removeItem("EmpId");
             location.href = "/Home/LoginOut";
             //location.href = "/Home/Login?m=SchoolAdminlogout";


           
         }

         function EditSchoolDetails() {
            
             location.href = "/AdminPanel/SchoolDetails?Id=" + sessionStorage.getItem("SchoolID");

         }
         function editEmployeeProfile() {
             location.href = "/EmployeeDashboard/SchoolSuperAdminProfile?Id=" + sessionStorage.getItem("EmpId");
         }

    </script>
  

    <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="smartvidhya.com" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>S</b>V</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Smart</b>VIDYA</span>
         
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <div id="google_translate_element" style="display: -webkit-inline-box;margin-top: 13px;"></div>
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        @*<li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            @*<ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul> 
                        </li>*@
                        <!-- Notifications: style can be found in dropdown.less -->
                        @*<li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                     <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>*@
                        <!-- Tasks: style can be found in dropdown.less -->
                        @*<li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>*@
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               
                                <span class="hidden-xs" id="Schoolname"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    @*<img src="" id="imgUserImage" class="img-circle" alt="User Image">*@
                                    <p>
                                        <span id="Schoolname">SchoolAdmin</span>
                                                                      <small></small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
           
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat"  onclick="editEmployeeProfile()" >Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="javascript:void(0)" onclick="SchoolAdminlogout()" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                      
                    </div>
                   
                </div>
               
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">



                    @*<li><a href="/AdminPanel/SchoolDetails"><i class="fa fa-edit"></i> <span>School Details</span></a></li>*@

                    @*<li><a href="/Events/NoticeBoard"><i class="fa fa-edit"></i> <span>Notice Board</span></a></li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Masters</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Masters/NewSchool"><i class="fa fa-circle-o"></i> Add /View School</a></li>
                <li><a href="/Masters/NewCountry"><i class="fa fa-circle-o"></i> Add /View Countries</a></li>
                <li><a href="/Masters/NewState"><i class="fa fa-circle-o"></i> Add /View State</a></li>
                <li><a href="/Masters/NewCity"><i class="fa fa-circle-o"></i> Add /View City</a></li>

                <li><a href="/Masters/AddCast"><i class="fa fa-circle-o"></i> Add /View Cast Category</a></li>
                <li><a href="/Masters/MasterStatus"><i class="fa fa-circle-o"></i> Add /View Status</a></li>

                <li><a href="/Masters/RoleMaster"><i class="fa fa-circle-o"></i> Add /View Roles</a></li>

                <li><a href="/Masters/MasterCastCategory"><i class="fa fa-circle-o"></i> Add /View  Cast</a></li>
                <li><a href="/Masters/DocumentMaster"><i class="fa fa-circle-o"></i> Add /View Documents</a></li>
                <li><a href="/Masters/DocumentationNo"><i class="fa fa-circle-o"></i> Code Generation</a></li>
            </ul>
        </li>*@
                    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-user"></i>
                <span>Employee</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Employee/AddEmployee"><i class="fa fa-user-plus"></i> Add Employee</a></li>
                <li><a href="/Employee/ViewEmployee"><i class="fa fa-reorder"></i> View Employee Details</a></li>


            </ul>
        </li>*@


                    @*<li>
                        <a href="/Employee/AddEmployee">
                            <i class="fa fa-th"></i> <span>Add Employee/Admin</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">Add</small>
                            </span>
                        </a>
                    </li>*@
                    <li>

                        <a href="/Licence/LicenceDetails">
                            <i class="fa fa-th"></i> <span>Licence</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green"></small>
                            </span>
                        </a>
                    </li>
                      <li>
                          <a onclick="EditSchoolDetails()" >
                              <i class="fa fa-th"></i> <span>Edit SchoolDetails</span>
                              <span class="pull-right-container">
                                  <small class="label pull-right bg-green">change</small>
                              </span>
                          </a>
                    </li>
                    <li>
                        <a href="/Employee/ChangePassword">
                            <i class="fa fa-th"></i> <span>Change Password</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">change</small>
                            </span>
                        </a>
                    </li>
                    <li id="li_1" class="treeview linkHide">
                        <a href="#">
                            <i class="fa fa-user"></i> <span>Employee Management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li class="linkHide admin" id="liSubMod_5"><a href="/Masters/DepartmentMasterSchoolAdmin"><i class="fa fa-circle-o"></i>Add Department</a></li>
                            <li class="linkHide admin" id="liSubMod_4"><a href="/Masters/AddDesignationSchoolAdmin"><i class="fa fa-circle-o"></i>Add Designation</a></li>
                            <li class="linkHide admin" id="liSubMod_23"><a href="/Masters/QualficationMasterSchoolAdmin"><i class="fa fa-circle-o"></i>Add Qualification</a></li>
                            <li><a href="/Masters/DocumentationNoSchoolAdmin"><i class="fa fa-circle-o"></i>Code Generation</a></li>

                            <li class="linkHide admin" id="liSubMod_5"><a href="/Masters/DocumentMasterSchoolAdmin"><i class="fa fa-circle-o"></i>Document Master </a></li>
                            <li class="linkHide admin" id="liSubMod_5"><a href="/Employee/AddEmployee"><i class="fa fa-circle-o"></i>Add Employee</a></li>
                            <li class="linkHide admin" id="liSubMod_5"><a href="/Employee/ViewEmployeeSchoolAdmin"><i class="fa fa-circle-o"></i>View Employee</a></li>

                        </ul>
                    </li>

                    @*<li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> Employee Management
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li><a href="/Employee/AddEmployee"><i class="fa fa-circle-o"></i> Add Employee/Admin</a></li>
                    <li><a href="/Masters/DepartmentMaster"><i class="fa fa-circle-o"></i> Lisence</a></li>
                    <li><a href="/Employee/ChangePassword"><i class="fa fa-circle-o"></i> Change Password</a></li>


                    @*<li><a href="/Masters/AddDesignation"><i class="fa fa-circle-o"></i> Add Designation</a></li>
        <li><a href="/Masters/QualficationMaster"><i class="fa fa-circle-o"></i> Add Qualfication</a></li>
        <li><a href="/Employee/AddEmployee"><i class="fa fa-user-plus"></i> Add Employee</a></li>
        <li><a href="/Employee/ViewEmployee"><i class="fa fa-reorder"></i> View Employee Details</a></li>*@

                    @*</ul>
        </li>*@

                    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-bullseye"></i> Payroll
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" style="display: none;">
                <li><a href="/Payroll/salaryHead"><i class="glyphicon glyphicon-tasks"></i> Salary Head</a></li>
                <li><a href="/Payroll/GradeMaster"><i class="glyphicon glyphicon-tasks"></i> Salary Grade</a></li>
                <li><a href="/Payroll/EmployeeAccountInformation"><i class="fa fa-file-text"></i> Emp.Account Information</a></li>
                <li><a href="/Payroll/ViewAssginGrade"><i class="fa fa-circle-o"></i> View Assgin Grade</a></li>
                <li><a href="/Payroll/ViewGradeMaster"><i class="fa fa-circle-o"></i>View Salary Grade </a></li>
                <li><a href="/payroll/ViewSalaryStructure"><i class="fa fa-clock-o"></i>View Salary Structure</a></li>
                <li><a href="/Payroll/GeneratePayslip"><i class="fa fa-clock-o"></i>Proceed to Payment</a></li>

                <li><a href="/Payroll/ViewEmployeeSalaryDetails"><i class="fa fa-circle-o"></i> View Employee Salary Details</a></li>

            </ul>
        </li>*@

                    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-file-text-o"></i> <span>Leave Management</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" style="display: none;">
                <li><a href="/Leave/LeaveCategory"><i class="fa fa-life-bouy"></i>Leave Type</a></li>
                <li><a href="/Leave/LeaveDetails"><i class="fa fa-clock-o"></i>Leave Assign</a></li>
                <li><a href="/Leave/EmployeeLeaveRequest"><i class="fa fa-list-alt"></i>Leave Request</a></li>

            </ul>
        </li>*@

                    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-check-square-o"></i> <span>Attendence</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" style="display:none">
                <li><a href="/Employee/EmployeeAttendence"><i class="glyphicon glyphicon-check"></i>Take Attendance</a></li>
                <li><a href="/Employee/EmployeeAttendenceReports"><i class="fa fa-reorder"></i>Attendence Report</a></li>

            </ul>
        </li>*@


                    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i> <span>Student</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Masters/AddCourse"><i class="fa fa-circle-o"></i> Add Class</a></li>
                <li><a href="/Masters/AddBatch"><i class="fa fa-circle-o"></i> Add Batch</a></li>
                <li><a href="/Masters/StreamMaster"><i class="fa fa-circle-o"></i> Add Stream</a></li>
                <li><a href="/Masters/AddSection"><i class="fa fa-circle-o"></i> Add Section</a></li>
                <li><a href="/Masters/SubjectMaster"><i class="fa fa-circle-o"></i> Add Subject</a></li>
                <li><a href="/Student/AddStudent"><i class="fa fa-user-plus"></i> Add Student</a></li>
                <li><a href="/Student/ViewStudent"><i class="fa fa-reorder"></i> View Students</a></li>
            </ul>
        </li>*@

                    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-calendar-o"></i> <span>Time Table</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/TimeTable/ClassTiming"><i class="fa fa-clock-o"></i>Class Timing</a></li>
                <li><a href="/TimeTable/TimeTableConfig"><i class="fa fa-calendar"></i>Time Table</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-flag"></i> <span>Events</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>

            <ul class="treeview-menu">
                <li><a href="/Events/EventType"><i class="fa fa-circle-o"></i> Event Type</a></li>
                <li>
                    <a href="/Events/AddEvents"><i class="fa fa-circle-o"></i> Add Event </a>
                </li>

            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-check-circle"></i> <span>Tasks</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/Events/AssignTask"><i class="fa fa-circle-o"></i> Assign Task</a></li>
                <li><a href="/Events/ViewTaskDetails"><i class="fa fa-circle-o"></i> View Task</a></li>

            </ul>
        </li>*@
                    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i> <span>Accounts</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>

            <ul class="treeview-menu">
                <li><a href="/Accounts/ExpCategory"><i class="fa fa-circle-o"></i> Exp.Category</a></li>
                <li>
                    <a href="/Accounts/CreatePayee"><i class="fa fa-file-text"></i>Add Payee</a>
                    <a href="/Accounts/ViewPayeeAccounts"><i class="fa fa-file-text"></i> Payable</a>
                    <a href="/Accounts/Expenses"><i class="fa fa-file"></i> Expenses</a>


                </li>

            </ul>
        </li>*@



                    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i> Accounts
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" style="display: none;">
                <li><a href="/Accounts/ExpCategory"><i class="fa fa-circle-o"></i> Exp.Category</a></li>
                <li>
                    <a href="/Accounts/CreatePayee"><i class="fa fa-file-text"></i>Add Payee</a>
                    <a href="/Accounts/ViewPayeeAccounts"><i class="fa fa-file-text"></i> Payable</a>
                    <a href="/Accounts/Expenses"><i class="fa fa-file"></i> Expenses</a>


                </li>

            </ul>
        </li>*@
                    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-money"></i> Fees
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>

            <ul class="treeview-menu" style="display: none;">
                <li><a href="/Fees/FeeCategory"><i class="fa fa-circle-o"></i> Fee Head</a></li>
                <li>
                    <a href="/Fees/FeeStructure"><i class="fa fa-file-text"></i>Fee Structure</a>
                    <a href="/Fees/FeeStudentSearch"><i class="fa fa-file-text"></i> Fee Payment</a>



                </li>

            </ul>
        </li>*@



                    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-comments"></i> <span>Communications</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>

            <ul class="treeview-menu">
                <li><a href="/Student/SendSMStoParent"><i class="fa fa-comments-o"></i> Send SMS To Student</a></li>
                <li><a href="/Student/sentEmailStudents"><i class="fa fa-comments-o"></i>Send Email Student</a></li>
                <li><a href="/Employee/EmployeeSendSms"><i class="fa fa-comments-o"></i>Send SMS Employee</a></li>
                <li><a href="/Employee/SendEmailOfEmployees"><i class="fa fa-comments-o"></i>Send Email Employee</a></li>


            </ul>
        </li>*@




                    @*<li class="treeview">
            <a href="#">
                <i class="fa fa-line-chart"></i> <span>Reporting</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>

            <ul class="treeview-menu">
                <li><a href="/Reporting/Employees"><i class="fa fa-bar-chart"></i>Employee Reports</a></li>
                <li><a href="/Reporting/StudentsReport"><i class="fa fa-bar-chart"></i>Students Report</a></li>
                <li><a href="/Reporting/StudentAttendencReport"><i class="fa fa-bar-chart"></i>Student Attendence Report</a></li>
                <li><a href="/Reporting/EmployeeAttendenceReports"><i class="fa fa-bar-chart"></i>Employee Attendence Report</a></li>
                <li><a href="/Reporting/ExpensesReports"><i class="fa fa-bar-chart"></i>Total Expense Report</a></li>
                <li><a href="/Reporting/ClassTeacherReports"><i class="fa fa-bar-chart"></i>Class Teacher Report</a></li>
                <li><a href="/Reporting/LeaveRequestReports"><i class="fa fa-bar-chart"></i>Leave Request Report</a></li>

                <li><a href="/Reporting/SalaryReports"><i class="fa fa-bar-chart"></i>Salary Reports</a></li>
                <li><a href="/Reporting/FeePaidReports"><i class="fa fa-bar-chart"></i>Fees Paid Reports</a></li>

                <li><a href="/Reporting/UnpaidFeeReports"><i class="fa fa-bar-chart"></i>UnPaid Fee Reports</a></li>

            </ul>
        </li>*@


                    @*<li id="li_14" class="treeview linkHide">
            <a href="#">
                <i class="fa fa-calendar-o"></i> <span>Import Export</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="linkHide admin" id="liSubMod_59"><a href="/ImportExport/EmployeeDetailsImport"><i class="fa fa-clock-o"></i>Empolyee Import</a></li>
                <li class="linkHide admin" id="liSubMod_60"><a href="/ImportExport/EmployeeAttendenceImport"><i class="fa fa-clock-o"></i>Emp. Attendence Import</a></li>
                <li class="linkHide admin" id="liSubMod_61"><a href="/ImportExport/ImportStudentAttendence"><i class="fa fa-clock-o"></i>Std. Attendence Import</a></li>
                <li class="linkHide admin" id="liSubMod_62"><a href="/ImportExport/StudentsDetailsImport"><i class="fa fa-clock-o"></i>Student Import</a></li>
            </ul>
        </li>*@


                    @*<li id="li_15" class="treeview linkHide">
            <a href="#">
                <i class="fa fa-calendar-o"></i> <span>Transport</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="linkHide admin" id="liSubMod_63"><a href="/Transport/AddVehicle"><i class="fa fa-clock-o"></i>Add Vehicle</a></li>
                <li class="linkHide admin" id="liSubMod_64"><a href="/Transport/AddDriver"><i class="fa fa-clock-o"></i>Add Driver</a></li>
                <li class="linkHide admin" id="liSubMod_65"><a href="/Transport/AddRoute"><i class="fa fa-clock-o"></i>Add Route</a></li>
                <li class="linkHide admin" id="liSubMod_66"><a href="/Transport/AddDestination"><i class="fa fa-clock-o"></i>Add Destination</a></li>
                <li class="linkHide admin" id="liSubMod_66"><a href="/Transport/TransportAllocation"><i class="fa fa-clock-o"></i>Transport Allocation</a></li>
                <li class="linkHide admin" id="liSubMod_66"><a href="/Transport/ViewTransportAllocationDetails"><i class="fa fa-clock-o"></i>View Transport Allocation</a></li>
                <li class="linkHide admin" id="liSubMod_66"><a href="/Transport/ManageTransport"><i class="fa fa-clock-o"></i>Change Allocation</a></li>
                <li class="linkHide admin" id="liSubMod_66"><a href="/Transport/TransportSmsAlert"><i class="fa fa-clock-o"></i>SMS Alert</a></li>


            </ul>
        </li>*@

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2017-2018 <a href="http://www.zeusadsolutions.com/" target="_blank">ZeusadSolutions</a>.</strong> All rights
            reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <div id="loader" style="display:none"></div>
</body>
</html>
