﻿
@{
    ViewBag.Title = "NoticeBoard";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
 
<section class="content">
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa fa-search"></i> Notice
            </h3>
        </div>
        <div class="box-body">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Notice Board Details</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">

                            <div>

                                <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>User Type</th>
                                            <th>Date</th>
                                            <th>Notice File</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyEmployeeDetails"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <script type="text/html" id="divEmployeeDetailsJTemplte">
                    {#foreach $T as Datashort}
                    <tr>
                        <td>
                            { $T.Datashort.Title}
                        </td>

                        <td>
                            { $T.Datashort.Desc}
                        </td>
                        <td>
                            { $T.Datashort.userType}
                        </td>
                        <td>
                            { $T.Datashort.sNoticeDate}
                        </td>
                        <td>
                            <a href="{ $T.Datashort.NoticeFile}" download>Download</a>
                        </td>
                        <td>
                            { $T.Datashort.Status}
                        </td>
                    </tr>
                    {#/for}
                </script>


            </div>
        </div><!-- /.box-body -->
    </div>
</section>
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


            $("#loader").fadeIn();
            //callJTemplateServiceMethod("", "/api/EventsAPI", "getNoticeBoardsForStudent",
            //"tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");
        var SchoolID = (sessionStorage.getItem("SchoolID"));
        callJTemplateServiceMethod(JSON.stringify([SchoolID]), "/api/EventsAPI", "getNoticeBoardsForStudentBySchool",
            "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");

    })

    function successMsg(p1, p2, p3, datas)
    {
        setTimeout(function () {
            $('#example1').DataTable({
                //destroy: true,
                dom: 'lBfrtip',
                bRetrieve: true,
                bDestroy: true,
                buttons: [
                
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0,  2,3,4, 5]
                        },
                        title: 'Employee List',
                        customize: function(doc) {
                            doc.styles.title = {
                                color: '',
                                fontSize: '20',
                                background: 'blue',
                                alignment: 'center'
                            }
                        }
                    },
                    'colvis'
                ]
            });
        }, 1000);
        $("#loader").fadeOut();
    }




</script>

