﻿
@{
    ViewBag.Title = "AddDriver";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<section class="content">



    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Driver</h3>
                </div>
                <div class="panel-body">

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Country" class="req">School<span class="requird">*</span></label>
                                        <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name" ></select>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Vehicle No
                                        </label>

                                        <input type="hidden" name="txtId" id="txtId" placeholder="Vehicle No" class="form-control" />
                                        <select class="form-control" id="ddlVehicle" name="ddlVehicle" valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--" ng-model="txtDepartment"></select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Name
                                        </label>

                                        <input name="txtDriverName" type="text" id="txtDriverName" placeholder="Driver Name" class="form-control" />
                                        <input type="hidden" id="txtDriverId" />

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Present Address
                                        </label>

                                        <textarea id="txtPresentAddress" class="form-control"></textarea>


                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Permanent Address
                                        </label>
                                        <textarea id="txtPermanentAddress" class="form-control"></textarea>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">


                                    <div class="form-group">
                                        <label class="control-label">
                                            Date Of Birth
                                        </label>
                                    
                                            <input type="text" id="txtdateOfBirth"  class="form-control datepicker" @*data-date-format="dd/mm/yyyy"*@>
                                     
                                    </div>

                                    @*<div class="form-group">
                                        <label class="control-label">
                                            Date Of Birth
                                        </label>


                                        <input type="text" id="txtdateOfBirth" class="form-control" />

                                    </div>*@
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Phone
                                        </label>

                                        <input name="txtDriverPhone" type="text" id="txtDriverPhone" placeholder="Phone No" class="form-control" />


                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            License No
                                        </label>
                                        <input type="text" id="txtLicenseNo" class="form-control" />

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <input type="button" value="Submit" onclick="saveDriverDetails()" id="btnsubmit" class="btn btn-info pull-right">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">View Driver Details</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div style="height:40px"></div>
                        <div>

                            <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                                <thead>
                                    <tr>
                                        <th>School</th>
                                        <th>Vehicle Number</th>
                                        <th>Driver Name</th>
                                        <th>Present Address</th>
                                        <th>Pramanent Address</th>
                                        <th>DOB</th>
                                        <th>Phone No</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyVehicleDetails11"></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <script type="text/html" id="divVehicleDetailsJTemplte11">
                {#foreach $T as Datashort}
                <tr>
                    <td>
                        { $T.Datashort.School}
                    </td>
                    <td>
                        { $T.Datashort.VehicleNumber}
                    </td>
                    <td>
                        { $T.Datashort.Name}
                    </td>
                    <td>
                        { $T.Datashort.PresentAddress}
                    </td>
                    <td>
                        { $T.Datashort.PramnentAddress}
                    </td>
                    <td>
                        { $T.Datashort.DOB}
                    </td>
                    <td>
                        { $T.Datashort.Phoneno}
                    </td>

                    @*<td>
                        <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" onclick="editVehicleById({ $T.Datashort.Id})"></i>
                        &nbsp;
                        <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="deleteVehicleById({ $T.Datashort.Id})"></i>
                    </td>*@
                </tr>
                {#/for}
            </script>


        </div>
        <!-- /.row -->


    </div>
</section>
<div class="alert alert-success centerSuccess" id="divSuccessMsg" style="display:none">
    <link href="~/css/bootstrap-timepicker.css" rel="stylesheet" />
    <script src="~/js/bootstrap-timepicker.js"></script>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
      <link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
     
<style type="text/css">
    .col-sm-6 {
        margin: 4px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $('#txtdateOfBirth').datepicker({
            autoclose: true
        });

        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TransportApi", "getAllVehiclebySchool", "ddlVehicle", false, "", "", "", "");
        loadViewDetails();
    });

    function loadViewDetails() {
        //viewAllDriverDetailsDetailssBySchool
            callJTemplateServiceMethod("", "/api/TransportApi", "viewAllDriverDetailsDetailss",
                "tbodyVehicleDetails11", "divVehicleDetailsJTemplte11", true, successMsg, "", "", "", "");
        }
    function successMsg(p1, p2, p3, datas) {
        $("#loader").fadeOut();
    }

</script>



<script type="text/javascript">
    $(function () {
        $("#txtDriverName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Transport/getDriverAutocomplete",
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#txtDriverId").val(i.item.val);
                fetchAllDetailsDriverByDriverId(i.item.val)

            },
            minLength: 1
        });
    });

    function fetchAllDetailsDriverByDriverId(val) {
        callServiceMethod(JSON.stringify([val]), "/api/TransportApi", "fetchAllDetailsDriverByDriverId", false, "", "", false, "", true, fetchAllDetailsDriverByDriverId_scs, "", "", "");
    }
    function fetchAllDetailsDriverByDriverId_scs(p1, p2, p3, datas) {
        setControlValue("txtPresentAddress", datas.PresentAddress);
        setControlValue("txtPermanentAddress", datas.PermanentAddress);
        setControlValue("txtdateOfBirth", datas.DOB);
        setControlValue("txtDriverPhone", datas.Mobile);

    }








    function saveDriverDetails() {

        var driver = {


            Id: getControlValue("txtId"),
            VehicleNumber: getControlValue("ddlVehicle"),
            Name: getControlValue("txtDriverId"),
            PresentAddress: getControlValue("txtPresentAddress"),
            PramnentAddress: getControlValue("txtPermanentAddress"),
            DOB: getControlValue("txtdateOfBirth"),
            Phoneno: getControlValue("txtDriverPhone"),
            LicenseNo: getControlValue("txtLicenseNo"),
            SchoolID: $("#ddlSchoolName").val()


        }

        var ddl = JSON.stringify(driver)


        callServiceMethod(ddl, "/api/TransportApi", "saveDriverDetails", false, "", "", false, "", true, saveDriverDetails_scs, "", "", "");
    }

    function saveDriverDetails_scs(p1, p2, p3, datas) {
        $("#divSuccessMsg").fadeIn();
        $("#divSuccessMsg").html("<strong>Success!</strong> " + datas);
        setTimeout(function () {
            $("#divSuccessMsg").fadeOut();
        }, 2000)
    }


</script>
