﻿
@{
    ViewBag.Title = "AddRoute";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<section class="content">



    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Vehicle</h3>
                </div>
                <div class="panel-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Country" class="req">School<span class="requird">*</span></label>
                                        <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--"></select>

                                    </div>
                                </div>
                            </div>

                                <div class="col-md-12">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Vehicle No
                                            </label>

                                            <input type="hidden" name="txtId" id="txtId" placeholder="Vehicle No" class="form-control" />
                                            <select class="form-control" id="ddlVehicle" name="ddlVehicle" valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--" ng-model="txtDepartment"></select>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Route Code
                                            </label>

                                            <input name="txtRouteCode" type="text" id="txtRouteCode" placeholder="Route Code" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Route Start Place
                                            </label>

                                            <input type="text" id="txtRouteStartPlace" class="form-control" />


                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Route End Place
                                            </label>
                                            <input type="text" id="txtRouteEndPlace" class="form-control" />


                                        </div>
                                    </div>
                                </div>
                            </div>







                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <input type="button" value="Submit" onclick="saveRouteDetails()" id="btnsubmit" class="btn btn-info pull-right">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">View Route Details</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div style="height:40px"></div>
                        <div>

                            <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                                <thead>
                                    <tr>
                                        <th>School</th>
                                        <th>Vehicle Number</th>
                                        <th>Route Code</th>
                                        <th>Start Place</th>
                                        <th>End Place</th>
                                       
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyVehicleDetails"></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <script type="text/html" id="divVehicleDetailsJTemplte">
                {#foreach $T as Datashort}
                <tr>
                    <td>
                        {$T.Datashort.School}
                    </td>
                    <td>
                        { $T.Datashort.VehicleNumber}
                    </td>
                    <td>
                        { $T.Datashort.RouteCode}
                    </td>
                    <td>
                        { $T.Datashort.StartPlace}
                    </td>
                    <td>
                        { $T.Datashort.EndPlace}
                    </td>
                  

                    <td>
                        <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" onclick="editRouteById({ $T.Datashort.Id})"></i>
                        &nbsp;
                        <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="deleteRouteById({ $T.Datashort.Id})"></i>
                    </td>
                </tr>
                {#/for}
            </script>


        </div>
        <!-- /.row -->


    </div>
</section>
<div class="alert alert-success centerSuccess" id="divSuccessMsg" style="display:none">

</div>


<script type="text/javascript">
    $(document).ready(function () {
        callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        callServiceMethodForDDl("", "/api/TransportApi", "getAllVehicle", "ddlVehicle", false, "", "", "", "");
        loadViewDetails();
    })

    function loadViewDetails() {
        callJTemplateServiceMethod("", "/api/TransportApi", "viewAllRouteDetails",
            "tbodyVehicleDetails", "divVehicleDetailsJTemplte", false, "", "", "", "");
    }

    function saveRouteDetails() {

        var route = {
           Id: getControlValue("txtId"),
            VehicleNumber: getControlValue("ddlVehicle"),
            RouteCode: getControlValue("txtRouteCode"),
            StartPlace: getControlValue("txtRouteStartPlace"),
            EndPlace: getControlValue("txtRouteEndPlace"),
            SchoolID: $("#ddlSchoolName").val()
           }

        var ddl = JSON.stringify(route)


        callServiceMethod(ddl, "/api/TransportApi", "saveRouteDetails", false, "", "", false, "", true, saveRouteDetails_scs, "", "", "");

    }

    function saveRouteDetails_scs(p1, p2, p3, datas) {
        $("#divSuccessMsg").fadeIn();
        $("#divSuccessMsg").html("<strong>Success!</strong> " + datas);
        setTimeout(function () {
            $("#divSuccessMsg").fadeOut();
        }, 2000)
        loadViewDetails();
    }
    function editRouteById(Id) {
        callServiceMethod(JSON.stringify([Id]), "/api/TransportApi", "editRouteById", false, "", "", false, "", true, editRouteById_scs, "", "", "");
    }
    function editRouteById_scs(p1, p2, p3, datas) {
        setControlValue("txtId", datas.Id);
        setControlValue("ddlVehicle", datas.VehicleNumber);
        setControlValue("txtRouteCode", datas.RouteCode);
        setControlValue("txtRouteStartPlace", datas.StartPlace);
        setControlValue("txtRouteEndPlace", datas.EndPlace);
        setControlValue("ddlSchoolName", datas.SchoolID);
         
    }

    function deleteRouteById(Id) {
        if (confirm("are you sure?")) {
            callServiceMethod(JSON.stringify([Id]), "/api/TransportApi", "deleteRouteById", false, "", "", false, "", true, deleteRouteById_scs, "", "", "");
        }
    }

    function deleteRouteById_scs(p1, p2, p3, datas) {
        $("#divSuccessMsg").fadeIn();
        $("#divSuccessMsg").html("<strong>Success!</strong> " + datas);
        setTimeout(function () {
            $("#divSuccessMsg").fadeOut();
        }, 2000)

        loadViewDetails();
    }
</script>