﻿
@{
    ViewBag.Title = "AddVehicle";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<section class="content">



    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Vehicle</h3>
                </div>
                <div class="panel-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            School
                                        </label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name"></select>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            Vehicle No
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="hidden" name="txtId" id="txtId" placeholder="Vehicle No" class="form-control" />
                                            <input type="text" name="txtVehicleNo" id="txtVehicleNo" placeholder="Vehicle No" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            Total Seats
                                        </label>
                                        <div class="col-sm-6">
                                            <input name="txtTotalSeats" type="text" id="txtTotalSeats" placeholder="Total Seats" class="form-control" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            Ownership Type
                                        </label>
                                        <div class="col-sm-6">
                                            <select name="ddlOwnershiptype" id="ddlOwnershiptype" class="form-control">
                                                <option value="">--Select--</option>
                                                <option value="Ownership">Ownership</option>
                                                <option value="Contract">Contract</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            Allowed Seats
                                        </label>
                                        <div class="col-sm-6">
                                            <input name="txtSeatsAllowed" placeholder="Allowed Seats" type="text" id="txtSeatsAllowed" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            Track Number
                                        </label>
                                        <div class="col-sm-6">
                                            <input name="txtTrackNumber" type="text" id="txtTrackNumber" class="form-control datepicker" data-date-format="dd/mm/yyyy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            Insurance Expiry
                                        </label>
                                        <div class="col-sm-6">
                                            <input name="txtInsuranceExpiry" type="text" id="txtInsuranceExpiry" class="form-control datepicker" data-date-format="dd/mm/yyyy">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            Pollution Expiry
                                        </label>
                                        <div class="col-sm-6">
                                            <input name="txtPollutionExpiry" type="text" id="txtPollutionExpiry" placeholder="dd/mm/yyyy" class="form-control datepicker" data-date-format="dd/mm/yyyy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">
                                            Track Number
                                        </label>
                                        <div class="col-sm-6">
                                            <input name="txtTrackNumber" type="text" id="txtTrackNumber" class="form-control datepicker" data-date-format="dd/mm/yyyy">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="col-sm-6">
                                            <input type="button" name="ctl00$ContentPlaceHolder1$submit" value="Submit" onclick="saveVehcleDetails()" id="btnsubmit" class="btn btn-info pull-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            GPS
                        </label>
                        <div class="col-sm-6">
                            <select name="ctl00$ContentPlaceHolder1$ddlGps" id="ContentPlaceHolder1_ddlGps" class="form-control">
                                <option value="">--Select--</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>

                            </select>
                            <span id="ContentPlaceHolder1_RequiredFieldValidator5" class="form-control" style="color:Red;visibility:hidden;">*</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            CCTV
                        </label>
                        <div class="col-sm-6">
                            <select name="ctl00$ContentPlaceHolder1$ddlCCTV" id="ContentPlaceHolder1_ddlCCTV" class="form-control">
                                <option value="">--Select--</option>
                                <option value="True">Yes</option>
                                <option value="False">No</option>

                            </select>
                            <span id="ContentPlaceHolder1_RequiredFieldValidator6" class="form-control" style="color:Red;visibility:hidden;">*</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            Vehicle Details
                        </label>
                        <div class="col-sm-6">
                            <input name="ctl00$ContentPlaceHolder1$txtVehicleDetails" type="text" id="ContentPlaceHolder1_txtVehicleDetails" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>*@
                        @*<div class="box-footer">

        </div>*@

                    </div>
                        </div>
                    </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">View Vehicle Details</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div style="height:40px"></div>
                        <div>

                            <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                                <thead>
                                    <tr>
                                        <th>School</th>
                                        <th>Vehicle Number</th>
                                        <th>Total Seats</th>
                                        <th>Allowed Seats</th>
                                        <th>Ownership Type</th>
                                        <th>Insurance Exp. Date</th>
                                        <th>Pollution Exp. Date</th>
                                        <th>Track No</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyVehicleDetails"></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <script type="text/html" id="divVehicleDetailsJTemplte">
                {#foreach $T as Datashort}
                <tr>
                    <td>
                        {$T.Datashort.School}
                    </td>
                    <td>
                        { $T.Datashort.VehicleNumber}
                    </td>
                    <td>
                        { $T.Datashort.TotalSeats}
                    </td>
                    <td>
                        { $T.Datashort.AllowedSeats}
                    </td>
                    <td>
                        { $T.Datashort.OwnershipType}
                    </td>
                    <td>
                        { $T.Datashort.InsuranceExpire1}
                    </td>
                    <td>
                        { $T.Datashort.PolutionExpire1}
                    </td>
                    <td>
                        { $T.Datashort.TrackNo}
                    </td>
                    <td>
                        <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" onclick="editVehicleById({ $T.Datashort.Id})"></i>
                        &nbsp;
                        <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="deleteVehicleById({ $T.Datashort.Id})"></i>
                    </td>
                </tr>
                {#/for}
            </script>


        </div>
        <!-- /.row -->


    </div>
</section>
<div class="alert alert-success centerSuccess" id="divSuccessMsg" style="display:none">

</div>
<style type="text/css">
    .col-sm-6 {
        margin: 4px;
    }
</style>
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">

    //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

    var loginuser = (sessionStorage.getItem("userId"));
    var typeuser = sessionStorage.getItem("type");
    callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
    $(document).ready(function () {
        $('#txtInsuranceExpiry').datepicker({
            autoclose: true
        });
        $('#txtPollutionExpiry').datepicker({
            autoclose: true
        });

        loadViewDetails();
    });
    function loadViewDetails() {

        $("#loader").fadeIn();
        var SchoolID= sessionStorage.getItem("SchoolID");
        callJTemplateServiceMethod(JSON.stringify([SchoolID]), "/api/TransportApi", "viewAllVehicleDetailsbySchool",
            "tbodyVehicleDetails", "divVehicleDetailsJTemplte", true, successMsg, "", "", "");
        //callJTemplateServiceMethod(""), "/api/TransportApi", "viewAllVehicleDetails",
        //    "tbodyVehicleDetails", "divVehicleDetailsJTemplte", true, successMsg, "", "", "");
    }
    function successMsg(p1, p2, p3, datas) {
        $("#loader").fadeOut();
    }

    function saveVehcleDetails() {
        $("#loader").fadeIn();
        var vehicle = {
            Id: getControlValue("txtId"),
            VehicleNumber: getControlValue("txtVehicleNo"),
            TotalSeats: getControlValue("txtTotalSeats"),
            AllowedSeats: getControlValue("txtSeatsAllowed"),
            OwnershipType: getControlValue("ddlOwnershiptype"),
            InsuranceExpire: getControlValue("txtInsuranceExpiry"),
            PolutionExpire: getControlValue("txtPollutionExpiry"),
            TrackNo: getControlValue("txtTrackNumber"),
            SchoolID:$("#ddlSchoolName").val()
        }



        var ddl = JSON.stringify(vehicle)


        callServiceMethod(ddl, "/api/TransportApi", "saveVehicleDetails", false, "", "", false, "", true, saveVehcleDetails_scs, "", "", "");

    }



    function saveVehcleDetails_scs(p1, p2, p3, datas) {

        $("#loader").fadeOut();

        $("#divSuccessMsg").fadeIn();
        $("#divSuccessMsg").html("<strong>Success!</strong> " + datas);
        setTimeout(function () {
            $("#divSuccessMsg").fadeOut();
        }, 2000)
        loadViewDetails();
    }
    
    function deleteVehicleById(Id) {
       ///* callServiceMethod(JSON.stringify(*/[Id]), "/api/TransportApi", "deleteVehicleById", false, "", "", false, "", true, deleteVehicleById_scs, "", "", "");
        var Id = Id;
        $.ajax({
            type: "Get",
            url: "@Url.Content("~/api/TransportApi/deleteVehicleByIddddd")",
            contentType: "application/json; charset=utf-8",
            data: { Id: Id},
            dataType: "json",
            success: function (b) {
                $("#loader").fadeOut();

                $("#divSuccessMsg").fadeIn();
                $("#divSuccessMsg").html("<strong>Success!</strong> " + b);
                setTimeout(function () {
                    $("#divSuccessMsg").fadeOut();
                    callJTemplateServiceMethod("", "/api/TransportApi", "viewAllVehicleDetails",
                        "tbodyVehicleDetails", "divVehicleDetailsJTemplte", true, successMsg, "", "", "");
                }, 2000)
            },

            error: function () {

            }
                        });
    }



    function deleteVehicleById_scs(p1, p2, p3, datas) {
        $("#divSuccessMsg").fadeIn();
        $("#divSuccessMsg").html("<strong>Success!</strong> " + datas);
        setTimeout(function () {
            $("#divSuccessMsg").fadeOut();
        }, 2000)
        loadViewDetails();
    }

    function editVehicleById(Id) {
        callServiceMethod(JSON.stringify([Id]), "/api/TransportApi", "editVehicleById", false, "", "", false, "", true, editVehicleById_scs, "", "", "");
    }
    function editVehicleById_scs(p1, p2, p3, datas) {
        setControlValue("txtId", datas.Id);
        setControlValue("txtVehicleNo", datas.VehicleNumber);
        setControlValue("txtTotalSeats", datas.TotalSeats);
        setControlValue("txtSeatsAllowed", datas.AllowedSeats);
        setControlValue("ddlOwnershiptype", datas.OwnershipType);
        setControlValue("txtInsuranceExpiry", datas.InsuranceExpire1);
        setControlValue("txtPollutionExpiry", datas.PolutionExpire1);
        setControlValue("txtTrackNumber", datas.TrackNo);
        setControlValue("ddlSchoolName", datas.SchoolID);
        loadViewDetails();
    }
    
</script>
