﻿
@{
    ViewBag.Title = "TransportAllocation";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<section class="content">



    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="box-header with-border">
                    <h3 class="box-title">Transport Allocation</h3>
                </div>
                <div class="panel-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group validating">
                                        <label for="reg_input" class="req">Destination</label>
                                        @*<label class="req" for="Transportallocation_routedetailsid"></label>*@

                                        <input type="hidden" name="txtId" id="txtId" placeholder="Vehicle No" class="form-control" />
                                        <select class="form-control" id="ddlRoute" onchange="getDestinationByRouteId(this.value)" name="ddlRoute" valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--" ng-model="txtDepartment"></select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group validating">
                                        <label class="req" for="Transportallocation_routedetailsid">Destination</label>
                                        <select class="form-control" name="ddlDestination" id="ddlDestination" valuefield="Id" textfield="Route" blankRowValue="0" blankRowText="--Select--"></select>

                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group validating">
                                    <label class="req" for="Transportallocation_usertypeid">Type</label>
                                    <select class="form-control" name="Transportallocation[usertypeid]" id="Transportallocation_usertypeid">
                                        <option value="">Select Type</option>
                                        <option value="Student">Student</option>
                                        <option value="Employee">Employee</option>
                                    </select>
                                </div>
                            </div>
                            <div id="course" class="col-md-6">
                                <div class="form-group validating" style="">
                                    <label for="reg_input" class="req">Course</label>
                                    <select class="form-control" id="ddlCourse" name="ddlCourse" valuefield="Id" textfield="CourseName" blankRowValue="-1" blankRowText="----Select----"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">


                            <div id="batch" class="col-md-6">
                                <div class="form-group validating" style="">
                                    <label for="reg_input" class="req">Section</label>
                                    <select class="form-control" id="ddlSection" valuefield="Id" onchange="getAllStudentByClassSectionId(this.value)" textfield="SectionName" blankRowValue="-1" blankRowText="----Select----"></select>
                                </div>
                            </div>

                            <div class="col-md-6" id="student" style="display:none">

                                <div class="form-group validating">
                                    <label for="reg_input" class="req">Student</label>
                                    <select class="form-control" multiple="multiple" id="ddlStudents" valuefield="ID" textfield="FirstName" blankRowValue="-1" blankRowText="----Select----">
                                        <option value="">Please Select</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12" id="employeeautocomplete" style="display:none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Department</label>
                                    <select class="form-control" id="txtDepartment" name="txtDepartment" onchange="getAllEmployeeByDepId(this.value)" valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--">  </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Employee</label>
                                    <select class="form-control" id="ddlEmployee" name="ddlEmployee" valuefield="Id" textfield="Route" blankRowValue="0" blankRowText="--Select--">  </select>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>

                        </div>

                        <div>

                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">

                                    </div>
                                </div>
                                <input type="button" value="Submit" onclick="saveTransportAllocationDetails()" id="btnsubmit" class="btn btn-info pull-right">

                                <div class="col-md-6">
                                    <div class="form-group">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="alert alert-success centerSuccess" id="divSuccessMsg" style="display:none">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        //callServiceMethodForDDl("", "/api/TransportApi", "getAllRouteDetails", "ddlRoute", false, "", "", "", "");
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TransportApi", "getAllRouteDetailsBySchool", "ddlRoute", false, "", "", "", "");
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse", false, "", "", "", "");
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/EmployeeAPI", "getAllDepartmentsBySchoolID", "txtDepartment", false, "", "", "", "");
    })

    function getDestinationByRouteId(Id) {
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([Id, SchoolID]), "/api/TransportApi", "getDestinationByRouteIdBySchool", "ddlDestination", false, "", "", "", "");
    }
    $("#ddlCourse").change(function () {
        var ddlCourse = getControlValue("ddlCourse");
        var SchoolID = sessionStorage.getItem("SchoolID");
        if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined)) {
            callServiceMethodForDDl(JSON.stringify([ddlCourse,SchoolID]), "/api/StudentApi", "GetSectionsbyschool", "ddlSection", false, "", "", "", "");

        }
    });

    function getAllEmployeeByDepId(val) {
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([val, SchoolID]), "/api/TransportApi", "getAllEmployeeByDepIdBySchool", "ddlEmployee", false, "", "", "", "");
    }

    //function getAllEmployeeByDepId(val) {
    //    callServiceMethodForDDl(JSON.stringify([val]), "/api/TransportApi", "getAllEmployeeByDepId", "ddlEmployee", false, "", "", "", "");
    //}

    function getAllStudentByClassSectionId(sectionId) {

        var Student = {
            ClassID: getControlValue("ddlCourse"),
            SectionID: sectionId,
            SchoolID: sessionStorage.getItem("SchoolID")
        }

        callServiceMethodForDDl(JSON.stringify(Student), "/api/TransportApi", "getAllStudentByClassSectionIdbySchool", "ddlStudents", false, "", "", "", "");
    }



    function saveTransportAllocationDetails() {

        if (getControlValue("Transportallocation_usertypeid") == "Student") {


            var stu = getControlValue("ddlStudents");

            if (getControlValue("txtId") == "0" || getControlValue("txtId") == "") {
                var std = stu.split(',').length;
                var Items = new Array();
                for (var i = 0; i < std; i++) {
                    var Student = {
                        Class1: getControlValue("ddlCourse"),
                        Section1: getControlValue("ddlSection"),
                        StudentName: stu.split(',')[i],
                    }
                    Items.push(Student);
                }

                var stutotal = {
                    Id: getControlValue("txtId"),
                    route: getControlValue("ddlRoute"),
                    Destination: getControlValue("ddlDestination"),
                    UserType: getControlValue("Transportallocation_usertypeid"),
                    stu: Items,
                    SchoolID: sessionStorage.getItem("SchoolID")
                }

                var ddl2 = JSON.stringify(stutotal);
                callServiceMethod(ddl2, "/api/TransportApi", "saveTransportAllocationDetails", false, "", "", false, "", true, saveTransportAllocationDetails_scs, "", "", "");
            }
            else {
                var stutotal = {
                    Id: getControlValue("txtId"),
                    route: getControlValue("ddlRoute"),
                    Destination: getControlValue("ddlDestination"),
                    UserType: getControlValue("Transportallocation_usertypeid"),
                    Class1: getControlValue("ddlCourse"),
                    SectionID1: getControlValue("ddlSection"),
                    StudentName: stu,
                    SchoolID: sessionStorage.getItem("SchoolID")
                }

                var ddl2 = JSON.stringify(stutotal);
                callServiceMethod(ddl2, "/api/TransportApi", "saveTransportAllocationDetails", false, "", "", false, "", true, saveTransportAllocationDetails_scs, "", "", "");
            }
        }
        else {
            var allocation = {
                Id: getControlValue("txtId"),
                route: getControlValue("ddlRoute"),
                Destination: getControlValue("ddlDestination"),
                UserType: getControlValue("Transportallocation_usertypeid"),
                Department: getControlValue("txtDepartment"),
                EmployeeName: getControlValue("ddlEmployee"),
                SchoolID: sessionStorage.getItem("SchoolID")
            }

            var ddl = JSON.stringify(allocation)


            callServiceMethod(ddl, "/api/TransportApi", "saveTransportAllocationDetails", false, "", "", false, "", true, saveTransportAllocationDetails_scs, "", "", "");
        }
    }

    function saveTransportAllocationDetails_scs(p1, p2, p3, datas) {
        $("#divSuccessMsg").fadeIn();
        $("#divSuccessMsg").html("<strong>Success!</strong> " + datas);
        setTimeout(function () {
            $("#divSuccessMsg").fadeOut();
        }, 2000);
    }
    function datevalidationforcreation() {
        var startdate = $("#Transportallocation_transportallocation_startdate option:selected").val();
        if (startdate != "") {
            var enddate = $("#Transportallocation_transportallocation_enddate option:selected").val();
            if (enddate == "") {
                alert('End date cannot be blank');
                return false;
            } else {
                if (startdate > enddate) {
                    alert("End date must be greater than Start date");
                    return false;
                } else {
                    return true;
                }
            }
        }
    }
    function updateFields(data) {
        $('#Transportallocation_transportallocation_startdate1').empty();
        $('#Transportallocation_transportallocation_enddate1').empty();
        $('#Transportallocation_transportallocation_startdate1').append(data);
        $('#Transportallocation_transportallocation_enddate1').append(data);
    }
    function datevalidation() {
        var startdate = $("#Transportallocation_transportallocation_startdate1 option:selected").val();

        if (startdate != "") {
            var enddate = $("#Transportallocation_transportallocation_enddate1 option:selected").val();

            if (enddate == "") {
                alert('End date cannot be blank');
                return false;
            } else {
                if (startdate > enddate) {
                    alert("End date must be greater than Start date");
                    return false;
                } else {
                    return true;
                }
            }
        }
    }
    $("#Transportallocation_usertypeid").change(function () {
        var str = "";
        str += $(this).val();
        if (str === 'Student') {
            $("#employeeautocomplete").hide("slow");
            $("#course").show("slow");
            $("#batch").show("slow");
            $("#student").show("slow");
        }
        if (str === 'Employee') {
            $("#course").hide("slow");
            $("#batch").hide("slow");
            $("#student").hide("slow");
            $("#employeeautocomplete").show("slow");
        }
    });
    $("#Transportallocation_usertypeid1").change(function () {
        var str = "";
        str += $(this).val();
        if (str === 'Student') {
            $("#department1").hide("slow");
            $("#employee1").hide("slow");
            $("#course1").show("slow");
            $("#batch1").show("slow");
            $("#student1").show("slow");
        }
        if (str === 'Employee') {
            $("#course1").hide("slow");
            $("#batch1").hide("slow");
            $("#student1").hide("slow");
            $("#department1").show("slow");
            $("#employee1").show("slow");
        }
    });
    $("#Transportallocation_routedetailsid").change(function () {
        $.ajax({
            type: "POST",
            url: "Fetchfeedatesforcreate",
            data: { routedetailsid: $('#Transportallocation_routedetailsid option:selected').val() },
            dataType: "html",
            success: function (data) {
                $('#Transportallocation_transportallocation_startdate').empty();
                $('#Transportallocation_transportallocation_enddate').empty();
                $('#Transportallocation_transportallocation_startdate').append(data);
                $('#Transportallocation_transportallocation_enddate').append(data);
            }
        });
        $('#item-grid').yiiGridView('update', {
            data: { search: $('#Transportallocation_routedetailsid option:selected').text() }
        });
        return false;
    });
    $("input").keyup(function () {

        $('#item-grid').yiiGridView('update', {
            data: { search: $('#search').val() }
        });
        return false;
    });
</script>