﻿
@{
    ViewBag.Title = "Dashboard";
    // Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<!-- Content Wrapper. Contains page content -->
<div class="contesnt-wrapper">
    <section class="content-header">
        <h1>
            <i class="fa fa-dashboard"></i> Dashboard |<small> Employee </small>
        </h1>
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li class="active">Employee Dashboard</li>
        </ul>
    </section>
    <!-- Main content -->
    <section class="content" >
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="panel-body" style="background-color: #489ac3 !important;color: white;">
                <h3 class="panel-title fontSize" style="margin-bottom: 5px;">
                    <b>Welcome,</b> &nbsp;<span id="spEmpFullName"></span>			<span class="pull-right" title="Select Date" style="font-weight:600;">
                        <sapn class="datepicker">
                            @*<span id="event-date">@ViewBag.CurrntDate</span>*@
                            <span id="event-date"></span>
                        </sapn>
                    </span>
                </h3>
                <marquee onmouseout="this.setAttribute('scrollamount',2, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" scrollamount="2" behavior="scroll" direction="left">
                    @*@ViewBag.thoughts*@   <span id="thoughts"></span>
                </marquee>
            </div>
            <div class="clearfix"></div>
        </div>
        <div style="height:20px"></div>
        <div class="clearfix"></div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="nav-tabs-custom">
                    <!-- Tabs within a box -->
                    <ul class="nav nav-tabs pull-right">
                        <li class="active"><a href="#revenue-chart" data-toggle="tab">Area</a></li>
                        <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                        <li class="pull-left header"><i class="fa fa-inbox"></i> Events </li>
                    </ul>
                    <div class="tab-content no-padding">
                        <!-- Morris chart - Sales -->
                        <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;">
                            <div class="col-sm-12">
                                <table id="grid" class="table table-bordered table-striped tbl20 htmlTempletes">
                                    <thead>
                                        <tr>
                                            <th>Event Name</th>
                                            <th>Event Type</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyEmployeeEvents"></tbody>

                                </table>
                                <script type="text/html" id="tbodyEmployeeEventsJTemplte">
                                    {#foreach $T as Datashort}
                                    <tr>
                                        <td>
                                            { $T.Datashort.EventName}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-block btn-success btn-sm">{ $T.Datashort.EventType}</button>
                                        </td>
                                        <td>
                                            { $T.Datashort.StartDate}
                                        </td>
                                        <td>
                                            { $T.Datashort.EndDate}
                                        </td>

                                    </tr>
                                    {#/for}
                                </script>
                            </div>
                        </div>
                        <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">sadfdsf</div>
                    </div>
                </div>
                <!-- /.nav-tabs-custom -->
                <!-- TO DO List -->
                <div class="box box-info">
                    <div class="box-header">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">To Do List</h3>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Message</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyAdminToDoDetails"></tbody>
                        </table>

                        <script type="text/html" id="tbodyAdminToDoDetailsJTemplte">
                            {#foreach $T as Datashort}
                            <tr>
                                <td>
                                    { $T.Datashort.Subject}
                                </td>

                                <td>
                                    { $T.Datashort.Messsage}
                                </td>
                                <td>
                                    { $T.Datashort.TaskDate}
                                </td>
                                <td>
                                    <div class="tools">
                                        <a href="javascript:void(0)" onclick="editTaskToDo({ $T.Datashort.Id},'{ $T.Datashort.Subject}', ' { $T.Datashort.Messsage}', '{ $T.Datashort.TaskDate}')"><i class="fa fa-edit"></i> </a> &nbsp;&nbsp;&nbsp;
                                        <a href="javascript:void(0)" onclick="deleteTaskToDo({ $T.Datashort.Id})"> <i class="fa fa-trash-o"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {#/for}
                        </script>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix no-border">
                        <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
                    </div>
                </div>
                <!-- /.box -->
                <!-- quick email widget -->
                <div class="box box-danger">
                    <div class="panel panel-flat ">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title">Task Manager</h3>

                        </div>

                        <div class="table-responsive">
                            <table id="grid" class="table table-bordered table-striped tbl20 htmlTempletes">
                                <thead>
                                    <tr>
                                        <th>Task Name</th>
                                        <th>Task Description</th>
                                        <th>Priority</th>
                                        <th>Task Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyEmployeeLeaves"></tbody>

                            </table>
                            <script type="text/html" id="tbodyEmployeeLeavesJTemplte">
                                {#foreach $T as Datashort}
                                <tr>
                                    <td>
                                        { $T.Datashort.TaskName}
                                    </td>
                                    <td>
                                        { $T.Datashort.Description}
                                    </td>
                                    <td>
                                        <a href="#" style="color:white;padding: 4px;border-radius: 8px;background-color:{ $T.Datashort.priorityColor}"> { $T.Datashort.Priority}   </a>
                                    </td>
                                    <td>
                                        { $T.Datashort.TaskDate}
                                    </td>
                                    <td>
                                        <a href="#" style="color:white;padding: 4px;border-radius: 8px;background-color:{ $T.Datashort.color}">   { $T.Datashort.Status}</a>
                                    </td>

                                </tr>
                                {#/for}
                            </script>


                        </div>

                    </div>
                </div>


                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Notice Board</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul class="products-list product-list-in-box" id="showAllNotice">



                            <!-- /.item -->
                        </ul>

                        <script type="text/html" id="showAllNoticJTemplateDetails">
                            {#foreach $T as Datashort}
                            <li class="item">
                                <div class="my-circle pull-left" style="border: 2px solid #1dcbbe;"><a style="color:#1dcbbe;" href='#' data-toggle='tooltip' title='{ $T.Datashort.userType}'><b>{ $T.Datashort.Extra}</b></a> </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">{ $T.Datashort.Title} <span class="label label-danger pull-right"> { $T.Datashort.NoticeDate}</span></a>
                                    <span class="product-description">
                                        { $T.Datashort.Desc}
                                    </span>
                                </div>
                            </li>


                            {#/for}
                        </script>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center">
                        <a href="/Events/EmpNoticeBoard" class="uppercase">View All Notices</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">
                <!-- Map box -->
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-envelope"></i>
                        <h3 class="box-title">Sent  Email</h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                                    title="Remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <div class="box-body">
                        <form role="form" id="form1" name="form1">
                            <div class="alert alert-success alert-dismissible" id="divSucesEmail" style="display:none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4>
                                    <i class="icon fa fa-check"></i>
                                    <span Id="sentEmailMsg"></span>
                                </h4>

                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" id="textEmailTo" name="textEmailTo" placeholder="Email to:">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="txtSubject" id="txtSubject" placeholder="Subject">
                            </div>
                            <div>
                                <textarea class="textarea" placeholder="Message" id="txtMessage" name="txtMessage"
                                          style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix">
                        <button type="button" class="pull-right btn btn-default" onclick="sendEmailFromAdmin()" id="sendEmail">
                            Send
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>

                <!-- /.box -->
                <div class="box box-danger">
                    <div class="panel panel-flat ">
                        @*<div class="panel-heading">
            <h6 class="panel-title"><center>Birthday Today</center><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>

        </div>*@

                        @*<div class="table-responsive">
        <table class="table table-xlg text-nowrap">
            <tbody id="tbodyAdminTodaybirthday"></tbody>
        </table>

        <script type="text/html" id="tbodyAdminTodaybirthdayJTemplte">
            {#foreach $T as Datashort}

            <tr>
                <td class="col-md-4">
                    <div class="media-left media-middle">
                        <a href="/index.php/core/student/Studentbirthday" class="text-pink-400"><i class="fa fa-birthday-cake" style="font-size:48px; "></i></a>
                    </div>

                    <div class="media-left ">
                        <h5 class="text-semibold" style="margin:16px!important">
                            <b></b>
                            <center>  { $T.Datashort.FName}    <small class="display-block no-margin">{ $T.Datashort.DOB}</small></center>
                        </h5>
                    </div>
                </td>



            </tr>
            <hr />

            @*<tr>
                    <td>
                        { $T.Datashort.Subject}
                    </td>

                    <td>
                        { $T.Datashort.Messsage}
                    </td>
                    <td>
                        { $T.Datashort.TaskDate}
                    </td>
                    <td>
                        <div class="tools">
                            <a href="javascript:void(0)" onclick="editTaskToDo({ $T.Datashort.Id},'{ $T.Datashort.Subject}', ' { $T.Datashort.Messsage}', '{ $T.Datashort.TaskDate}')"><i class="fa fa-edit"></i> </a> &nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)" onclick="deleteTaskToDo({ $T.Datashort.Id})"> <i class="fa fa-trash-o"></i></a>
                        </div>
                    </td>
                </tr>*@
                        @*  {#/for}
                        </script>


                    </div>*@

                    </div>
                </div>
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-envelope"></i>
                        <h3 class="box-title">TO DO</h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                                    title="Remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <div class="box-body">
                        <form role="form" id="form2" name="form2">
                            <div class="alert alert-success alert-dismissible" id="divSucesToDo" style="display:none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4>
                                    <i class="icon fa fa-check"></i>
                                    <span Id="sentToDoMsg"></span>
                                </h4>

                            </div>

                            <div class="form-group">
                                <input type="text" id="txtTodoId" style="display:none" />
                                <input type="text" class="form-control" id="txtSubjectTODO" name="txtSubjectTODO" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea class="textarea" placeholder="What's on your mind ?" id="txtMessageTODO" name="txtMessageTODO"
                                          style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                            <div>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="txtDateTODO" name="txtDateTODO" placeholder="Date">
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix">
                        <button type="button" class="pull-right btn btn-default" onclick="AddTaskTodo()" id="todo">
                            Add
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- /.content-wrapper -->

<script type="text/javascript">
    $(document).ready(function () {
        Thoughtsofday();
        setControlValue("spEmpFullName", sessionStorage.getItem("fname") + " " + sessionStorage.getItem("lname"));
        var date = new Date();
        date.setDate(date.getDate());

        $('#txtDateTODO').datepicker( {startDate: date});

        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        //  var output = (('' + month).length < 2 ? '0' : '') + month + '/' + (('' + day).length < 2 ? '0' : '') + day + '/' + d.getFullYear();
        var output = d.getFullYear() + '-' +((''+month).length<2 ? '0' : '') + month + '-' +((''+day).length<2 ? '0' : '') + day;


        var employye = {

            date: output,

            EmpId: sessionStorage.getItem("EmpId"),
            SchoolID : sessionStorage.getItem("SchoolID")
        }
        var ddl = JSON.stringify(employye)

        callJTemplateServiceMethod(ddl, "/api/Default", "getAllToDoListForEmployee",
            "tbodyAdminToDoDetails", "tbodyAdminToDoDetailsJTemplte", true, todOListSuccess1, "", "", "");




        var curr = new Date; // get current date
        var first = curr.getDate() - curr.getDay(); // First day is the day of the month - the day of the week
        var last = first + 6; // last day is the first day + 6

        var firstday = new Date(curr.setDate(first)).toUTCString();
        var lastday = new Date(curr.setDate(last)).toUTCString();

        var emp = {
            //StartDate: firstDayWeek,
            //EndDate: lastDayWeek,
            StDt: firstday,
            eDt: lastday
        }

      
        callJTemplateServiceMethod(JSON.stringify(emp), "/api/EventsAPI", "getEmployeeNoticeBoardDetails",
                   "showAllNotice", "showAllNoticJTemplateDetails", true,getAllNoticeBoardDetails_Scs, "", "", "");



     
       
        
        var employye = {
            EmpId:sessionStorage.getItem("EmpId"),
            date:d,
        }
        var ddl = JSON.stringify(employye)


        callJTemplateServiceMethod(ddl, "/api/Default", "getStudentsBirthday",
     "tbodyAdminTodaybirthday", "tbodyAdminTodaybirthdayJTemplte", true, todOListSuccess, "", "", "");



    })
    function getAllNoticeBoardDetails_Scs(p1,p2,p3,datas)
    {
        setTimeout(function(){ $('[data-toggle="tooltip"]').tooltip();},1000)

         var emp = {
             Department: sessionStorage.getItem("deptId"),
             SchoolID: sessionStorage.getItem("SchoolID")
         }
        callJTemplateServiceMethod(JSON.stringify(emp), "/api/EmployeeAPI", "getAllEmployeeEventsBySchool",
         "tbodyEmployeeEvents", "tbodyEmployeeEventsJTemplte", false, "", "", "", "");
       
    }
    function todOListSuccess(p1, p2, p3, datas)
    {

    }

    function todOListSuccess1(p1, p2, p3, datas) {
        setTimeout(function () {
            var t = $('#example1').DataTable();
            t.destroy();
            $timeout(function () {
                $('#example1').DataTable({
                    'columnDefs': [{
                        "targets": -1,
                        "orderable": false
                    }],
                });
            }, 1000);
        }, 1000);
    }
    function getMonday(d) {
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6 : 1);
        return new Date(d.setDate(diff));
    }

    function getSunday(d) {
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() + day;
        return new Date(d.setDate(diff));
    }



    function AddTaskTodo()
    {
        if ($("#form2").valid()) {

            $("#loader").fadeIn();
            var employye = {
                Id: getControlValue("txtTodoId"),
                date: getControlValue("txtDateTODO"),
                Subject: getControlValue("txtSubjectTODO"),
                Messsage: getControlValue("txtMessageTODO"),
                EmpId: sessionStorage.getItem("EmpId"),
                SchoolID : sessionStorage.getItem("SchoolID")
            }
            var ddl = JSON.stringify(employye)
            callServiceMethod(ddl, "/api/Default", "saveTaskToDoForEmployee", false, "", "", false, "", true, AddTaskTodo_scs, "", "", "");
        }
    }

    function AddTaskTodo_scs(p1, p2, p3, datas)
    {
        $("#loader").fadeOut();
        $("#divSucesToDo").fadeIn();
        $("#sentToDoMsg").html(datas);
        setTimeout(function () {
            $("#divSucesToDo").fadeOut();
            $("#sentToDoMsg").html("");
        }, 2000)
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        //  var output = (('' + month).length < 2 ? '0' : '') + month + '/' + (('' + day).length < 2 ? '0' : '') + day + '/' + d.getFullYear();
        var output = d.getFullYear() + '-' +((''+month).length<2 ? '0' : '') + month + '-' +((''+day).length<2 ? '0' : '') + day;

        var employye = {

            date: output,

            EmpId: sessionStorage.getItem("EmpId"),
             SchoolID: sessionStorage.getItem("SchoolID")
        }
        var ddl = JSON.stringify(employye)

        callJTemplateServiceMethod(ddl, "/api/Default", "getAllToDoListForEmployee",
            "tbodyAdminToDoDetails", "tbodyAdminToDoDetailsJTemplte", true, todOListSuccess, "", "", "");
        location.reload();
        clearAlltextBox();


    }

    function editTaskToDo(Id,subject,message,date)
    {
        setControlValue("txtTodoId",Id);
        setControlValue("txtSubjectTODO",subject);
        $("#txtMessageTODO").val(message);
        setControlValue("txtDateTODO",date);
    }
    function clearAlltextBox()
    {
        setControlValue("textEmailTo", "");
        setControlValue("txtSubject", "");
        $("#txtMessage").val("");


        $("#txtDateTODO").val("");
        $("#txtSubjectTODO").val("");
        $("#txtMessageTODO").val("");
        setControlValue("txtTodoId","");
    }


    function deleteTaskToDo(Id)
    {
        if(confirm('are u sure?'))
        {
            $("#loader").fadeIn();
            var employye = {

                Id: Id,

                EmpId:sessionStorage.getItem("EmpId")
            }
            var ddl = JSON.stringify(employye)

            callServiceMethod(ddl, "/api/Default", "deleteTaskToDoForEmployeById", false, "", "", false, "", true, deleteTaskToDo_scs, "", "", "");
        }
    }
    function deleteTaskToDo_scs(p1,p2,p3,datas)
    {
        $("#loader").fadeOut();
        swal({
            title: datas,
            text: "",
            icon: "success",
            button: "Ok!",
        });

        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        //  var output = (('' + month).length < 2 ? '0' : '') + month + '/' + (('' + day).length < 2 ? '0' : '') + day + '/' + d.getFullYear();
        var output = d.getFullYear() + '-' +((''+month).length<2 ? '0' : '') + month + '-' +((''+day).length<2 ? '0' : '') + day;

        var employye = {

            date: output,

            EmpId: sessionStorage.getItem("EmpId"),
             SchoolID: sessionStorage.getItem("SchoolID")
        }
        var ddl = JSON.stringify(employye)

        callJTemplateServiceMethod(ddl, "/api/Default", "getAllToDoListForEmployee",
            "tbodyAdminToDoDetails", "tbodyAdminToDoDetailsJTemplte", true, todOListSuccess, "", "", "");
        location.reload();

    }


    function sendEmailFromAdmin()
    {

        if ($("#form1").valid()) {

            $("#loader").fadeIn();
            var employye = {
                EmpId:sessionStorage.getItem("EmpId"),
                EmailTo: getControlValue("textEmailTo"),
                Subject: getControlValue("txtSubject"),
                Messsage: getControlValue("txtMessage")
            }
            var ddl = JSON.stringify(employye)
            callServiceMethod(ddl, "/api/Default", "sendEmailForEmployee", false, "", "", false, "", true, successMsg_scs_scs, "", "", "");
        }


    }
    //function successMsg_scs_scs(p1, p2, p3, datas)
    //{

    //    $("#loader").fadeOut();
    //    $("#divSucesEmail").fadeIn();
    //    $("#sentEmailMsg").html(datas);
    //    setTimeout(function () {
    //        $("#divSucesEmail").fadeOut();
    //        $("#sentEmailMsg").html("");
    //    }, 2000)



    //    clearAlltextBox();
    //}
    function successMsg_scs_scs(p1, p2, p3, datas) {

        if (datas == "1") {
            $("#loader").fadeOut();
            $("#divSucesEmail").fadeIn();
            $("#sentEmailMsg").html("Email Send Successfully");
        }
        else if (datas == "-1") {
            $("#loader").fadeOut();
            $("#divSucesEmail").fadeIn();
            $("#sentEmailMsg").html("Email Not Send ");

        }

        setTimeout(function () {
            $("#divSucesEmail").fadeOut();
            $("#sentEmailMsg").html("");
        }, 2000)



        clearAlltextBox();

    }
    function Thoughtsofday()
    {

        var School =
        {
           SchoolID : sessionStorage.getItem("SchoolID")
        }
        var dll = JSON.stringify(School)
        $.ajax({
            type: "POST",
            url: "/api/Default/GetThoughtofday",
            contentType: "application/json;charset=utf-8",
            data: dll,
            success: function (datas) {
              
                    
                    setControlValue("thoughts", datas.Thought),
                     setControlValue("event-date", datas.Todaydate)
                

            }
            
        });

    }



</script>
<script type="text/javascript">
    $(document).ready(function () {
        if (sessionStorage.getItem("EmpId") != "") {
            getAllTaasks(sessionStorage.getItem("EmpId"));
        }
    })
    function getAllTaasks(val) {
        $("#loader").fadeIn();
        var employye = {

            val: val,
            val1: sessionStorage.getItem("SchoolID")

        }

        var ddl = JSON.stringify(employye);
        callJTemplateServiceMethod(ddl, "/api/EmployeeAPI", "getEmployeeTaskByEmpId",
                     "tbodyEmployeeLeaves", "tbodyEmployeeLeavesJTemplte", true, sussess_msg, "", "", "");
        $("#loader").fadeOut();
    }
    function sussess_msg(p1,p2,p3,datas)
    {
        setTimeout(function () {
            $('#example1').DataTable();
        }, 2000)
    }

</script>

<style type="text/css">
    #grid {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #grid td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #grid tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #grid tr:hover {
            background-color: #ddd;
        }

        #grid th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dd4b39;
            color: white;
        }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {


                txtSubject: "required",
                //textEmailTo: {
                //    required: true,
                //    email: true
                //},
                textEmailTo:"required",
                txtMessage:"required"

            },
            messages: {

                textEmailTo: "Please Enter Email ID ",
                txtSubject: "Please Enter Subject",
                txtMessage:"Please Enter Message"

            }
        })


        $("#form2").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {


                txtMessageTODO: "required",
                //textEmailTo: {
                //    required: true,
                //    email: true
                //},
                txtSubjectTODO: "required",
                txtDateTODO: "required"

            },
            messages: {

                txtDateTODO: "Please Fill Date ",
                txtSubjectTODO: "Please Enter Subject",
                txtMessageTODO: "Please Enter Message"

            }
        })


    });
</script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #00c0ef;
            color: white;
        }

    .tools {
        cursor: pointer;
        color: #dd4b39;
    }

    #tbodyAdminTodaybirthday tr td {
        border-bottom: 1px solid #0000002e;
    }

    .text-pink-400, .text-pink-400:hover, .text-pink-400:focus {
        color: #ec407a;
    }
     .my-circle {
    border-radius: 50%;
    font-size: 16px;
    height: 35px;
    width: 35px;
    line-height: 30px;
    margin-top: 2px;
}
     .my-circle a {
    text-align: center;
    display: block;
}
</style>
