﻿
@{
    ViewBag.Title = "TakeStudentAttendence";
    // Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<section class="content">


    <div class="box box-solid">

        <div class="employee-attendance-search">

            <form id="w1" action="index" method="get">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i> Take Student Attendence </h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group field-empinfosearch-emp_department_id">
                                <label class="control-label" for="empinfosearch-emp_department_id">Class</label>
                                <input type="text" id="lblClass" class="form-control" readonly="readonly">
                                <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group field-empinfosearch-emp_designation_id">
                                <label class="control-label" for="empinfosearch-emp_designation_id">Section </label>
                                <input type="text" id="lblSections" class="form-control" readonly="readonly">

                                <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group field-employeeattendance-ea_date required">
                                <label class="control-label" for="employeeattendance-ea_date">Attendence Date</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>

                                    <input type="text" id="txtCurrentDate" class="form-control hasDatepicker" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>

    <form id="take-attendance" action="/hr/employee-attendance/create" method="post">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-search"></i> Student Attendance</h3>
        </div>
        <div class="box-body table-responsive">
            <div class="form-group field-employeeattendance-ea_date required">
                <div class="help-block"></div>
            </div>            <div class="col-sm-12">

                <div id="attend-grid" class="grid-view">
                    <div class="summary">Total <b>1</b> item.</div>
                    <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                        <thead>
                            <tr>

                                <th>Reg No</th>

                                <th>Name</th>
                                <th>Photo</th>
                                <th>Rollno</th>
                                <th>Attendence</th>
                                <th>Today Attendence</th>

                            </tr>
                        </thead>
                        <tbody id="tbodyEmployeeDetails"></tbody>
                    </table>
                    <script type="text/html" id="divEmployeeDetailsJTemplte">
                        {#foreach $T as Datashort}
                        <tr>

                            <td>
                                { $T.Datashort.RegNo}
                            </td>
                            <td>
                                { $T.Datashort.FirstName}
                            </td>
                            <td>
                                <img src="{ $T.Datashort.PicPath}" alt="#" />
                            </td>
                            <td>
                                { $T.Datashort.RollNo}
                            </td>
                            <td>

                                <select class="form-control dropdown-toggle" sectionId="{ $T.Datashort.Section}" classs="{ $T.Datashort.Class}" empId="{ $T.Datashort.emailID} " stdId="{ $T.Datashort.ID}" code="{ $T.Datashort.RegNo}" id="ddlAttendence_{ $T.Datashort.ID}">
                                    <option value="Present">Present</option>
                                    <option value="Absent">Absent</option>
                                    <option value="Leave">Leave</option>
                                </select>


                            </td>
                            <td class="rahul" id="tdIsLeave_{ $T.Datashort.ID}"></td>

                        </tr>
                        {#/for}
                    </script>
                </div>                <p class="text-red" id="spAllAfterAttendence">

                </p>
            </div>
        </div>
        <div class="box-footer">
            <input type="button" value="Take Attendence" id="TakeAttendence" onclick="TakeStudentAttendence()" class="btn btn-primary btn-create" />
            <input type="button" value="Change Attendence" id="updateAtttendence" onclick="changeAttendence()" class="btn btn-primary btn-create" />
            @*<button type="submit" id="save" class="btn btn-primary btn-create">Save</button>*@
        </div>
        </div>
    </form>

</section>

<!-- DataTables -->
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#txtCurrentDate').datepicker('setDate', 'today');

        var employye = {


            Employeecode: sessionStorage.getItem("EmpId"),
            SchoolID: sessionStorage.getItem("SchoolID")

        }
        $("#loader").fadeIn();
        var ddl = JSON.stringify(employye)
        callJTemplateServiceMethod(ddl, "/api/StudentApi", "getStudentForAttendenceClassWise",
            "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");
    });
    function successMsg(p1, p2, p3, datas) {
        setTimeout(function () {
            $('#example1').DataTable({
                "pageLength": 500,
                dom: 'lBfrtip',
                "ordering": false,
                "bInfo": false,
                paging: false,
                searching: true,
                bRetrieve: true,
                bDestroy: true,
            }
            );
        }, 1000);

        var employye = {


            Employeecode: getControlValue("txtCurrentDate"),
            SchoolID: sessionStorage.getItem("SchoolID")

        }
        var ddl = JSON.stringify(employye)
        callServiceMethod(ddl, "/api/StudentApi", "getStudentLeavesByDate", false, "", "", false, "", true, successMsg_scs_scs, datas, "", "");

        //callJTemplateServiceMethod(ddl, "/api/EmployeeAPI", "getEmployeeLeavesByDate",
        // "tbodyEmployeeDfdetails", "divEmployeeDetadfdilsJTemplte", true, successMsg_scs_scs, datas, "", "");
    }

    function successMsg_scs_scs(p1, p2, p3, datas) {
        if (datas.length > 0) {
            for (var i = 0; i < p1.length; i++) {
                for (var j = 0; j < datas.length; j++) {
                    if (p1[i].ID == datas[j].Id) {
                        setControlValue("tdIsLeave_" + datas[j].Id, "<span class='badge bg-yellow'>Leave</span>");
                        setControlValue("ddlAttendence_" + datas[j].Id, "Leave");
                        $("#ddlAttendence_" + datas[j].Id).attr("disabled", "disabled");
                    }
                }

            }

        }

        var employye = {


            Employeecode: getControlValue("txtCurrentDate"),
            DesigId: sessionStorage.getItem("EmpId"),
            SchoolID: sessionStorage.getItem("SchoolID")

        }
        var ddl = JSON.stringify(employye)
        callServiceMethod(ddl, "/api/StudentApi", "getStudentAttendenceCurrentDate", false, "", "", false, "", true, successMsg_scs_scs_scs, p1, "", "");

    }


    function successMsg_scs_scs_scs(p1, p2, p3, datas) {
        if (datas.length > 0) {
            for (var i = 0; i < p1.length; i++) {
                for (var j = 0; j < datas.length; j++) {
                    if (p1[i].ID == datas[j].StudentId) {
                        setControlValue("tdIsLeave_" + datas[j].StudentId, "<span class='badge bg-yellow'>Leave</span>");

                        if (datas[j].AttendenceType == "Present") {
                            setControlValue("tdIsLeave_" + datas[j].StudentId, "<span class='badge bg-green'>Present</span>");
                        }
                        if (datas[j].AttendenceType == "Absent") {
                            setControlValue("tdIsLeave_" + datas[j].StudentId, "<span class='badge bg-red'>Absent</span>");
                        }

                        setControlValue("ddlAttendence_" + datas[j].StudentId, datas[j].AttendenceType);
                        $("#ddlAttendence_" + datas[j].StudentId).attr("disabled", "disabled");





                    }


                }

            }


            if (datas.length == p1.length) {
                $("#TakeAttendence").fadeOut();
                $("#spAllAfterAttendence").html(" <i class='fa fa-warning'></i> <span> Today's Attendence has been taken!</span>");
            }
            else {
                $("#TakeAttendence").fadeIn();
                $("#spAllAfterAttendence").html("");
            }
        }

        $("#loader").fadeOut();
    }





    function TakeStudentAttendence() {
        $("#loader").fadeIn();
        var attend = new Array();
        $("#tbodyEmployeeDetails td select").each(function () {

            var LeaveTypee;
            if ($(this).val() == "Leave") {
                LeaveTypee = $(this).closest('tr').find('.rahul').text();
            }
            else {
                LeaveTypee = "";
            }
            var attendence = {
                StudentId: $(this).attr("stdId"),
                EmployeeId: $(this).attr("empid"),
                ClassID: $(this).attr("classs"),
                SectionId: $(this).attr("sectionId"),
                AttendenceType: $(this).val(),
                AttendenceDate: getControlValue("txtCurrentDate"),
                SchoolID: sessionStorage.getItem("SchoolID")


            }
            attend.push(attendence);

            // alert($(this).val())
        })

        var ddl = JSON.stringify(attend)
        callServiceMethod(ddl, "/api/StudentApi", "TakeStudenceAttendence", false, "", "", false, "", true, TakeStudentAttendence_scs, "", "", "");
        //var employye = {
    }

    function TakeStudentAttendence_scs(p1, p2, p3, datas) {
        $("#loader").fadeOut();
        swal({
            title: datas,
            text: "",
            icon: "success",
            button: "Ok!",
        });
        setTimeout(function () {
            location.reload();

        }, 2000)

    }


    function changeAttendence() {
        $("#tbodyEmployeeDetails td select").each(function () {
            if ($(this).val() == "Leave") { }
            else {

                $(this).removeAttr("disabled");
            }
        });
        $("#TakeAttendence").fadeIn();
        $("#spAllAfterAttendence").html("");

    }
</script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>

