﻿
@{
    ViewBag.Title = "ViewEmployeeSalaryDetails";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
 
<section class="content">


    <div class="box box-solid">
        <div class="et">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i> Search Employee</h3>

            </div>
        </div>

        <form id="w0" action="/employee/emp-master/index" method="get">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>From Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" readonly="readonly" id="txtStartDate" ng-model="txtStartDate">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>To Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" readonly="readonly" id="txtEndDate" ng-model="txtEndDate" />
                            </div>
                            <!-- /.input group -->
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Country" class="req">School<span class="requird">*</span></label>
                            <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" onchange="getGrades1(this.value)" valuefield="Id" textfield="Name" ></select>

                        </div>
</div>
                        <div class="col-sm-4">
                            <div class="form-group field-empinfosearch-emp_designation_id">
                                <label class="control-label" for="empinfosearch-emp_designation_id">Designation</label>
                                <select class="form-control" id="ddlDesgination" valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--" ng-model="ddlDesgination"></select>

                                <div class="help-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="margin-top: 25px;">
                            <div class="form-group field-empinfosearch-searchinput">

                                <input type="text" id="txtEmployeeName" class="form-control" placeholder="Enter Employee First/Last Name or Email Id.">

                                <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="margin-top: 25px;">
                            <div class="form-group field-empinfosearch-emp_info_id">

                                <input type="text" id="txtEmployeeCode" class="form-control" placeholder="Enter Employee Id">

                                <div class="help-block"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="box-footer">
                <input class="btn btn-primary" onclick="searchEmployee()" value="Search" type="button" />   <a class="btn btn-default" onclick="restClear()" href="javascript:void(0)">Reset</a>
            </div>

        </form>
    </div>



    <div class="col-md-12" id="divShowEmployees" style="display:none">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">View Employee Details</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div>

                        <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                            <thead>
                                <tr>
                                    <th>School</th>
                                  
                                    <th>Employee Name</th>
                                    <th>Photo</th>
                                    <th>Designation</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Net Salary</th>
                                    <th>Monthly salary</th>
                                    <th>No Of Leave</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyEmployeeDetails"></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <script type="text/html" id="divEmployeeDetailsJTemplte">
            {#foreach $T as Datashort}
            <tr>
                <td>
                    { $T.Datashort.School}
                </td>
                <td>
                    { $T.Datashort.EmployeeName}
                </td>
                <td>
                    <img src="{ $T.Datashort.ImageUpload}" alt="#" />
                </td>
                <td>
                    { $T.Datashort.Designation}
                </td>
                <td>
                    { $T.Datashort.FromDate}
                </td>
                <td>
                    { $T.Datashort.ToDate}
                </td>
                <td>
                    { $T.Datashort.NetSalary} <span>/-</span>
                </td>
                <td>
                    { $T.Datashort.MonthlyGross} <span>/-</span>
                </td>
                <td>
                    { $T.Datashort.NoOfLeave}
                </td>
                <td>
                 <button type="button" onclick="generateSalarySlip({ $T.Datashort.Id})" class="btn btn-block btn-success">Salary Slip Generate</button>
                </td>
            </tr>
            {#/for}
        </script>
    </div>

</section>
<!-- DataTables -->
<link href="~/js/PDFExcelDatatable/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/js/PDFExcelDatatable/dataTables.buttons.min.js"></script>
<script src="~/js/PDFExcelDatatable/jszip.min.js"></script>
<script src="~/js/PDFExcelDatatable/pdfmake.min.js"></script>
<script src="~/js/PDFExcelDatatable/vfs_fonts.js"></script>
<script src="~/js/PDFExcelDatatable/buttons.html5.min.js"></script>
<script src="~/js/PDFExcelDatatable/buttons.print.min.js"></script>
<script src="~/js/PDFExcelDatatable/buttons.colVis.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
      

        var firstDayOfMonth = function () {
            // your special logic...
            return 1;
        };

        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, firstDayOfMonth());
        $('#txtStartDate').datepicker('setDate', startDate);



        var currentTime = new Date()
        var maxDate = new Date(currentTime.getFullYear(), currentTime.getMonth() + 1, +0)
        $("#txtEndDate").datepicker('setDate', maxDate);
        // $("#txtEndDate").datepicker();



      


    });
</script>
<script type="text/javascript">

    $(document).ready(function () {

        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        var SchoolID = $("#ddlSchoolName").val();
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/EmployeeAPI", "getAllDesignationBySchoolID", "ddlDesgination", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");


        //callServiceMethodForDDl("", "/api/EmployeeAPI", "getAllDesignation", "ddlDesgination", false, "", "", "", "");
   

  



        //callServiceMethodForDDl("", "/api/EmployeeAPI", "getAllDesignation", "ddlDesgination", false, "", "", "", "");
       });

    function getGrades1(val) {

        callServiceMethodForDDl(JSON.stringify([val]), "/api/EmployeeAPI", "getAllDesignationBySchoolID", "ddlDesgination", false, "", "", "", "");
    }

    function searchEmployee()
    {
        var employye = {


            FromDate: getControlValue("txtStartDate"),
            ToDate: getControlValue("txtEndDate"),
            Designation: getControlValue("ddlDesgination"),

            EmployeeName: getControlValue("txtEmployeeName"),
            Id: getControlValue("txtEmployeeCode"),
            SchoolID: getControlValue("ddlSchoolName")



        }

        var ddl = JSON.stringify(employye)

        callJTemplateServiceMethod(ddl, "/api/PayrollAPI", "searchsalryDetails",
              "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, showSearchResult, "", "", "");

       // callServiceMethod(ddl, "/api/EmployeeAPI", "searchEmployeeForSms", false, "", "", false, "", false, "", "", "", "");
    }

    function showSearchResult(p1,p2,p3,datas)
    {
        $("#divShowEmployees").removeAttr("style");
        setTimeout(function () {
            $('#example1').DataTable();
        }, 1000);
    }


  
 

    function restClear()
    {

        setControlValue("ddlDesgination", "0");

        setControlValue("txtEmployeeName", "");
        setControlValue("txtEmployeeCode", "");


    }


    function generateSalarySlip(Id)
    {
        location.href="/Payroll/SalarySlipGenerate?Id="+Id;
    }
</script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>


