﻿
@{
    ViewBag.Title = "ExpCategory";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<script src="~/js/angular.min.js"></script>
<script src="~/js/Accounts/Model.js"></script>
<script src="~/js/Accounts/Service.js"></script>

<section class="content" ng-app="myApp" ng-controller="myCtrl">

    <form role="form" id="form1" name="form1">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-plus-square"></i> Create Expense Category</h3>
            </div>

            <div class="alert alert-success centerSuccess" id="divsuccesmsg" style="display:none">
                @*<div class="alert alert-success alert-dismissible centerSuccess" ng-show="IsVisible">*@
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>
                        <i class="icon fa fa-check"></i>
                        <span ng-bind="successMsg"></span>
                    </h4>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Country" class="req">School<span class="requird">*</span></label>
                                    <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name" @*blankRowValue="0" blankRowText="--Select--"*@></select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-sm-4">
                                <div class="form-group ">
                                    <label class="control-label" for="expcategory-exp_cat_name" class="req">Category Name <span class="requird">*</span></label>
                                    <input type="text" id="txtId" ng-model="txtId" class="form-control" style="display:none" name="txtId" />
                                    <input type="text" id="txtCategoryName" ng-model="txtCategoryName" class="form-control" name="txtCategoryName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" id="chkstatus" ng-model="chkstatus"> Active
                                    </label>
                                </div>



                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <input type="button" ng-click="saveCategory()" value="Save" class="btn btn-primary" />
                </div>

            </div>
</form>

    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-search"></i> View Expense Category</h3>
        </div>
        <div class="box-body table-responsive">

            <table id="example1" class="table table-bordered table-striped" style="width:100%;">
                <thead style="background-color:steelblue;color:white;">
                    <tr>
                        <th>School</th>
                        <th>Caetgory Name</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees" ng-class-odd="'oddTr'">
                        <td>
                            {{employee.School}}
                        </td>
                        <td>
                            {{employee.Name}}
                        </td>
                        <td>
                            <button type="button" style="width: 120px;" class="{{employee.Extra10}}">{{employee.Status}}</button>
                        </td>

                        <td>
                            <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" ng-click="editCategoyById(employee)"></i>


                        </td>

                        <td>
                            <i class="fa fa-fw fa-trash" style="cursor:pointer" ng-click="deleteCategoyById(employee)"></i>


                        </td>

                    </tr>


                </tbody>

            </table>
        </div>
    </div>
</section>







<!-- DataTables -->
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        document.getElementById("chkstatus").checked = true;
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");



        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                txtCategoryName: "required",



            },
            messages: {
                txtCategoryName: "Please Enter Category Name",


            }
        })

    });
</script>




<script src="~/js/Accounts/controller.js"></script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>