﻿
@{
    ViewBag.Title = "Expenses";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<div class="box box-solid">
    <div class="et">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-search"></i> Search Payements</h3>

        </div>
    </div>

    <form id="w0" action="/employee/emp-master/index" method="get">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="Country" class="req">School<span class="requird">*</span></label>
                        <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name"></select>

                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Payment Date</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" readonly="readonly" id="txtStartDate" ng-model="txtStartDate">
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group ">
                        <label class="control-label">Payment Mode</label>
                        <div id="exppayabledetails-exp_pay_dt_type">
                            <select id="ddlPaymentMode" class="form-control">
                                <option value="Cash">Cash</option>
                                <option value="Cheque">Cheque</option>
                            </select>
                        </div>

                        <div class="help-block"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">

                        <label>Payee Name</label>
                        <input type="text" id="txtPayeeName" class="form-control" placeholder="Enter Payee Name">

                        <div class="help-block"></div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-sm-2" style="margin-top: 25px;">
                    <input class="btn btn-primary" onclick="searchPaymentDetails()" value="Search" type="button" />
                    <input class="btn btn-primary" onclick="resetTextBoxes()" value="Reset" type="button" />

                    <div class="help-block"></div>
                </div>

                <div class="col-sm-4" style="margin-top: 25px;">
                    <input type="button" id="create_pdf" value="Export Pdf" onclick="pdfExport()" class="btn btn-primary" />

                    <a href="#" class="btn btn-primary" onClick="$('#divExpenseDetails').tableExport({ type: 'excel', escape: 'false' });">Excel Exports</a>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="box box-solid">
    <div>
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-search"></i> View Expenses</h3>
            <div class="box-tools">
                <strong>Total Expenses</strong>&nbsp;&nbsp;<span class="badge bg-red" id="txttotalPayingAmt"></span>
            </div>
        </div>
    </div>
    <div class="row" style="overflow-x:scroll">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-body">
                    <div class="form-group">
                        <div id="divExpenseDetails">

                            <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                                <thead>
                                    <tr>
                                        <th>School</th>
                                        <th>Payment Date</th>
                                        <th>Category</th>
                                        <th>Payee</th>
                                        <th>Payment Mode</th>
                                        <th>Paying Amt</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyEmployeeLeaveRequestDetails"></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <script type="text/html" id="tbodyEmployeeLeaveRequestDetailsJTemplte">
                {#foreach $T as Datashort}
                <tr>
                    <td>
                        {$T.Datashort.School}
                    </td>
                    <td>
                        { $T.Datashort.PaymentDate}
                    </td>
                    <td>
                        { $T.Datashort.Category}
                    </td>
                    <td>
                        { $T.Datashort.Name}
                    </td>
                    <td>
                        { $T.Datashort.PaymentMode}
                    </td>
                    <td>
                        { $T.Datashort.PayingAmount}
                    </td>
                    <td>
                        { $T.Datashort.Remarks}
                    </td>
                    <td>
                        <div class="tools">
                            @*<a href="javascript:void(0)" onclick="editPayableDetails({ $T.Datashort.Id})"><i class="glyphicon glyphicon-eye-open"></i> </a>*@ &nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)" onclick="deleteExpanseDetailsById({ $T.Datashort.Id})"> <i class="fa fa-trash-o"></i></a>
                        </div>
                    </td>
                </tr>
                {#/for}
            </script>


        </div>
    </div>


</div>
</section>

<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>


<script src="~/js/jsExcel/tableExport.js"></script>
<script src="~/js/jsExcel/jquery.base64.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script src="~/js/jsExcel/html2canvas.js"></script>


<script src="~/js/jsExcel/base64.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        var firstDayOfMonth = function () {
            // your special logic...
            return 1;
        };

        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, firstDayOfMonth());
        $('#txtStartDate').datepicker('setDate', startDate);



        var currentTime = new Date()
        var maxDate = new Date(currentTime.getFullYear(), currentTime.getMonth() + 1, +0)
        $("#txtEndDate").datepicker('setDate', maxDate);
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");

        callJTemplateServiceMethod(JSON.stringify([loginuser, typeuser]), "/api/AccountsAPI", "getAllPayingPaymentDetails",
            "tbodyEmployeeLeaveRequestDetails", "tbodyEmployeeLeaveRequestDetailsJTemplte", true, successMsg, "", "", "");

        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

    })

    function successMsg(p1, p2, p3, datas) {

        var t = $('#example1').DataTable();
        t.destroy();
        setTimeout(function () {

            $('#example1').DataTable({
                bRetrieve: true,
                bDestroy: true,
                'columnDefs': [{
                    "targets": -1,
                    "orderable": false

                }],


            })
        }, 1000);
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethod(JSON.stringify([SchoolID]), "/api/AccountsAPI", "countTotalPayingAmountbySchool", false, "", "", false, "", true, setPaymetnsSum, "", "", "");

    }

    function setPaymetnsSum(p1, p, p3, datas) {
        if (datas != "") {
            setControlValue("txttotalPayingAmt", datas);


        }
        else {
            setControlValue("txttotalPayingAmt", "0");

        }
    }



    function deleteExpanseDetailsById(id) {
        if (confirm('are u sure,you want to delete?')) {
            callServiceMethod(JSON.stringify([id]), "/api/AccountsAPI", "deleteExpanseDetailsById", false, "", "", false, "", true, deletePayableDetailsById_scs, "", "", "");
        }

    }
    function deletePayableDetailsById_scs(p1, p2, p3, datas) {
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        location.reload();
        callJTemplateServiceMethod(JSON.stringify([loginuser, typeuser]), "/api/AccountsAPI", "getAllPayingPaymentDetails",
            "tbodyEmployeeLeaveRequestDetails", "tbodyEmployeeLeaveRequestDetailsJTemplte", true, successMsg, "", "", "");
    }

    function searchPaymentDetails() {
        var payee = {
            Name: getControlValue("txtPayeeName"),
            PaymentDate: getControlValue("txtStartDate"),
            PaymentMode: getControlValue("ddlPaymentMode"),
            SchoolID: getControlValue("ddlSchoolName")
        }
        var ddl = JSON.stringify(payee)
        callJTemplateServiceMethod(ddl, "/api/AccountsAPI", "searchPaymentDetails",
            "tbodyEmployeeLeaveRequestDetails", "tbodyEmployeeLeaveRequestDetailsJTemplte", true, searchPaymentDetails_scs, "", "", "");
        // callServiceMethod(ddl, "/api/AccountsAPI", "searchPaymentDetails", false, "", "", false, "", true, searchPaymentDetails_scs, "", "", "");
    }

    function resetTextBoxes() {
        setControlValue("txtPayeeName", "");
        $('#ddlPaymentMode').val();
        var firstDayOfMonth = function () {
            // your special logic...
            return 1;
        };
        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, firstDayOfMonth());
        $('#txtStartDate').datepicker('setDate', startDate);
    }
    function searchPaymentDetails_scs(p1, p2, p3, datas) {
        var totlePaying = 0;
        if (datas.length > 0) {
            for (var i = 0; i < datas.length; i++) {
                totlePaying += parseInt(datas[i].PayingAmount);
            }
            setControlValue("txttotalPayingAmt", totlePaying);
        }
        else {
            setControlValue("txttotalPayingAmt", "0");
        }

        setTimeout(function () {
            $('#example1').DataTable({
                paging: false,
                searching: false,
                bRetrieve: true,
                bDestroy: true,
                //destroy: true,
            })
        }, 1000);
    }

</script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            /*text-align: left;
            text-align:end;*/
            background-color: #367fa9;
            color: white;
        }
</style>

<script type="text/javascript">



    function pdfExport  () {




        $("#loader").fadeIn();
        var pdf = new jsPDF('p', 'pt', 'a2');


        source = $('#divExpenseDetails')[0];


        pdf.text("Accounts Reports", 5 + 360, 20);

        specialElementHandlers = {

            '#bypassme': function (element, renderer) {
                return true
            }
        };


        margins = {
            top: 0,
            bottom: 0,
            left: 10,
            width: 500,


        };
        //pdf.addHTML(source, margins.top, margins.left, {},
        pdf.fromHTML(

            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
                'width': "1000", // max width of content on PDF
                'elementHandlers': specialElementHandlers,


            },



            function (dispose) {

                pdf.save('AccountsExpense.pdf');
            }, margins);
        $("#loader").fadeOut();

    }

    //pdfmake = require('pdfmake');
    //function pdfExport() {
    //    html2canvas(document.getElementById('divExpenseDetails'), {
    //        onrendered: function (canvas) {
    //            var data = canvas.toDataURL();
    //            var docDefinition = {
    //                content: [{
    //                    image: data,
    //                    width: 500,
    //                }]
    //            };
    //            pdfMake.createPdf(docDefinition).download("test.pdf");
    //        }
    //    });
    //}
</script>

