﻿
@{
    ViewBag.Title = "ViewPayeeAccounts";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<section class="content">
    <div class="row center-block" style="width: 75%;">
        <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-teal">
                <div class="inner">
                    <h3 id="txtTotalAmount">0 </h3>
                    <p>Total Payable Amount</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <a class="small-box-footer" href="/Accounts/Expenses">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 id="txtPaidAmount">0</h3>
                    <p>Total Paid Amount</p>
                </div>
                <div class="icon">
                    <i class="fa fa-file-text"></i>
                </div>
                <a class="small-box-footer" href="/Accounts/Expenses" target="_blank">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 id="txtDuesAmount">0</h3>
                    <p>Total Due Amount</p>
                </div>
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <a class="small-box-footer" href="/Accounts/Expenses">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->
    
    <div class="box box-solid">
        <div>
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i> View Payable Details</h3>
                <div class="box-tools">
                    <a class="btn btn-success btn-sm" href="/Accounts/CreatePayee"><i class="fa fa-plus-square"></i> Add Payee</a>
                </div>
            </div>
        </div>
        <div class="row" style="overflow-x:scroll">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                     <div class="box-body">
                        <div class="form-group">
                            <div>

                                <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                                    <thead>
                                        <tr>
                                            <th>School</th>
                                            <th>Payee</th>
                                            <th>Category</th>
                                            <th>Payment Type</th>
                                            <th>TotalAmt</th>
                                            <th>Paid Amt</th>
                                            <th>Dues Amt</th>
                                            <th>Primary Date</th>
                                            <th>Last Date</th>
                                          <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyEmployeeLeaveRequestDetails"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <script type="text/html" id="tbodyEmployeeLeaveRequestDetailsJTemplte">
                    {#foreach $T as Datashort}
                    <tr>
                        <td>
                            { $T.Datashort.School}
                        </td>

                        <td>
                            { $T.Datashort.Name}
                        </td>
                        <td>
                            { $T.Datashort.Category}
                        </td>
                        <td>
                            { $T.Datashort.PaymentType}
                        </td>
                        <td>
                            { $T.Datashort.TotalAmount}
                        </td>
                        <td>
                            { $T.Datashort.PayingAmount}
                        </td>
                        <td>
                            { $T.Datashort.DuesAmount}
                        </td>
                        <td>
                            { $T.Datashort.PrimaryDate}
                        </td>
                        <td>
                            { $T.Datashort.LastDate}
                        </td>

                        <td>
                            <div class="tools">
                                <a href="javascript:void(0)" onclick="editPayableDetails({ $T.Datashort.Id})"><i class="glyphicon glyphicon-eye-open"></i> </a> &nbsp;&nbsp;&nbsp;
                                <a href="javascript:void(0)" onclick="deletePayableDetailsById({ $T.Datashort.Id})"> <i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    {#/for}
                </script>


            </div>
        </div>

        @*<div id="p0" data-pjax-container="" data-pjax-push-state="" data-pjax-timeout="10000">
            <div class="box-body table-responsive">
                <div id="w1" class="grid-view">
                    <div class="summary">Showing <b>1-1</b> of <b>1</b> item.</div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr><th>#</th><th>Payee</th><th>Category</th><th>Total Amount</th><th>Paid Amt</th><th>Due Amt</th><th>Primary Date</th><th>Last Date</th><th class="action-column">&nbsp;</th></tr>
                            <tr id="w1-filters" class="filters">
                                <td>&nbsp;</td>
                                <td><input type="text" class="form-control" name="ExpPayableSearch[exp_pay_name]"></td>
                                <td>
                                    <select class="form-control" name="ExpPayableSearch[exp_pay_cat]">
                                        <option value=""></option>
                                        <option value="2">Maintenance Allowence</option>
                                        <option value="3">Mobile Allowence</option>
                                        <option value="1">Travel Allowence</option>
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="text" id="exppayablesearch-exp_pay_pri_date" class="form-control hasDatepicker" name="ExpPayableSearch[exp_pay_pri_date]">
                                </td>
                                <td>
                                    <input type="text" id="exppayablesearch-exp_pay_final_date" class="form-control hasDatepicker" name="ExpPayableSearch[exp_pay_final_date]">
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-key="3"><td>1</td><td>rahul</td><td>Maintenance Allowence</td><td>5000</td><td>4000</td><td>1000</td><td>1/9/18</td><td>1/9/18</td><td><a href="/accounts/exp-payable/view?id=3" title="View" aria-label="View" data-pjax="0"><span class="glyphicon glyphicon-eye-open"></span></a> <a href="/accounts/exp-payable/delete?id=3" title="Delete" aria-label="Delete" data-pjax="0" data-confirm="Are you sure you want to delete this item?" data-method="post"><span class="glyphicon glyphicon-trash"></span></a></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@
    </div>
</section>
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var firstDayOfMonth = function () {
            // your special logic...
            return 1;
        };

        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, firstDayOfMonth());
        $('#txtStartDate').datepicker('setDate', startDate);



        var currentTime = new Date()
        var maxDate = new Date(currentTime.getFullYear(), currentTime.getMonth() + 1, +0)
        $("#txtEndDate").datepicker('setDate', maxDate);
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
      
        callJTemplateServiceMethod(JSON.stringify([loginuser, typeuser]), "/api/AccountsAPI", "getAllPaymentDetails",
           "tbodyEmployeeLeaveRequestDetails", "tbodyEmployeeLeaveRequestDetailsJTemplte", true, successMsg, "", "", "");
    })

    function successMsg(p1,p2,p3,datas)
    {  setTimeout(function () {
        $('#example1').DataTable({
            bRetrieve: true,
            bDestroy: true,
            'columnDefs': [{
                "targets": -1,
                "orderable": false
            }],
        })
    }, 1000);
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethod(JSON.stringify([SchoolID]), "/api/AccountsAPI", "countpaymentAllTypeBySchool", false, "", "", false, "", true, setPaymetnsSum, "", "", "");
    }

    function setPaymetnsSum(p1,p,p3,datas)
    {
        if(datas!="")
        {
            setControlValue("txtTotalAmount",datas.split('***')[0]);
            setControlValue("txtPaidAmount",datas.split('***')[1]);
            setControlValue("txtDuesAmount",datas.split('***')[2]);
             
        }
        else
        {
            setControlValue("txtTotalAmount","0");
            setControlValue("txtPaidAmount","0");
            setControlValue("txtDuesAmount","0");
        }
    }

    function editPayableDetails(id)
    {
        window.location.href="/Accounts/editPayeeAccounts?Id="+id;
    }

    function deletePayableDetailsById(id)
    {
        if(confirm('are u sure,you want to delete ?'))
        {
            callServiceMethod(JSON.stringify([id]), "/api/AccountsAPI", "deletePayableDetailsById", false, "", "", false, "", true, deletePayableDetailsById_scs, "", "", "");
        }

    }
    function deletePayableDetailsById_scs(p1,p2,p3,datas)
    {
        callJTemplateServiceMethod("", "/api/AccountsAPI", "getAllPaymentDetails",
       "tbodyEmployeeLeaveRequestDetails", "tbodyEmployeeLeaveRequestDetailsJTemplte", true, successMsg, "", "", "");
    }
</script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }

    
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>