﻿@{
    ViewBag.Title = "SchoolDetails";
    Layout = "~/Views/Shared/_LayoutSchoolAdmin.cshtml";
}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<section class="content">
    <div class="row">
       
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Edit School Details</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="reg_input_name" class="req">School Name </label>
                                            <input type="text" class="form-control" id="txtSchoolName">
                                            <input type="text" style="display:none" class="form-control" id="txtSchoolId">
                                            <input type="text" style="display:none" class="form-control" id="txtPrincipleId">
                                        </div>

                                        <div class="form-group">
                                            <label for="reg_input_name">School Code </label>
                                            <input type="text" class="form-control" id="txtSchoolCode" readonly="readonly">

                                        </div>
                                        <div class="form-group">
                                            <label for="reg_input_name">School Board </label>
                                            <input type="text" class="form-control" id="txtBoard">

                                        </div>
                                        <div class="form-group">
                                            <label for="reg_input_name">Website</label>
                                            <input type="text" class="form-control" id="txtWebsite">
                                        </div>
                                        <div class="form-group">
                                            <label for="Email" class="req">Email </label>
                                            <input type="text" class="form-control" id="txtEmailAddress" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Fax" class="req">Fax No</label>
                                            <input type="text" class="form-control" id="txtFaxNo" />
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label for="reg_input_name">School Logo</label>
                                                <input type="file" class="form-control" onchange="setSchoolLogo(this.value)" id="txtSchoolLogo">
                                                <span id="sptxtSchoolLogo" style="display:none"></span>
                                            </div>

                                            @*<div class="col-sm-6"><img src="" style="width: 156px;height: 130px;" id="ImgSchoologo" /></div>*@
                                        </div>

                                        @*<div class="form-group">


                                            <div class="col-sm-6">
                                                <label for="reg_input_name">Principle Signature</label>
                                                <input type="file" class="form-control" onchange="setPrincipleLogo(this.value)" id="txtPrincipleSignature">
                                                <span id="sptxtPrincipleSignature" style="display:none"></span>
                                            </div>

                                            <div class="col-sm-6"><img src="" style="width: 156px;height: 130px;" id="ImgPrinciplesign" /></div>
                                        </div>*@




                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="reg_input_name">Address</label>
                                            <textarea class="form-control" id="txtAddress" cols="5" rows="5"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="State" class="req">State </label>
                                            <select class="form-control" id="txtState" name="txtState" valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--"></select>

                                        </div>
                                        <div class="form-group">
                                            <label for="State" class="req">City </label>
                                            <select class="form-control" id="txtCity" name="txtCity" valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--"></select>

                                        </div>
                                        @*<div class="form-group">
                                            <label for="City" class="req">City </label>
                                            <input type="text" class="form-control" id="txtCity" />
                                        </div>*@
                                        <div class="form-group">
                                            <label for="District" class="req">District </label>
                                            <input type="text" class="form-control" id="txtDistrict" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Pincode" class="req">Pincode </label>
                                            <input type="text" class="form-control" id="txtPincode" />
                                        </div>

                                        <div class="form-group">
                                            <label for="Mobile" class="req">Mobile no </label>
                                            <input type="text" class="form-control" id="txtMobileNo" />
                                        </div>

                                        <div class="form-group">
                                            <label for="Phone" class="req">Phone No </label>
                                            <input type="text" class="form-control" id="txtPhoneNo" />
                                        </div>
                                        <div>
                                            <input type="button" onclick="updateSchoolDetails()" class="btn btn-primary" value="Save" />
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        callServiceMethodForDDl("", "/api/Default", "getAllState", "txtState", false, "", "", "", "");
        $('#txtState').change(function () {
            var state = getControlValue("txtState");
            callServiceMethodForDDl(JSON.stringify([state]), "/api/EmployeeAPI", "getCityByStateId", "txtCity", false, "", "", "", "");
        });
       


      

       // var name = GetParameterValues('Name');
        var id = GetParameterValues('Id');
        //alert("Hello " + name + " your ID is " + id);
        function GetParameterValues(param) {
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < url.length; i++) {
                var urlparam = url[i].split('=');
                if (urlparam[0] == param) {
                    return urlparam[1];
                }
            }
        }
        
        callServiceMethod(JSON.stringify([id]), "/api/Default", "getSchoolDetailsBySchoolID", false, "", "", false, "", true, getSchollDetails_scs, "", "", "");
        
    });
    
   

    function getSchollDetails_scs(p1,p2,p3,datas)
    {
        setControlValue("txtSchoolId",datas.ID)
        setControlValue("txtSchoolName", datas.School);
        setControlValue("txtSchoolCode", datas.SchoolCode);
        setControlValue("txtBoard", datas.Board);
        setControlValue("txtWebsite", datas.Website);
        setControlValue("txtEmailAddress", datas.Email);
        setControlValue("txtFaxNo", datas.Fax);
        $("#ImgSchoologo").attr("src", datas.LogoPic);

        $("#ImgPrinciplesign").attr("src", datas.principleSign);
     
        setControlValue("sptxtSchoolLogo", datas.LogoPic);
        setControlValue("sptxtPrincipleSignature", datas.principleSign);

        setControlValue("txtAddress", datas.Address);
        setControlValue("txtState", datas.State);
        callServiceMethodForDDl(JSON.stringify([datas.State]), "/api/EmployeeAPI", "getCityByStateId", "txtCity", false, "", "", "", "");
        setControlValue("txtCity", datas.City);
        setControlValue("txtDistrict", datas.District);
        setControlValue("txtPincode", datas.Pincode);
        setControlValue("txtMobileNo", datas.Mobile);
        setControlValue("txtPhoneNo", datas.Phone);
        setControlValue("txtPrincipleId", datas.PrincipalID);
      
    }

    function updateSchoolDetails()
    {
        $("#loader").fadeIn();
        var school = {
            ID: sessionStorage.getItem("SchoolID"),
            School:getControlValue("txtSchoolName"),
            SchoolCode:getControlValue("txtSchoolCode"),
            Board:getControlValue("txtBoard"),
            Website: getControlValue("txtWebsite"),
            Email:getControlValue("txtEmailAddress"),
            Fax: getControlValue("txtFaxNo"),
            LogoPic:getControlValue("sptxtSchoolLogo"),
            //principleSign: getControlValue("sptxtPrincipleSignature"),
            Address:getControlValue("txtAddress"),
            State:getControlValue("txtState"),
            City:getControlValue("txtCity"),
            District:  getControlValue("txtDistrict"),
            Pincode:getControlValue("txtPincode"),
            Mobile:getControlValue("txtMobileNo"),
            Phone:getControlValue("txtPhoneNo")
        };

        var ddl = JSON.stringify(school)
        callServiceMethod(ddl, "/api/Default", "SaveSchoolDetailsEdit", false, "", "", false, "", true, saveSchoolDetails_scs, "", "", "");

    }
    function saveSchoolDetails_scs(p1, p2, p3, datas) {
        $("#loader").fadeOut();
        if (datas == "-1") {
            $("#divSuccessMsg").fadeIn();
            $("#divSuccessMsg").html("<strong>Success!</strong> Entered school name already exist!!");
            setTimeout(function () {
                $("#divSuccessMsg").fadeOut();
            }, 2000);
        }
        else {
            var data = datas.split('***');
            setControlValue("txtSchoolId", data[0]);
            saveImageDocuments(datas);
        }
    }
    function saveImageDocuments(datas) {
        var datda = datas.split('***');
        var data = new FormData();

        var files = $("#txtSchoolLogo").get(0).files;
        // var files2 = $("#fileUpload2").get(0).files;

        // Add the uploaded image content to the form data collection
        if (files.length > 0) {
            data.append("UploadedImage", files[0]);
        }
        data.append("Id", datda[0]);




        for (var i = 0; i < $("#divDocumentUpload input[type=file]").length; i++) {
            files = $("#FileUpload" + i + "").get(0).files;
            data.append("UploadedImage" + i + "", files[0]);
            data.append("UploadedImageId" + i + "", $("#FileUpload" + i + "").attr("rahul"));
        }

        $.ajax({
            type: "POST",
            url: "/api/Default/SaveSchoolImage",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                $("#loader").fadeOut();

                $("#divSuccessMsg").fadeIn();
                $("#divSuccessMsg").html("<strong>Success!</strong> " + data);
                alert("School Details Updated Successfully");
                setTimeout(function () {
                    $("#divSuccessMsg").fadeOut();
                   
                }, 2000)
                //callServiceMethod(JSON.stringify([id]), "/api/Default", "getSchoolDetailsBySchoolID", false, "", "", false, "", true, getSchollDetails_scs, "", "", "");

            }
        });

        //ajaxRequest.done(function (xhr, textStatus) {
        //    alert("rahul");
        //    // Do other operation
        //});
    }

    function setSchoolLogo(val)
    {
        $("#ImgSchoologo").attr("src","/Images/Admin/AdmitCards/"+val.split('\\')[2]);
  
    }
    function setPrincipleLogo(val)
    {
        $("#ImgPrinciplesign").attr("src", "/Images/Admin/" + val.split('\\')[2]);
    }
</script>









