﻿
@{
    ViewBag.Title = "SuperAdminDashboard";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
  <!-- Content Wrapper. Contains page content -->
<div class="contesnt-wrapper">
 
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 id="tdTotalSchools">0</h3>
                        <p>Total Schools</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-o-down"></i>
                    </div>
                    <a href="/Masters/NewSchool" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 id="spTotalStudents"></h3>
                        <p>Total Students</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-stalker"></i>
                    </div>
                    <a href="/Student/ViewStudentDetails" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
           @* <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-green">
             <div class="inner">
                 <h3 id="spTotalEmplcount"></h3>
                 <p>Total Employees</p>
             </div>
             <div class="icon">
                 <i class="ion ion-person-add"></i>
             </div>
             <a href="/Employee/EmployeeDetails" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
         </div>
     </div>
    <!-- ./col -->
     <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-yellow">
             <div class="inner">
                 <h3 id="tdTotalStudentAbsent">0</h3>
                 <p>Student Absents</p>
             </div>
             <div class="icon">
                 <i class="fa fa-thumbs-o-down"></i>
             </div>
             <a href="/Reporting/StudentAttendencReport" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
         </div>
     </div>
     <!-- ./col -->
     <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-red">
             <div class="inner">
                 <h3 id="tdTotalEmployeeAbsent">0</h3>
                 <p>Staff Absents</p>
             </div>
             <div class="icon">
                 <i class="fa fa-thumbs-o-down"></i>
             </div>
             <a href="/Reporting/EmployeeAttendenceReports" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
         </div>
     </div>
     <!-- ./col -->*@
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="nav-tabs-custom">
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                </div>

            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-6 connectedSortable">
                <!-- Map box -->
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-envelope"></i>
                        <h3 class="box-title">Sent  Email</h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                                    title="Remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <div class="box-body">
                        <form role="form" id="form1" name="form1">
                            <div class="alert alert-success centerSuccess" id="divSucesEmail" style="display:none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4>
                                    <i class="icon fa fa-check"></i>
                                    <span Id="sentEmailMsg"></span>
                                </h4>

                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" id="textEmailTo" name="textEmailTo" placeholder="Email to:">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="txtSubject" id="txtSubject" placeholder="Subject">
                            </div>
                            <div>
                                <textarea class="textarea" placeholder="Message" id="txtMessage" name="txtMessage"
                                          style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix">
                        <button type="button" class="pull-right btn btn-default" onclick="sendEmailFromAdmin()" id="sendEmail">
                            Send
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
                </section>
                <section class="col-lg-6 connectedSortable">
                    <!-- Map box -->
                    <!-- /.box -->
                    <!-- /.box -->
                    <div class="box box-solid ">
                        @*<div id="chartContainer2" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>*@
                        <div class="box box-info">
                            <div class="box-header">
                                <i class="fa fa-envelope"></i>
                                <h3 class="box-title">Thought of the day</h3>
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                                            title="Remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <!-- /. tools -->
                                <div class="alert alert-success centerSuccess" id="divSucesThoughts" style="display:none">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4>
                                        <i class="icon fa fa-check"></i>
                                        <span Id="sentThoughtsdMsg"></span>
                                    </h4>

                                </div>
                            </div>
                            <div class="box-body">
                                <form role="form" id="thoughts" name="thoughts">
                                    <textarea class="textarea" placeholder="Thoughts of the day..." id="txtThoughts" name="txtThoughts"
                                              style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </form>
                            </div>
                            <div class="box-footer clearfix">
                                <button type="button" class="pull-right btn btn-default" onclick="SaveThoughts()" id="sendthoughts">
                                    Send
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    @*<div class="box box-danger">
                    <div class="panel panel-flat ">
                        <div class="panel-heading">
                            <h6 class="panel-title"><center>Birthday Today</center><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>

                        </div>

                        <div class="table-responsive">
                            <table class="table table-xlg text-nowrap">
                                <tbody id="tbodyAdminTodaybirthday"></tbody>
                            </table>

                            <script type="text/html" id="tbodyAdminTodaybirthdayJTemplte">
                                {#foreach $T as Datashort}

                                <tr>
                                    <td class="col-md-4">
                                        <div class="media-left media-middle">
                                            <a href="javascript:void(0)" class="text-pink-400"><i class="fa fa-birthday-cake" style="font-size:48px; "></i></a>
                                        </div>

                                        <div class="media-left ">
                                            <h5 class="text-semibold" style="margin:16px!important">
                                                <b></b>
                                                <center>  { $T.Datashort.FName} <span>({ $T.Datashort.Department} )</span>  <small class="display-block no-margin">{ $T.Datashort.DOB}</small></center>
                                            </h5>
                                        </div>
                                    </td>



                                </tr>
                                <hr />


                                {#/for}
                            </script>


                        </div>

                    </div>
                </div>*@
                    @*<div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Notice Board</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul class="products-list product-list-in-box" id="showAllNotice"></ul>
                        <script type="text/html" id="showAllNoticJTemplateDetails">
                            {#foreach $T as Datashort}
                            <li class="item">
                                <div class="my-circle pull-left" style="border: 2px solid #1dcbbe;"><a style="color:#1dcbbe;" href='#' data-toggle='tooltip' title='{ $T.Datashort.userType}'><b>{ $T.Datashort.Extra}</b></a> </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">{ $T.Datashort.Title} <span class="label label-danger pull-right"> { $T.Datashort.datetime}</span></a>
                                    <span class="product-description">
                                        { $T.Datashort.Desc}
                                    </span>
                                </div>
                            </li>


                            {#/for}
                        </script>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center">
                        <a href="/Events/NoticeBoard" class="uppercase">View All Notices</a>
                    </div>
                    <!-- /.box-footer -->
                </div>*@
                </section>
                <!-- right col -->
</div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="~/js/angular.min.js"></script>
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
 
<script src="~/js/Events/model.js"></script>
<script src="~/js/Events/controller.js"></script>
<script src="~/js/Events/service.js"></script>

<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        callServiceMethod("", "/api/Default", "getTotalStudents", false, "", "", false, "", true, successMsg_scs, "", "", "");
    })
    function getAllNoticeBoardDetails_Scs(p1,p2,p3,datas)
    {
        setTimeout(function(){ $('[data-toggle="tooltip"]').tooltip();},1000)
       
    }
    function getMonday(d) {
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6 : 1);
        return new Date(d.setDate(diff));
    }

    function getSunday(d) {
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() + day;
        return new Date(d.setDate(diff));
    }

    function getAllEventsStudents_scs(p1,p2,p3,datas)
    {
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callJTemplateServiceMethod(JSON.stringify([loginuser, typeuser]), "/api/EventsAPI", "getAllEventsForDepartment",
     "tbodyAdminEventsDepartmentShowDetails", "tbodyAdminEventsDepartmentShowDetailsJTemplte", false, "", "", "", "");
    }
    function getTotalAbsentsStudents_scs(p1,p2,p3,datas)
    {
        setControlValue("tdTotalStudentAbsent",datas);
    }
    function getTotalAbsentsEmployees_scs(p1,p2,p3,datas)
    {
        setControlValue("tdTotalEmployeeAbsent",datas);
    }

    

    function todOListSuccess(p1, p2, p3, datas)
    {

    }

     function successMsg_scs(p1, p2, p3, datas)
     {
         setControlValue("spTotalStudents", datas.split('***')[0]);
         setControlValue("spTotalEmplcount", datas.split('***')[1]);
         setControlValue("tdTotalSchools", datas.split('***')[2]);
 
     }

     function sendEmailFromAdmin()
     {
          
         if ($("#form1").valid()) {
             
             $("#loader").fadeIn();
             var employye = {
                 EmailTo: getControlValue("textEmailTo"),
                 Subject: getControlValue("txtSubject"),
                 Messsage: getControlValue("txtMessage")
             }
             var ddl = JSON.stringify(employye)
             callServiceMethod(ddl, "/api/Default", "sendEmailForAdmin", false, "", "", false, "", true, successMsg_scs_scs, "", "", "");
         }
           

     }
     function successMsg_scs_scs(p1, p2, p3, datas)
     {
         
             $("#loader").fadeOut();
         $("#divSucesEmail").fadeIn();
         $("#sentEmailMsg").html(datas);
         setTimeout(function () {
             $("#divSucesEmail").fadeOut();
             $("#sentEmailMsg").html("");
         }, 2000)

        

         clearAlltextBox();

     }

     function clearAlltextBox()
     {
         setControlValue("textEmailTo", "");
         setControlValue("txtSubject", "");
         $("#txtMessage").val("");


         $("#txtDateTODO").val("");
         $("#txtSubjectTODO").val("");
         $("#txtMessageTODO").val("");
         setControlValue("txtTodoId","");
     }

     function AddTaskTodo()
     {
         if ($("#form2").valid()) {

             $("#loader").fadeIn();
             var employye = {
                 Id: getControlValue("txtTodoId"),
                 date: getControlValue("txtDateTODO"),
                 Subject: getControlValue("txtSubjectTODO"),
                 Messsage: getControlValue("txtMessageTODO"),
                 SchoolID: getControlValue("ddlSchoolName")

             }
             var ddl = JSON.stringify(employye)
             callServiceMethod(ddl, "/api/Default", "saveTaskToDo", false, "", "", false, "", true, AddTaskTodo_scs, "", "", "");
         }
     }

     //function AddTaskTodo_scs(p1, p2, p3, datas)
     //{
     //    $("#loader").fadeOut();
     //    $("#divSucesToDo").fadeIn();
     //    $("#sentToDoMsg").html(datas);
     //    setTimeout(function () {
     //        $("#divSucesToDo").fadeOut();
     //        $("#sentToDoMsg").html("");
     //    }, 2000)
     //    var d = new Date();

     //    var month = d.getMonth() + 1;
     //    var day = d.getDate();

     //    //  var output = (('' + month).length < 2 ? '0' : '') + month + '/' + (('' + day).length < 2 ? '0' : '') + day + '/' + d.getFullYear();
     //    var output = d.getFullYear() + '-' + (('' + month).length < 2 ? '0' : '') + month + '-' + (('' + day).length < 2 ? '0' : '') + day;
     //    var SchoolID = getControlValue("ddlSchoolName");

     //    callJTemplateServiceMethod(JSON.stringify([output, SchoolID]), "/api/Default", "getAllToDoList",
     // "tbodyAdminToDoDetails", "tbodyAdminToDoDetailsJTemplte", true, todOListSuccess, "", "", "");
     //    clearAlltextBox();
       
         
     //}

     function editTaskToDo(Id,subject,message,date)
     {
         setControlValue("txtTodoId",Id);
         setControlValue("txtSubjectTODO",subject);
         $("#txtMessageTODO").val(message);
         setControlValue("txtDateTODO",date);
     }

     function deleteTaskToDo(Id)
     {
         if(confirm('are u sure?'))
         {
             $("#loader").fadeIn();
             callServiceMethod(JSON.stringify([Id]), "/api/Default", "deleteTaskToDoById", false, "", "", false, "", true, deleteTaskToDo_scs, "", "", "");
         }
     }
     //function deleteTaskToDo_scs(p1,p2,p3,datas)
     //{
     //    $("#loader").fadeOut();
     //    swal({
     //        title: datas,
     //        text: "",
     //        icon: "success",
     //        button: "Ok!",
     //    });

     //    var d = new Date();

     //    var month = d.getMonth() + 1;
     //    var day = d.getDate();

     //    //  var output = (('' + month).length < 2 ? '0' : '') + month + '/' + (('' + day).length < 2 ? '0' : '') + day + '/' + d.getFullYear();
     //    var output = d.getFullYear() + '-' +((''+month).length<2 ? '0' : '') + month + '-' +((''+day).length<2 ? '0' : '') + day;
     //    var SchoolID = getControlValue("ddlSchoolName");
     //    callJTemplateServiceMethod(JSON.stringify([output]), "/api/Default", "getAllToDoList",
     // "tbodyAdminToDoDetails", "tbodyAdminToDoDetailsJTemplte", true, todOListSuccess, "", "", "");

     //}

     function SaveThoughts()
     {
         if ($("#thoughts").valid()) {

             $("#loader").fadeIn();
         
             var employye = {
              
                 Messsage: getControlValue("txtThoughts")
             }
             var ddl = JSON.stringify(employye)
             callServiceMethod(ddl, "/api/Default", "SaveThoughts", false, "", "", false, "", true, SaveThoughts_scs, "", "", "");
         }
     }
     function SaveThoughts_scs(p1,p2,p3,datas)
     {
         $("#loader").fadeOut();
         $("#divSucesThoughts").fadeIn();
         $("#sentThoughtsdMsg").html(datas);
         setTimeout(function () {
             $("#divSucesThoughts").fadeOut();
             $("#sentThoughtsdMsg").html("");
         }, 2000)

         $("#txtThoughts").val("");
     }
</script>
 <script type="text/javascript">
    $(document).ready(function () {
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {

                
                txtSubject: "required",
                //textEmailTo: {
                //    required: true,
                //    email: true
                //},
                textEmailTo:"required",
                txtMessage:"required"

            },
            messages: {

                textEmailTo: "Please Enter Email ID ",
                txtSubject: "Please Enter Subject",
                txtMessage:"Please Enter Message"

            }
        })


        $("#form2").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {


                txtMessageTODO: "required",
                //textEmailTo: {
                //    required: true,
                //    email: true
                //},
                txtSubjectTODO: "required",
                txtDateTODO: "required"

            },
            messages: {

                txtDateTODO: "Please Fill Date ",
                txtSubjectTODO: "Please Enter Subject",
                txtMessageTODO: "Please Enter Message"

            }
        })


    });


</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#thoughts").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
               


                txtThoughts: "required",
                //txtStartDate: "required",
                //txtEndDate:"required"




            },
            messages: {

                txtThoughts: "Please Enter Thoughts",
               // ddlEventType: "Please Select Event Type",
    // txtEndDate: "Please Enter End Date & Time",
               // txtEventFor:"Please select Events For"


            }
        })



    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        callServiceMethod("", "/api/Default", "getSchoolClassGraph", false, "", "", false, "", true, getSchoolClassGraph_scs, "", "", "");
        callServiceMethod("", "/api/Default", "getEmployeesStrength", false, "", "", false, "", true, getEmployeesStrength_scs, "", "", "");
    })

    function getSchoolClassGraph_scs(p1, p2, p3, datas)
    {
        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Classwise Student Strength",
                fontFamily: "tahoma",
                
            },
            axisX:{
                title: "Classes",
                interval: 1
            },
            data: [
            {
                // Change type to "doughnut", "line", "splineArea", etc.
                type: "column",
                 dataPoints: []

            }
            ]
        });
       
        //  var dataaas = JSON.stringify(datas);
        // alert(dataaas);
        for (var i = 0; i < datas.length; i++)
        {
            chart.options.data[0].dataPoints.push({ label: "" + datas[i].label + "", y: datas[i].y });
        }
       
        chart.render();
       
    }

    function getEmployeesStrength_scs(p1, p2, p3, datas)
    {

        var totalVisitors = 883000;
        var visitorsData = {
            "New vs Returning Visitors": [{
                //click: visitorsChartDrilldownHandler,
                cursor: "pointer",
                explodeOnClick: false,
                innerRadius: "75%",
                legendMarkerType: "square",
                name: "New vs Returning Visitors",
                radius: "100%",
                showInLegend: true,
                startAngle: 90,
                type: "doughnut",
                dataPoints: [
                    //{ y: 5000, name: "New Visitors", color: "#E7823A" },
                    //{ y: 7000, name: "Returning Visitors", color: "#546BC1" }
                ]
            }],
         
        };

        var newVSReturningVisitorsOptions = {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Employee Strength",
                fontFamily: "tahoma",
            },
            subtitles: [{
                text: "",
                backgroundColor: "#2eacd1",
                fontSize: 16,
                fontColor: "white",
                padding: 5
            }],
            legend: {
                fontFamily: "calibri",
                fontSize: 14,
                itemTextFormatter: function (e) {
                    return e.dataPoint.name + ": " + e.dataPoint.y;
                }
            },
            data: []
        };

        //var visitorsDrilldownedChartOptions = {
        //	animationEnabled: true,
        //	theme: "light2",
        //	axisX: {
        //		labelFontColor: "#717171",
        //		lineColor: "#a2a2a2",
        //		tickColor: "#a2a2a2"
        //	},
        //	axisY: {
        //		gridThickness: 0,
        //		includeZero: false,
        //		labelFontColor: "#717171",
        //		lineColor: "#a2a2a2",
        //		tickColor: "#a2a2a2",
        //		lineThickness: 1
        //	},
        //	data: []
        //};

        var chart = new CanvasJS.Chart("chartContainer2", newVSReturningVisitorsOptions);
        chart.options.data = visitorsData["New vs Returning Visitors"];
        for (var i = 0; i < datas.length; i++) {
            chart.options.data[0].dataPoints.push({ y: datas[i].y+"",name: "" + datas[i].label + "",color: "" + datas[i].color });
        }
        chart.render();

        //  var dataaas = JSON.stringify(datas);
        // alert(dataaas);
      

       

    }


</script>
 <style type="text/css">
     .oddTr {
         background-color: #dddddd;
     }

     /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
     #example1 td img {
         width: 35px;
         height: 35px;
         border-radius: 100%;
     }


     #example1 {
         font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
         border-collapse: collapse;
         width: 100%;
     }

         #example1 td, #customers th {
             border: 1px solid #ddd;
             /*padding: 8px;*/
         }

         #example1 tr:nth-child(even) {
             background-color: #f2f2f2;
         }

         #example1 tr:hover {
             background-color: #ddd;
         }

         #example1 th {
             padding-top: 12px;
             padding-bottom: 12px;
             text-align: left;
             background-color: #00c0ef;
             color: white;
         }
       .tools {
           
           cursor:pointer;
            color: #dd4b39;
        }

     #tbodyAdminTodaybirthday tr td {
         border-bottom: 1px solid #0000002e;
     }
     .text-pink-400, .text-pink-400:hover, .text-pink-400:focus {
    color: #ec407a;
}
     .my-circle {
    border-radius: 50%;
    font-size: 16px;
    height: 35px;
    width: 35px;
    line-height: 30px;
    margin-top: 2px;
}
     .my-circle a {
    text-align: center;
    display: block;
}
</style>