﻿
@{
    ViewBag.Title = "LeaveDetails";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<section class="content" ng-app="myApp" ng-controller="LeaveDetailsController">
    <div class="row" id="divAddCourses">
        <!-- left column -->
        <form role="form" id="form1" name="form1">
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Assign Leave
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="alert alert-success centerSuccess" id="divsuccesmsg" style="display:none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            <i class="icon fa fa-check"></i>
                            success! <span ng-bind="successMsg"></span>
                        </h4>

                    </div>

                    <div class="box-body">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="Country" class="req">School<span class="requird">*</span></label>
                                <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name"></select>

                            </div>

                            <div class="form-group">
                                <input type="text" style="display:none" ng-model="txtLeaveId" />
                                <label for="Country" class="req">Designation<span class="requird">*</span></label>
                                @*<select class="form-control select2"  id="ddlDesignatin" ng-model="ddlDesignatin" rahulbharti multiple="multiple" data-placeholder="Select a Designation"
            style="width: 100%;" />*@
                                <select class="form-control"  id="ddlDesignatin" ng-model="ddlDesignatin"   valuefield="Id" textfield="Name" blankRowValue="-1" blankRowText="----Select----" aria-required="true"></select>
                                @*<select class="form-control" id="ddlDesignatin" ng-model="ddlDesignatin" valuefield="Id" textfield="Name" blankRowValue="-1" blankRowText="----Select----" aria-required="true"></select>*@

                            </div>

                            @*<div class="form-group">
            <label>Designation <span class="requird">*</span></label>
            <input type="text" style="display:none" ng-model="txtLeaveId" />
            <select class="form-control select2" name="ddlDesignatin" id="ddlDesignatin" rahulbharti multiple="multiple" data-placeholder="Select a Designation"
                    style="width: 100%;">
                <option ng-repeat="desg in designation" value={{desg.Id}}>{{desg.Name}}</option>

            </select>
        </div>*@
                            <div class="form-group">
                                <input type="text" style="display:none" ng-model="txtStreamId" />
                                <label for="Country" class="req">Leave Category<span class="requird">*</span></label>
                                <select class="form-control" id="ddlLeaveCategory" ng-model="ddlLeaveCategory" valuefield="Id" textfield="Name" blankRowValue="-1" blankRowText="----Select----" aria-required="true"></select>

                            </div>

                            @*<div class="form-group">
                                <label for="reg_input_name" class="req">Leave Category  <span class="requird">*</span></label>
                                <select class="form-control" name="ddlLeaveCategory" ng-model="ddlLeaveCategory">
                                    <option value="0" label="Please Select"></option>
                                    <option ng-repeat="emdp in leaves" value={{emdp.Id}}>{{emdp.Name}}</option>
                                </select>


                            </div>*@


                            <div class="form-group">
                                <label>Leave Assign <span class="requird">*</span></label>
                                <input type="text" id="txtLeaveAssign" onkeypress="return numbersonly(event)" name="txtLeaveAssign" class="form-control" ng-model="txtLeaveAssign" />

                            </div>


                        </div>


                    </div>

                    <!-- /.box-body -->



                </div>
                <!-- /.box -->
                </div>

                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="box box-primary">

                        <div class="box-body">
                            <div class="panel-body">
                                <!-- /.box-header -->
                                @*<div class="form-group">
            <label>Start Date <span class="requird">*</span></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" name="txtStartDate" id="txtStartDate" ng-model="txtStartDate">
            </div>
            <!-- /.input group -->
        </div>

        <div class="form-group">
            <label>End Date <span class="requird">*</span></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" name="txtEndDate" id="txtEndDate" ng-model="txtEndDate" />
            </div>
            <!-- /.input group -->
        </div>*@


                              
                                    <div class="form-group">
                                        <label class="control-label" for="empinfosearch-emp_designation_id">
                                            Academic Year<span class="requird">*</span>
                                            `
                                        </label>
                                        <select id="ddl_academic_year" class="form-control" valuefield="ID" textfield="StartYear" @*blankRowValue="-1" blankRowText="----Select----"*@ onchange="getMothsForThisYear(this.value)" aria-required="true"></select>
                                        <div class="help-block"></div>
                                    </div>

                           

                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" id="chkstatus" ng-model="chkstatus"> Active
                                    </label>
                                </div>
                                <div class="box-footer">
                                    <input type="button" ng-click="saveLeaveDetails()" class="btn btn-primary" value="Save" />
                                    <input type="button" ng-click="clearAllTexbox()" class="btn btn-primary" value="Reset" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </form>
        </div>
            
            <!--/.col (left) -->
    
            <div class="col-md-12" style="overflow-x:scroll">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">View Leave Assign</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group" >

                            <table id="example1" class="table table-bordered table-striped">
                                <thead >
                                    <tr>
                                        <th>School</th>
                                        <th>Leave Category</th>
                                        <th>Designation</th>
                                        <th>Leave Assign</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                        

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="employee in employees" ng-class-odd="'oddTr'">
                                        <td>
                                            {{employee.School}}

                                        </td>
                                        <td>
                                            {{employee.leaveCategory}}

                                        </td>
                                        <td>
                                            {{employee.Desig}}

                                        </td>
                                        <td>{{employee.leaveAssign}}</td>
                                        <td>
                                            {{employee.StartDate}}

                                        </td>
                                        <td>
                                            {{employee.EndDate}}

                                        </td>



                                        <td>
                                            <button type="button" style="width: 120px;" class="{{employee.Extra10}}">{{employee.Status}}</button>


                                        </td>

                                        <td>
                                            <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" ng-click="editLeaveDetailsById(employee)"></i>
                                            &nbsp;
                                            <i class="fa fa-fw fa-trash" style="cursor:pointer" ng-click="deleteLeaveDetailsById(employee)"></i>

                                        </td>



                                    </tr>


                                </tbody>

                            </table>




                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
</section>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>




<script src="~/js/LeaveManagementJS/model.js"></script>
<script src="~/js/LeaveManagementJS/controller.js"></script>
<script src="~/js/LeaveManagementJS/service.js"></script>
<!-- DataTables -->
 <!-- Select2 -->
<link href="~/css/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />

<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/css/bower_components/select2/dist/js/select2.full.min.js"></script>
<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

        var SchoolID = getControlValue("ddlSchoolName");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/EmployeeAPI", "getAllDesignationBySchoolID", "ddlDesignatin", false, "", "", "", "");
        $("#ddlSchoolName").change(function () {
            var SchoolID = getControlValue("ddlSchoolName");
            callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/EmployeeAPI", "getAllDesignationBySchoolID", "ddlDesignatin", false, "", "", "", "");
        });

        
        var SchoolID = getControlValue("ddlSchoolName");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/LeaveAPI", "getAllLeaveTypeBySchool", "ddlLeaveCategory", false, "", "", "", "");
        $("#ddlSchoolName").change(function () {
            var SchoolID = getControlValue("ddlSchoolName");
            callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/LeaveAPI", "getAllLeaveTypeBySchool", "ddlLeaveCategory", false, "", "", "", "");
        });
        var SchoolID = sessionStorage.getItem("SchoolID");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetAcademicYearBySchoolActive", "ddl_academic_year", false, "", "", "", "");
        $('.select2').select2();
        $('#txtStartDate').datepicker({
            autoclose: true
        });
        $('#txtEndDate').datepicker({
            autoclose: true
        });
       
    })
  
</script>

<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }
</style>



<script type="text/javascript">
    $(document).ready(function () {
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
                ddlDesignatin: {
                    selectcheck: true
                },
                ddlLeaveCategory: {
                    selectcheck1: true
                },
                txtLeaveAssign: "required",
                txtStartDate: {
                    required: true,
                    date: true
                },
                txtEndDate: {
                    required: true,
                    date: true
                },
              
               

            },
            messages: {

                txtLeaveAssign: "Please Enter Leave Days",
                txtStartDate: "Please Enter Start Date",
                txtEndDate: "Please Enter End Date",
                ddlDesignatin: "Please Select Designation",
                ddlLeaveCategory: "Please Select Leave Category"

            }
        })
        jQuery.validator.addMethod('selectcheck', function (value) {
            if (value == "0") {
                return (value != '0');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");


        jQuery.validator.addMethod('selectcheck1', function (value) {
            if (value == "0") {
                return (value != '0');
            }
            else if (value == "? undefined:undefined ?") {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");


    });
</script>