﻿
@{
    ViewBag.Title = "LeaveCategory";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<section class="content" ng-app="myApp" ng-controller="LeaveController">
    <div class="row" id="divAddCourses">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                    Leave Category
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="alert alert-success centerSuccess" id="divsuccesmsg" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>
                        <i class="icon fa fa-check"></i>
                        success! <span ng-bind="successMsg"></span>
                    </h4>

                </div>
                <form role="form" id="form1" name="form1">
                    <div class="box-body">
                        <div class="panel-body">

                            <div class="form-group">
                                <label for="Country" class="req">School<span class="requird">*</span></label>
                                <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name" ></select>

                            </div>

                            <div class="form-group">
                                <input type="text" style="display:none" ng-model="txtLeaveId" />
                                <label for="reg_input_name" class="req">Leave Type  <span class="requird">*</span></label>
                                <input class="form-control" name="txtLeaveType" id="txtLeaveType" type="text" ng-model="txtLeaveType" />

                            </div>

                            <div class="form-group">
                                <label>
                                    <input type="checkbox" id="chkstatus" ng-model="chkstatus"> Active
                                </label>
                            </div>
                            <div class="box-footer">
                                <input type="button" ng-click="saveLeaveTypeDetails()" class="btn btn-primary" value="Save" />
                                <input type="button" ng-click="clearAllTexbox()" class="btn btn-primary" value="Reset" />
                            </div>

                        </div>


                    </div>
</form>
</div>
            <!-- /.box-body -->



        </div>
        <!-- /.box -->


    </div>
    <!--/.col (left) -->


    <div class="col-md-12"  style="overflow-x:scroll">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">View Leave Categories</h3>
            </div>
            <div class="box-body">
                <div class="form-group">

                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>School</th>
                                <th>Leave Name</th>
                                 <th>Status</th>
                                <th>Action</th>
                                

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="employee in employees" ng-class-odd="'oddTr'">
                                <td>
                                    {{employee.School}}

                                </td>
                                <td>
                                    {{employee.Name}}

                                </td>

                                <td>
                                    <button type="button" style="width: 120px;" class="{{employee.Extra10}}">{{employee.Status}}</button>


                                </td>

                                <td>
                                    <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" ng-click="editLeaveTypeById(employee)"></i>
                                    &nbsp;
                                    <i class="fa fa-fw fa-trash" style="cursor:pointer" ng-click="deleteLeaveTypeById(employee)"></i>


                                </td>



                            </tr>


                        </tbody>

                    </table>




                </div>
            </div>
        </div>


    </div>
    <!-- /.row -->
</section>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>



 
<script src="~/js/LeaveManagementJS/model.js"></script>
<script src="~/js/LeaveManagementJS/controller.js"></script>
<script src="~/js/LeaveManagementJS/service.js"></script>
<!-- DataTables -->
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }
</style>



<script type="text/javascript">
    $(document).ready(function () {
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {
             
                txtLeaveType: "required",
              

            },
            messages: {

                txtLeaveType: "Please Enter Leave Name",
                

            }
        })
        

    });
</script>
