﻿
@{
    ViewBag.Title = "Licence Error";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutSchoolAdmin.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<!-- Content Wrapper. Contains page content -->
<div class="contesnt-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">

                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-check"></i>
                        <h3 class="box-title">Payment:</h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            @*<button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                                        title="Remove">
                                    <i class="fa fa-times"></i>
                                </button>*@
                        </div>
                        <!-- /. tools -->
                    </div>
                    <div class="box-body">
                        <form role="form" id="form1" name="form1">
                            <div class="alert alert-success centerSuccess" id="divSucesEmail" style="display:none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4>
                                    <i class="icon fa fa-check"></i>
                                    <span Id="sentEmailMsg"></span>
                                </h4>

                            </div>

                            <div class="form-group">
                                Total No. of Students: <input type="email" class="form-control" id="txtnoofstudent" readonly>
                            </div>
                            <div class="form-group">
                                Charges Per Student
                                <input type="text" class="form-control" name="txtSubject" id="txtcharges" readonly>
                            </div>
                            <div class="form-group">
                                Total Amount
                                <input type="text" class="form-control" id="txtamount" readonly>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix">
                        <button type="button" class="pull-right btn btn-default" id="btnpay">
                            Pay Now
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>

            </section>

        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->




<script src="~/js/angular.min.js"></script>
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script src="~/js/Events/model.js"></script>
<script src="~/js/Events/controller.js"></script>
<script src="~/js/Events/service.js"></script>




<link href="~/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
      $(document).ready(function () {
          var username = sessionStorage.getItem("userId");
            $.ajax({
                type: "get",
                url: "@Url.Content("~/api/Licence/PaymentDetails")",
                contentType: "application/json; charset=utf-8",
                data: { usrname: username},
                dataType: "json",
                success: function (b) {
                    var editdata = b;
                    $('#txtcharges').val(editdata.Charges);
                    $('#txtnoofstudent').val(editdata.NoofStudent);
                    var ns = $('#txtnoofstudent').val();
                    var charge = $('#txtcharges').val();
                    if (ns == null || ns == "" || charge == null || charge == "") {
                        $('#txtamount').val("");
                    }
                    else {
                        var tm = parseFloat(ns) * parseFloat(charge);
                        $('#txtamount').val(parseFloat(tm).toFixed(2));
                    }
                }
            })
    })

    $('#btnpay').click(function(){
        var username = sessionStorage.getItem("userId");
        var usertype = sessionStorage.getItem("type");
        var totalamount = $('#txtamount').val();
        $.ajax({
            type: "get",
             url: "@Url.Content("~/api/Licence/upgradelicence")",
            data: { usrname: username, totalamount: totalamount},
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                if (data ==null) {
                    alert("Some error occured. Please try again later.");
                }
                else {
                    location.href = "/AdminPanel/SchoolAdminDashboard";
                }
            }
        })
    });
</script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #00c0ef;
            color: white;
        }

    .tools {
        cursor: pointer;
        color: #dd4b39;
    }

    #tbodyAdminTodaybirthday tr td {
        border-bottom: 1px solid #0000002e;
    }

    .text-pink-400, .text-pink-400:hover, .text-pink-400:focus {
        color: #ec407a;
    }

    .my-circle {
        border-radius: 50%;
        font-size: 16px;
        height: 35px;
        width: 35px;
        line-height: 30px;
        margin-top: 2px;
    }

        .my-circle a {
            text-align: center;
            display: block;
        }
</style>