﻿
@{
    ViewBag.Title = "FeeReceipt";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>

<link href="~/css/style_receipt.css" rel="stylesheet" />
<link href="~/css/print_receipt.css" rel="stylesheet" media="print" />
<script src="~/js/example.js"></script>
<div>
@*<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <title>Editable Invoice</title>
    <link href="~/css/style_receipt.css" rel="stylesheet" />
    <link href="~/css/print_receipt.css" rel="stylesheet" media="print"/>
    <script src="~/js/example.js"></script>
</head>
<body>
    <div id="page-wrap">
        <h2><span id="header">INVOICE</span></h2>
        

        <div id="identity">

            <textarea id="address">
                Chris Coyier
                123 Appleseed Street
                Appleville, WI 53719

                Phone: (555) 555-5555
            </textarea>
            <div id="logo">
                <div id="logoctr">
                    <a href="javascript:;" id="change-logo" title="Change logo">Change Logo</a>
                    <a href="javascript:;" id="save-logo" title="Save changes">Save</a>
                    |
                    <a href="javascript:;" id="delete-logo" title="Delete logo">Delete Logo</a>
                    <a href="javascript:;" id="cancel-logo" title="Cancel changes">Cancel</a>
                </div>
                <div id="logohelp">
                    <input id="imageloc" type="text" size="50" value="" /><br />
                    (max width: 540px, max height: 100px)
                </div>
                <img id="image" src="images/logo.png" alt="logo" />
            </div>

        </div>

        <div style="clear:both"></div>

        <div id="customer">
            <textarea id="customer-title">
                Widget Corp.
                c/o Steve Widget
            </textarea>
            <table id="meta">
                <tr>
                    <td class="meta-head">Invoice #</td>
                    <td><textarea>000123</textarea></td>
                </tr>
                <tr>
                    <td class="meta-head">Date</td>
                    <td><textarea id="date">December 15, 2009</textarea></td>
                </tr>
                <tr>
                    <td class="meta-head">Amount Due</td>
                    <td><div class="due">$875.00</div></td>
                </tr>
            </table>

        </div>

        <table id="items">

            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Unit Cost</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>

            <tr class="item-row">
                <td class="item-name"><div class="delete-wpr"><textarea>Web Updates</textarea><a class="delete" href="javascript:;" title="Remove row">X</a></div></td>
                <td class="description"><textarea>Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></td>
                <td><textarea class="cost">$650.00</textarea></td>
                <td><textarea class="qty">1</textarea></td>
                <td><span class="price">$650.00</span></td>
            </tr>

            <tr class="item-row">
                <td class="item-name"><div class="delete-wpr"><textarea>SSL Renewals</textarea></div></td>
                <td class="description"><textarea>Yearly renewals of SSL certificates on main domain and several subdomains</textarea></td>
                <td><textarea class="cost">$75.00</textarea></td>
                <td><textarea class="qty">3</textarea></td>
                <td><span class="price">$225.00</span></td>
            </tr>

            <tr id="hiderow">
                <td colspan="5"><a id="addrow" href="javascript:;" title="Add a row">Add a row</a></td>
            </tr>

            <tr>
                <td colspan="2" class="blank"> </td>
                <td colspan="2" class="total-line">Subtotal</td>
                <td class="total-value"><div id="subtotal">$875.00</div></td>
            </tr>
            <tr>
                <td colspan="2" class="blank"> </td>
                <td colspan="2" class="total-line">Total</td>
                <td class="total-value"><div id="total">$875.00</div></td>
            </tr>
            <tr>
                <td colspan="2" class="blank"> </td>
                <td colspan="2" class="total-line">Amount Paid</td>
                <td class="total-value"><textarea id="paid">$0.00</textarea></td>
            </tr>
            <tr>
                <td colspan="2" class="blank"> </td>
                <td colspan="2" class="total-line balance">Balance Due</td>
                <td class="total-value balance"><div class="due">$875.00</div></td>
            </tr>

        </table>

        <div id="terms">
            <h5>Terms</h5>
            <textarea>NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.</textarea>
        </div>

    </div>

</body>
</html>*@
</div>
<BODY LANG="en-US" DIR="LTR">
    <div style="height:10px"></div>
    <div class="col-lg-12">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <input class="btn btn-info" id="btnsumit" onclick="printAdmitCard()" type="button" value="Print Receipt">

            <input type="button" class="btn btn-info" id="create_pdf" value="Export" />

        </div>
        <div class="col-lg-2"></div>
    </div>
    <form class="form" style="max-width: 1800px; width: 1005px;">

        <div id="dvContents">
            <TABLE WIDTH=742 CELLPADDING=0 CELLSPACING=0 style="margin-left:120px">
                <COL WIDTH=12>
                <COL WIDTH=730>
                <TR VALIGN=TOP>
                    <TD WIDTH=12 HEIGHT=3 STYLE="border: none; padding: 0in">
                        <P>
                            <BR>
                        </P>
                    </TD>
                    <TD WIDTH=730 STYLE="border: none; padding: 0in">
                        <P>
                            <BR>
                        </P>
                    </TD>
                </TR>
                <TR VALIGN=TOP>
                    <TD WIDTH=12 STYLE="border: none; padding: 0in">
                        <P>
                            <BR>
                        </P>
                    </TD>
                    <TD WIDTH=730 STYLE="border: none; padding: 0in">
                        <TABLE WIDTH=463 CELLPADDING=3 CELLSPACING=0>
                            <COLGROUP>
                                <COL WIDTH=73>
                            </COLGROUP>
                            <COLGROUP>
                                <COL WIDTH=143>
                                <COL WIDTH=72>
                                <COL WIDTH=70>
                                <COL WIDTH=73>
                            </COLGROUP>
                            <TBODY>
                                <TR>
                                    <TD COLSPAN=5 WIDTH=455 HEIGHT=60 VALIGN=TOP STYLE="border: 0.85pt solid #000001; padding: 0.03in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in">
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=3>
                                                        <B id="schoolFullName">

                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in">
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=2 STYLE="font-size: 9pt" id="SchoolCompleteAddress">

                                                    </FONT>
                                                </FONT>
                                            </FONT><FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=2 STYLE="font-size: 9pt">
                                                        <B>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                        <P ALIGN=CENTER>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=2 STYLE="font-size: 9pt">
                                                        <B>
                                                            Fee Receipt for the month of <span id="dateMontSalryslip"></span>.
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <tbody>
                                <tr>
                                    <td colspan="5">
                                        <div>
                                           
                                            <table style="width:100%">
                                                <tr>
                                                    <th>Receipt #</th>
                                                    <td><span id="spReceiptNo"></span></td>
                                                    <th>Name</th>
                                                    <td><span id="spEmployeeName"></span></td>
                                                    <th>Registration No</th>
                                                    <td><span id="spEmployeeCode"></span></td>                                                    
                                                </tr>
                                                <tr>
                                                    <th>Class</th>
                                                    <td><span id="spClass"></span></td>
                                                    <th>Section</th>
                                                    <td><span id="spSection"></span></td>
                                                    <th>Date</th>
                                                    <td><span id="spDateCreated"></span></td>
                                                </tr>
                                            </table>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            @*<TBODY>
                                <TR>
                                    <TD WIDTH=73 HEIGHT=13 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.06in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Registration No :<span id="spEmployeeCode"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD WIDTH=143 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.06in; padding-right: 0.09in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Student
                                                            Name : <span id="spEmployeeName"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD COLSPAN=3 WIDTH=227 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.09in; padding-right: 0.03in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Class-Section :<span id="spdayInmonth"></span>    
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <TBODY>
                                <TR>
                                    <TD WIDTH=73 HEIGHT=13 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.06in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Pay
                                                            Mode : <span id="spPaymentMode"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD WIDTH=143 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.06in; padding-right: 0.09in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Designation
                                                            :  <span id="spDesignation"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD COLSPAN=3 WIDTH=227 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.09in; padding-right: 0.03in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Department
                                                            : <span id="spDepartment"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <TBODY>
                                <TR>
                                    <TD WIDTH=73 HEIGHT=13 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.06in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            DOJ
                                                            : <span id="spDateOfJoining"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD WIDTH=143 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.06in; padding-right: 0.09in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Account
                                                            No : <span id="spAccountNo"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD COLSPAN=3 WIDTH=227 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.09in; padding-right: 0.03in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Location
                                                            : <span id="spLocation"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <TBODY>
                                <TR>
                                    <TD WIDTH=73 HEIGHT=13 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.09in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            PAN
                                                            No : <span id="spPanNo"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD WIDTH=143 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.09in; padding-right: 0.03in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            PF
                                                            No:  <span id="spPFNumbmer"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD COLSPAN=3 WIDTH=227 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.09in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            ESI
                                                            No : <span id="spESINo"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <TBODY>
                                <TR>
                                    <TD WIDTH=73 HEIGHT=11 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.09in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Adhaar
                                                            No : <span id="spAdhaarNo"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD WIDTH=143 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.09in; padding-right: 0.03in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Grade:
                                                            <span id="spGradeName"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD COLSPAN=3 WIDTH=227 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.09in">
                                        <P>
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Date
                                                            of Birth : <span id="spDOB"></span>
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>*@
                            <TBODY>
                                <TR>
                                    <TD COLSPAN=5 WIDTH=455 HEIGHT=13 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.03in; padding-right: 0.06in">
                                        <P>
                                            <BR>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <TBODY>
                                <TR>
                                    <TD WIDTH=73 HEIGHT=13 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.06in; padding-right: 0.09in">
                                        <TABLE WIDTH=361 CELLPADDING=0 CELLSPACING=0>
                                            <COL WIDTH=361>
                                            <TR>
                                                <TD WIDTH=361 HEIGHT=19 STYLE="border: none; padding: 0in">
                                                    <P><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>Description</B></FONT></FONT></FONT></P>
                                                </TD>
                                            </TR>
                                        </TABLE>
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=143 STYLE="border-top: 0.85pt solid #000001; border-bottom: 0.85pt solid #000001; border-left: 0.85pt solid #000001; border-right: none; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.09in; padding-right: 0in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%">
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Rate
                                                            (Rs.)
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD WIDTH=72 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.09in; padding-right: 0.03in">
                                        <TABLE WIDTH=84 CELLPADDING=0 CELLSPACING=0>
                                            <COL WIDTH=84>
                                            <TR>
                                                <TD WIDTH=84 HEIGHT=19 STYLE="border: none; padding: 0in">
                                                    <P ALIGN=CENTER>
                                                        <FONT COLOR="#000000">
                                                            <FONT FACE="Segoe UI, serif">
                                                                <FONT SIZE=1 STYLE="font-size: 8pt">
                                                                    <B>
                                                                        Earning
                                                                        (Rs.)
                                                                    </B>
                                                                </FONT>
                                                            </FONT>
                                                        </FONT>
                                                    </P>
                                                </TD>
                                            </TR>
                                        </TABLE>
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=70 STYLE="border: 0.85pt solid #000001; padding: 0.03in">
                                        <TABLE WIDTH=87 CELLPADDING=0 CELLSPACING=0>
                                            <COL WIDTH=87>
                                            <TR>
                                                <TD WIDTH=87 HEIGHT=19 STYLE="border: none; padding: 0in">
                                                    <P ALIGN=CENTER>
                                                        <FONT COLOR="#000000">
                                                            <FONT FACE="Segoe UI, serif">
                                                                <FONT SIZE=1 STYLE="font-size: 8pt">
                                                                    <B>
                                                                        Arrear
                                                                        Amt (Rs.)
                                                                    </B>
                                                                </FONT>
                                                            </FONT>
                                                        </FONT>
                                                    </P>
                                                </TD>
                                            </TR>
                                        </TABLE>
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=73 STYLE="border: 0.85pt solid #000001; padding: 0.03in 0in">
                                        <TABLE WIDTH=91 CELLPADDING=0 CELLSPACING=0>
                                            <COL WIDTH=91>
                                            <TR>
                                                <TD WIDTH=91 HEIGHT=19 STYLE="border: none; padding: 0in">
                                                    <P ALIGN=CENTER>
                                                        <FONT COLOR="#000000">
                                                            <FONT FACE="Segoe UI, serif">
                                                                <FONT SIZE=1 STYLE="font-size: 8pt">
                                                                    <B>
                                                                        Total
                                                                        Amt (Rs.)
                                                                    </B>
                                                                </FONT>
                                                            </FONT>
                                                        </FONT>
                                                    </P>
                                                </TD>
                                            </TR>
                                        </TABLE>
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <TBODY id="tblSalaryHeadDetails"></TBODY>

                            <script type="text/html" id="tblSalaryHeadDetailsJTemplte">
                                {#foreach $T as Datashort}
                                <TR>
                                    <TD WIDTH=73 HEIGHT=10 STYLE="border-top: none; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.06in; padding-right: 0.09in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt"> { $T.Datashort.Desc}</FONT></FONT></FONT></P>
                                    </TD>
                                    <TD WIDTH=143 STYLE="border-top: none; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding: 0in 0.09in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt">{ $T.Datashort.Rate}</FONT></FONT></FONT></P>
                                    </TD>
                                    <TD WIDTH=72 STYLE="border-top: none; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.09in; padding-right: 0.03in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt">{ $T.Datashort.Earning}</FONT></FONT></FONT></P>
                                    </TD>
                                    <TD WIDTH=70 STYLE="border-top: none; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding: 0in 0.03in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt">{ $T.Datashort.arrear}</FONT></FONT></FONT></P>
                                    </TD>
                                    <TD WIDTH=73 STYLE="border-top: none; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding: 0in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt">{ $T.Datashort.totalAmt}</FONT></FONT></FONT></P>
                                    </TD>
                                </TR>
                                {#/for}
                            </script>



                            <TBODY>
                                <TR>
                                    <TD WIDTH=73 HEIGHT=13 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.06in; padding-right: 0.09in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><B>Total</B></FONT></FONT></P>
                                    </TD>
                                    <TD WIDTH=143 STYLE="border-top: 0.85pt solid #000001; border-bottom: 0.85pt solid #000001; border-left: 0.85pt solid #000001; border-right: none; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.09in; padding-right: 0in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B id="sptotalRate"></B></FONT></FONT></FONT></P>
                                    </TD>
                                    <TD WIDTH=72 STYLE="border-top: 0.85pt solid #000001; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0in; padding-left: 0.09in; padding-right: 0.03in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B id="spTotalEarningSalary"></B></FONT></FONT></FONT></P>
                                    </TD>
                                    <TD WIDTH=70 STYLE="border-top: 0.85pt solid #000001; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0in; padding-left: 0.03in; padding-right: 0.03in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>0</B></FONT></FONT></FONT></P>
                                    </TD>
                                    <TD WIDTH=73 STYLE="border: 0.85pt solid #000001; padding: 0.03in 0in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B id="spTotalNetSalary"></B></FONT></FONT></FONT></P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <TBODY>
                                <TR>
                                    <TD COLSPAN=5 WIDTH=455 HEIGHT=10 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.06in; padding-right: 0.09in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <TBODY>
                                <TR>
                                    <TD WIDTH=73 HEIGHT=10 STYLE="border-top: none; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.06in; padding-right: 0.09in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=143 STYLE="border-top: none; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding: 0in 0.09in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=72 STYLE="border-top: none; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding-top: 0in; padding-bottom: 0in; padding-left: 0.09in; padding-right: 0.03in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=70 STYLE="border-top: none; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding: 0in 0.03in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=73 STYLE="border-top: none; border-bottom: none; border-left: 0.85pt solid #000001; border-right: 0.85pt solid #000001; padding: 0in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <TBODY>
                                <TR>
                                    <TD COLSPAN=2 WIDTH=222 HEIGHT=9 STYLE="border-top: 0.85pt solid #000001; border-bottom: none; border-left: 0.85pt solid #000001; border-right: none; padding-top: 0.03in; padding-bottom: 0in; padding-left: 0.06in; padding-right: 0in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Total
                                                            Earnings
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD WIDTH=72 STYLE="border-top: 0.85pt solid #000001; border-bottom: none; border-left: none; border-right: none; padding-top: 0.03in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=70 STYLE="border-top: 0.85pt solid #000001; border-bottom: none; border-left: none; border-right: none; padding-top: 0.03in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=73 STYLE="border-top: 0.85pt solid #000001; border-bottom: none; border-left: none; border-right: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt" id="sptotalEarningSaladry"></FONT></FONT></FONT></P>
                                    </TD>
                                </TR>
                                <TR>
                                    <TD COLSPAN=2 WIDTH=222 HEIGHT=8 STYLE="border-top: none; border-bottom: none; border-left: 0.85pt solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.06in; padding-right: 0in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Total
                                                            Deductions
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD WIDTH=72 STYLE="border: none; padding: 0in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=70 STYLE="border: none; padding: 0in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=73 STYLE="border-top: none; border-bottom: none; border-left: none; border-right: 0.85pt solid #000001; padding: 0in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt" id="spTotalDeduction"></FONT></FONT></FONT></P>
                                    </TD>
                                </TR>
                                <TR>
                                    <TD COLSPAN=2 WIDTH=222 HEIGHT=9 STYLE="border-top: none; border-bottom: 0.85pt solid #000001; border-left: 0.85pt solid #000001; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0.06in; padding-right: 0in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B>
                                                            Net
                                                            Payable
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                    <TD WIDTH=72 STYLE="border-top: none; border-bottom: 0.85pt solid #000001; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=70 STYLE="border-top: none; border-bottom: 0.85pt solid #000001; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <BR>
                                        </P>
                                    </TD>
                                    <TD WIDTH=73 STYLE="border-top: none; border-bottom: 0.85pt solid #000001; border-left: none; border-right: 0.85pt solid #000001; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT COLOR="#000000"><FONT FACE="Segoe UI, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B id="spNetPayable"></B></FONT></FONT></FONT></P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <TBODY>
                                <TR>
                                    <TD COLSPAN=5 WIDTH=455 HEIGHT=10 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.06in; padding-right: 0.09in">
                                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        <B id="AmountInWords">
                                                            @*RUPEES
                                                                TWENTY EIGHT THOUSAND TWO HUNDRED RUPEES AND ZERO  PAISA ONLY*@
                                                        </B>
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>
                            <TBODY>
                                <TR>
                                    <TD COLSPAN=5 WIDTH=455 HEIGHT=12 STYLE="border: 0.85pt solid #000001; padding-top: 0.03in; padding-bottom: 0.03in; padding-left: 0.06in; padding-right: 0.09in">
                                        <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%">
                                            <FONT COLOR="#000000">
                                                <FONT FACE="Segoe UI, serif">
                                                    <FONT SIZE=1 STYLE="font-size: 8pt">
                                                        *This
                                                        is computer generated sheet hence no signatures required.
                                                    </FONT>
                                                </FONT>
                                            </FONT>
                                        </P>
                                    </TD>
                                </TR>
                            </TBODY>
                        </TABLE>
                        <P STYLE="margin-bottom: 0in; line-height: 100%">
                            <BR>
                        </P>
                    </TD>
                </TR>
            </TABLE>
            <P STYLE="margin-bottom: 0in; line-height: 100%">
                <BR>
            </P>
            <P STYLE="margin-bottom: 0in; line-height: 100%">
                <BR>
            </P>
            <P STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
                <BR>
            </P>
        </div>
    </form>
</BODY>
<input type="hidden" id="hdnID"/>
<input type="hidden" id="hdnFSID" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>

<script src="~/js/jquery.PrintArea.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var Id = getQuerystring("id");
        setControlValue("hdnID", Id);
        setControlValue("hdnFSID", 0);
        if (typeof (Id) != "undefined") {
            callServiceMethod(JSON.stringify([Id]), "/api/PayrollAPI", "getSchoolDetails", false, "", "", false, "", true, getSchoolDetails_scs, Id, "", "");
        }
    })

    function getSchoolDetails_scs(p1, p2, p3, datas)
    {
        setControlValue("schoolFullName", datas.School);
        setControlValue("SchoolCompleteAddress", datas.Address + "," + datas.City + "-" + datas.Pincode + "," + datas.District + "," + datas.SchoolCode);
        //alert(p1);
        getEmployeeAllDetails();
    }

    function getEmployeeAllDetails()
    {
        var Id = getControlValue("hdnID");
        callServiceMethod(JSON.stringify([Id]), "/api/FeesApi", "getStudentFeesDetailForReceipt", false, "", "", false, "", true, getEmployeeAllDetails_scs, "", "", "");
    }

    function getEmployeeAllDetails_scs(p1, p2, p3, datas)
    {
        setControlValue("dateMontSalryslip", datas.fcal.Months);
        setControlValue("spReceiptNo", datas.fcal.fldId);
        setControlValue("spEmployeeCode", datas._std.RegNo);
        setControlValue("spEmployeeName", datas._std.FirstName);
        setControlValue("spClass", datas.std.Class);
        setControlValue("spSection", datas.std.Section);

        setControlValue("spDateCreated", datas.std.PSAddress);
        setControlValue("hdnFSID", datas.fcal.feeStructureID);

        //callJTemplateServiceMethod(JSON.stringify(["FeeStructureConfig",
        //            datas.fcal.feeStructureID]), "/api/FeesApi", "getList",
        //                       "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true,
        //            successMsg, "", "", "");

        //var grade = {
        //    Id: getQuerystring("Id"),
        //    Month: datas.Month,
        //    EmpId: datas.EmpId,
        //    grade: datas.grade
        //}
        //var ddl = JSON.stringify(grade)


        //callJTemplateServiceMethod(ddl, "/api/PayrollAPI", "getSalarySlipStrcture",
        //     "tblSalaryHeadDetails", "tblSalaryHeadDetailsJTemplte", false, "", "", "", "");


        //setControlValue("sptotalRate", datas.MonthlyGross);
        //setControlValue("spTotalEarningSalary", datas.GrossEarning);
        //setControlValue("spTotalNetSalary", datas.NetSalary);
        //setControlValue("sptotalEarningSaladry", datas.GrossEarning);


        //setControlValue("spTotalDeduction", "-"+datas.MonthlyDeduction);
        //setControlValue("spNetPayable", datas.NetSalary);

        //setControlValue("AmountInWords", convertNumberToWords(datas.NetSalary));
    }

    function convertNumberToWords(amount) {
        var words = new Array();
        words[0] = '';
        words[1] = 'One';
        words[2] = 'Two';
        words[3] = 'Three';
        words[4] = 'Four';
        words[5] = 'Five';
        words[6] = 'Six';
        words[7] = 'Seven';
        words[8] = 'Eight';
        words[9] = 'Nine';
        words[10] = 'Ten';
        words[11] = 'Eleven';
        words[12] = 'Twelve';
        words[13] = 'Thirteen';
        words[14] = 'Fourteen';
        words[15] = 'Fifteen';
        words[16] = 'Sixteen';
        words[17] = 'Seventeen';
        words[18] = 'Eighteen';
        words[19] = 'Nineteen';
        words[20] = 'Twenty';
        words[30] = 'Thirty';
        words[40] = 'Forty';
        words[50] = 'Fifty';
        words[60] = 'Sixty';
        words[70] = 'Seventy';
        words[80] = 'Eighty';
        words[90] = 'Ninety';
        amount = amount.toString();
        var atemp = amount.split(".");
        var number = atemp[0].split(",").join("");
        var n_length = number.length;
        var words_string = "";
        if (n_length <= 9) {
            var n_array = new Array(0, 0, 0, 0, 0, 0, 0, 0, 0);
            var received_n_array = new Array();
            for (var i = 0; i < n_length; i++) {
                received_n_array[i] = number.substr(i, 1);
            }
            for (var i = 9 - n_length, j = 0; i < 9; i++, j++) {
                n_array[i] = received_n_array[j];
            }
            for (var i = 0, j = 1; i < 9; i++, j++) {
                if (i == 0 || i == 2 || i == 4 || i == 7) {
                    if (n_array[i] == 1) {
                        n_array[j] = 10 + parseInt(n_array[j]);
                        n_array[i] = 0;
                    }
                }
            }
            value = "";
            for (var i = 0; i < 9; i++) {
                if (i == 0 || i == 2 || i == 4 || i == 7) {
                    value = n_array[i] * 10;
                } else {
                    value = n_array[i];
                }
                if (value != 0) {
                    words_string += words[value] + " ";
                }
                if ((i == 1 && value != 0) || (i == 0 && value != 0 && n_array[i + 1] == 0)) {
                    words_string += "Crores ";
                }
                if ((i == 3 && value != 0) || (i == 2 && value != 0 && n_array[i + 1] == 0)) {
                    words_string += "Lakhs ";
                }
                if ((i == 5 && value != 0) || (i == 4 && value != 0 && n_array[i + 1] == 0)) {
                    words_string += "Thousand ";
                }
                if (i == 6 && value != 0 && (n_array[i + 1] != 0 && n_array[i + 2] != 0)) {
                    words_string += "Hundred and ";
                } else if (i == 6 && value != 0) {
                    words_string += "Hundred ";
                }
            }
            words_string = words_string.split("  ").join(" ");
        }
        return words_string;
    }



    function printAdmitCard() {
      //  var val = getQuerystring("imgNo");
        //var contents = $("#dvContents").html();
        //var frame1 = $('<iframe />');
        //frame1[0].name = "frame1";
        //frame1.css({ "position": "absolute", "top": "-1000000px" });
        //$("body").append(frame1);
        //var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        //frameDoc.document.open();
        ////Create a new HTML document.
        //frameDoc.document.write('<html><head><title>DIV Contents</title>');
        ////frameDoc.document.write('<style type="text/css">h1,h2,h3,h4,h5,h6{margin:0; padding:0;}.main{width:500px;background:#d3effb !important;margin:10px auto;border-radius:25px;padding:15px;border: 1px solid #a2b2b9;font-family: "Poppins", sans-serif;}h1{color:#005ca7;font-weight:bold;line-height:38px;font-size: 33px;text-align: center;}h2{	color:#000;font-size:18px;font-weight:bold;text-align:center;line-height:22px;}h3{color:#000;font-size:14px;line-height:22px;text-align: center;}.heading{color:#99256e;font-size:14px;font-weight:bold;line-height:6px;}.heading1{color:#3066a4;font-size:14px;font-weight:bold;}.main table{font-weight:bold;}.name-text{color:#1b2193;}.logo{}</style>');
        //frameDoc.document.write('<link href="/css/style_admitCrd.css" rel="stylesheet" media="print"/>');
        //frameDoc.document.write('<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">');
        //frameDoc.document.write('<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">');
        //frameDoc.document.write('</head><body>');
        ////Append the external CSS file.


        ////Append the DIV contents.
        //frameDoc.document.write(contents);
        //frameDoc.document.write('</body></html>');
        //frameDoc.document.close();
        //setTimeout(function () {
        //    window.frames["frame1"].focus();
        //    window.frames["frame1"].print();
        //    frame1.remove();
        //    //window.location.href = "/Student/StudentProfile?id=" + id;
        //}, 100);

        var mode = 'iframe'; //popup
        var close = mode == "popup";
        var options = { mode: mode, popClose: close };
        $("#dvContents").printArea(options);
    }

    //function printPreview() {

    //    var contents = $("#dvContents").html();
    //    var frame1 = $('<iframe />');
    //    frame1[0].name = "frame1";
    //    frame1.css({ "position": "absolute", "top": "-1000000px" });
    //    $("body").append(frame1);
    //    var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
    //    frameDoc.document.open();
    //    //Create a new HTML document.
    //    frameDoc.document.write('<html><head><title>DIV Contents</title> ');
    //    frameDoc.document.write('<style type="text/css">  #customers {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;}#customers td, #customers th { border: 1px solid #ddd;padding: 8px;}#customers tr:nth-child(even) {background-color: #f2f2f2;}#customers tr:hover {background-color: #ddd;}#customers th {padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #4CAF50;color: white;} .btn-success {background-color: #00a65a;border-color: #008d4c;}.btn {border-radius: 3px;-webkit-box-shadow: none;box-shadow: none;border: 1px solid transparent;}.btn-block {display: block;width: 100%;}.btn-danger {background-color: #dd4b39;border-color: #d73925;}.btn {border-radius: 3px;box-shadow: none; border: 1px solid transparent;}.btn-block {display: block;width: 100%;}.btn-group-sm>.btn, .btn-sm {padding: 5px 10px;font-size: 12px; line-height: 1.5;border-radius: 3px;}</style>');
    //    frameDoc.document.write('</head><body>');
    //    //Append the external CSS file.
    //    frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" />');
    //    //Append the DIV contents.
    //    frameDoc.document.write(contents);
    //    frameDoc.document.write('</body></html>');
    //    frameDoc.document.close();
    //    setTimeout(function () {
    //        window.frames["frame1"].focus();
    //        window.frames["frame1"].print();
    //        frame1.remove();
    //    }, 500);

    //}
</script>

@*<script type="text/javascript">
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $('#cmd').click(function () {
            doc.fromHTML($('#dvContents').html(), 15, 15, {
                'width': 1200,
                'elementHandlers': specialElementHandlers
            });
            doc.save('sample-file.pdf');
        });

    </script>*@


<script>
    (function () {
        var
         form = $('.form'),
         cache_width = form.width(),
         a3 = [990.28, 841.89]; // for a4 size paper width and height

        $('#create_pdf').on('click', function () {
            $('body').scrollTop(0);
            createPDF();
        });
        //create pdf
        function createPDF() {
            getCanvas().then(function (canvas) {
                var
                 img = canvas.toDataURL("image/png"),
                 doc = new jsPDF({
                     unit: 'px',
                     format: 'a3'
                 });
                doc.addImage(img, 'JPEG', 20, 20);
                doc.save('SalarySlip.pdf');
                form.width(cache_width);
            });
        }

        // create canvas object
        function getCanvas() {
            form.width((a3[0] * 1.33333) - 80).css('max-width', 'None');
            return html2canvas(form, {
                imageTimeout: 2000,
                removeContainer: true
            });
        }

    }());
</script>