﻿
@{
    ViewBag.Title = "FeeStructure";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<style type="text/css">
    .imgIcon {
        width: 0.5%;
        height: 0.5%;
    }

    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 8px;
            padding-bottom: 8px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>

<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="~/css/bower_components/select2/dist/css/select2.min.css">
<script src="~/css/bower_components/select2/dist/js/select2.full.min.js"></script>
<section class="content-header">
    <h1>
        <i class="fa fa-th-list"></i> Manage Fee Structure
    </h1>
    @*<ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="/academics/default/index">Academics</a></li>
            <li class="active">Timetable</li>
            <li class="active">Timetable Configuration</li>
        </ul>*@
</section>
<section class="content">
    <div class="alert alert-success alert-dismissible centerSuccess" id="divsuccesmsg" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
            <i class="icon fa fa-check"></i>
            success! <span Id="spsuccessMsg"></span>
        </h4>

    </div>
    <div class="box box-solid">
        <div class="extra-div">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i> Search</h3>
                <div class="box-tools">
                    <a class="btn btn-success btn-sm" href="#" onclick="openModal()"><i class="fa fa-plus-square"></i> Create New</a>
                </div>
            </div>
        </div>
        
       
            <div class="box-body">
                <div class="row">

                    <div class="col-md-3">

                        <div class="form-group">
                            <label for="Country" class="req">School<span class="requird">*</span></label>
                            <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name" ></select>

                        </div>
                    </div>

                    <div class="col-sm-3">

                        <div class="form-group">
                            <label class="control-label">Structure Name</label>
                            <select id="dllStructure" class="form-control" valuefield="ID" textfield="StructureName" blankRowValue="-1" blankRowText="----Select----" onchange="" aria-required="true"></select>
                        </div>
                    </div>
                            @*<div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Structure Name</label>
                                    <input type="text" id="txtSearchName" class="form-control">
                                </div>
                            </div>*@

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Academic Year</label>
                                    <select id="tc_academic_year" class="form-control" valuefield="ID" textfield="StartYear" blankRowValue="-1" blankRowText="----Select----" onchange="" aria-required="true"></select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Class</label>
                                    @*<select class="form-control select2" id="ddlCourse" valuefield="Section" textfield="Class" multiple="multiple"></select>*@
                                    <select class="form-control" id="ddlCourse" valuefield="Id" textfield="CourseName" blankRowValue="-1" blankRowText="----Select----"></select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Section</label>
                                    <select class="form-control" id="ddlSection" valuefield="Id" textfield="SectionName" blankRowValue="-1" blankRowText="----Select----"></select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    <select id="ddl_status" class="form-control">
                                        <option value="-1">---- Select Status ----</option>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
            <div class="box-footer">
                <button type="button" id="btnSearch" class="btn btn-info">Search</button>    <a class="btn btn-default" href="#" onclick="ResetAll()">Reset</a>
            </div>

        
    </div>

    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-eye"></i> List</h3>
        </div>
        <div class="box-body table-responsive">

            <div id="w2" class="grid-view">
                <table class="table table-striped table-bordered" id="example1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>School</th>
                            <th>Name</th>
                            @*<th>Academic Year</th>
                            <th>Class-Section</th>
                            <th>Start Date</th>
                            <th>End Date</th>*@
                            <th>Status</th>
                            <th class="action-column">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyEmployeeDetails">
                        @*<tr data-key="4">
                            <td>1</td>
                            <td><a href="/timetable/timetable-configuration/view-weekly-tt?id=4" data-pjax="0">tt</a></td>
                            <td>2016-17</td>
                            <td>Secondary</td>
                            <td>Year7</td>
                            <td>Year7-Sec1</td>
                            <td>Dec 1, 2017</td>
                            <td>Dec 31, 2017</td>
                            <td>Weekly Format</td>
                            <td class="text-center"><a class="toggle-column" href="/timetable/timetable-configuration/toggle?id=4" title="Inactive" data-method="post" data-pjax="0"><span class="glyphicon glyphicon-ok-circle fa-lg"></span></a></td>
                            <td><a href="/timetable/timetable-configuration/view?id=4" title="View" data-target="#globalModal" data-toggle="modal"><span class="glyphicon glyphicon-eye-open"></span></a> <a href="/timetable/timetable-configuration/update?id=4" title="Update" data-target="#globalModal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></a> <a href="/timetable/timetable-configuration/delete?id=4" title="Delete" data-confirm="Are you sure you want to delete this item?" data-method="post"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
            <script type="text/html" id="divEmployeeDetailsJTemplte">
                {#foreach $T as Datashort}
                <tr>
                    <td style="width:10%;">
                        { $T.Datashort.count}
                    </td>
                    <td>
                        {$T.Datashort.School}
                    </td>
                    <td>
                        <a href="#" title="View Details" onclick="GoToCreateFeeConfig({ $T.Datashort.fs.ID})">{ $T.Datashort.fs.StructureName}</a>
                    </td>
                    <td style="width:15%;">
                        <span class="{ $T.Datashort.style}" title="{ $T.Datashort.action}" onclick="EditStatus({ $T.Datashort.fs.ID},'{ $T.Datashort.fs.StructureName}',{ $T.Datashort.fs.AcademicYear},'{ $T.Datashort.classes}',{ $T.Datashort.fs.Status},{$T.Datashort.fs.SchoolID})">{ $T.Datashort.StatusNm} </span>
                    </td>
                    <td>
                        <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" onclick="Edit({ $T.Datashort.fs.ID},'{ $T.Datashort.fs.StructureName}',{ $T.Datashort.fs.AcademicYear},'{ $T.Datashort.classes}',{ $T.Datashort.fs.Status},{$T.Datashort.fs.SchoolID})" title="Edit"></i>
                        @*<i class="fa fa-fw fa-eye" style="cursor:pointer" onclick="ViewDetails({ $T.Datashort.ID},'{ $T.Datashort.con.Name}',{ $T.Datashort.con.Status},'{ $T.Datashort.StatusNm}','{ $T.Datashort.Course}','{ $T.Datashort.fromDT}','{ $T.Datashort.ToDt}','{ $T.Datashort.WeekDaysNm}','{ $T.Datashort.timingNm}')" title="View"></i>*@
                        <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete({ $T.Datashort.fs.ID})" title="Delete"></i>
                    </td>
                </tr>
                {#/for}
            </script>
        </div>
    </div>

    @*<div class="box box-solid">

        
        <div class="box-body">
            <div class="row">

                <div class="content">
                    <div class="form-group">
                        <a href="#" style="width: 150px;float: right;margin-right: 8px" class="btn btn-block btn-primary" onclick="openModal()">Add</a>
                        <div style="height:40px"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Name:</label>
                                        <input type="text" class="form-control" id="txtName" placeholder="Enter ...">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Description:</label>
                                        <input type="text" class="form-control" id="txtMName" placeholder="Enter ...">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Status:</label>
                                    <select class="form-control dropdown-toggle" id="ddlReqStatus">
                                        <option value="-1">----Select----</option>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Fee Structure</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                
                                            </div>
                                            <div class="col-sm-4">
                                                
                                            </div>
                                            <div class="col-sm-4">
                                                
                                            </div>
                                            <div class="col-sm-4">
                                                
                                            </div>
                                        </div>
                            
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="req" for="Salarydetails_designationid">Fee Catagories</label>
                                                <table id="gridEarning" class="table table-bordered table-striped tbl20 grid">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Head Name</th>
                                                            <th class="text-center">value</th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">
                                                                <div class="form-group">
                                                                    <select id="ddlFeeCategories" class="form-control" valuefield="ID" textfield="StartYear" blankRowValue="-1" blankRowText="----Select----" onchange="" aria-required="true"></select>
                                                                    </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="txtFeeValue">
                                                                    </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <a class="btn btn-success btn-sm" href="#" id="AddRow" title="Add"><i class="fa fa-plus-square"></i></a>
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbodyEmployeeEarning"></tbody>

                                                </table>
                                                <script type="text/html" id="tbodyEmployeeEarningJTemplte">
                                                    {#foreach $T as Datashort}
                                                    <tr>
                                                        <td style="width:155px">
                                                            { $T.Datashort.Name}
                                                        </td>
                                                        <td>
                                                            { $T.Datashort.Name}

                                                        </td>
                                                        <td>
                                                            <i class="fa fa-fw fa-pencil-square-o" style="cursor:pointer" onclick="Edit({ $T.Datashort.b.ID},'{ $T.Datashort.b.BankName}','{ $T.Datashort.b.Alias}',{ $T.Datashort.b.Status})" title="Edit"></i>
                                                            <i class="fa fa-fw fa-trash" style="cursor:pointer" onclick="Delete({ $T.Datashort.b.ID})" title="Delete"></i>
                                                        </td>
                                                    </tr>
                                                    {#/for}
                                                </script>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
          

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form_sep">
                                                <input class="btn btn-info" id="btnsumit" onclick="saveGradeDetails()" type="button" value="Save">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="modal fade" id="myModal" role="dialog" onclose="ResetModal()">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa fa-plus-square"></i> Add Fee Structure <button type="button" class="close" data-dismiss="modal" onclick="ResetModal()">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="box-body">
                            <form role="form" id="form1" name="form1">

                                <div class="form-group">
                                    <label for="Country" class="req">School<span class="requird">*</span></label>
                                    <select class="form-control" id="ddlSchoolName1" ng-model="ddlSchoolName" valuefield="Id" textfield="Name" ></select>


                                </div>
                               

                                    @*<div class="form-group">
                                        <label class="control-label">Structure Name</label>
                                        <select id="dllStructure1" class="form-control" valuefield="ID" textfield="StructureName" blankRowValue="-1" blankRowText="----Select----" onchange="" aria-required="true"></select>
                                    </div>*@
                                

                                <div class="form-group">
                                    <label class="control-label">Structure Name  <span class="requird">*</span></label>
                                    <input type="text" id="txtName" name="txtName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Academic Year <span class="requird">*</span></label>
                                    <select id="ddl_academic_year" class="form-control" name="ddl_academic_year" valuefield="ID" textfield="StartYear" blankRowValue="-1" blankRowText="----Select----" onchange="" aria-required="true"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Class <span class="requird">*</span></label>
                                    <select class="form-control select2" id="ddlClasses" name="ddlClasses" valuefield="Section" textfield="Class" multiple="multiple" style="width:100%;"></select>
                                </div>

                                <div class="box-footer">
                                    <input type="button" class="btn btn-primary" value="Save Changes" id="btnCreate" name="Save" />
                                    <input type="hidden" id="hdnID" />
                                </div>
                                <!-- /.form group -->
                            </form>
</div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <input type="hidden" id="hdnStatus" />
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        setControlValue("hdnID", 0);
        setControlValue("hdnStatus", 1);
       
      

       // callServiceMethodForDDl("", "/api/TimeTableApi", "GetAcademicYear", "tc_academic_year", false, "", "", "", "");
       
      //  callServiceMethodForDDl("", "/api/FeesApi", "GetClasseswithSection", "ddlClasses", false, "", "", "", "");

      


      //  callServiceMethodForDDl("", "/api/StudentApi", "GetClasses", "ddlCourse", false, "", "", "", "");
       

        $("#ddlClasses").select2();
    
        setTimeout(function () {
            var arr = {};
            $("#ddlClasses").val(arr).trigger("change");
        }, 500);

        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName1", false, "", "", "", "");


        var SchoolID = getControlValue("ddlSchoolName1");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/FeesApi", "GetClasseswithSectionSchoolID", "ddlClasses", false, "", "", "", "");

        //var ddlSchoolName1 = getControlValue("ddlSchoolName1");
        //if (ddlSchoolName1 != null && (ddlSchoolName1 != -1) && (ddlSchoolName1 != undefined)) {
        //    callServiceMethodForDDl(JSON.stringify([ddlSchoolName1]), "/api/StudentApi", "GetStructure", "dllStructure1", false, "", "", "", "");
        //}
            //$("#ddlSchoolName1").change(function () {
            //    var ddlSchoolName1 = getControlValue("ddlSchoolName1");

            //    if (ddlSchoolName1 != null && (ddlSchoolName1 != -1) && (ddlSchoolName1 != undefined)) {
            //        callServiceMethodForDDl(JSON.stringify([ddlSchoolName1]), "/api/StudentApi", "GetStructure", "dllStructure1", false, "", "", "", "");
            //    }
            //});
        

       


            //$("#ddlCourse").change(function () {
            //    var ddlCourse = getControlValue("ddlCourse");
            //    if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined)) {
            //        callServiceMethodForDDl(JSON.stringify([ddlCourse]), "/api/StudentApi", "GetSections", "ddlSection", false, "", "", "", "");
            //    }
            //});

        
      

       

        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

        //$("#ddlSchoolName").change(function () {
        //var ddlSchoolName = $("#ddlSchoolName").val();
        var ddlSchoolName = getControlValue("ddlSchoolName"); 
            if (ddlSchoolName != null && (ddlSchoolName != -1) && (ddlSchoolName != undefined)) {
                callServiceMethodForDDl(JSON.stringify([ddlSchoolName]), "/api/StudentApi", "GetStructure", "dllStructure", false, "", "", "", "");
        }

        $("#ddlSchoolName").change(function () {
            var ddlSchoolName = getControlValue("ddlSchoolName");

        
                callServiceMethodForDDl(JSON.stringify([ddlSchoolName]), "/api/StudentApi", "GetStructure", "dllStructure", false, "", "", "", "");
            
        });


        var SchoolID = getControlValue("ddlSchoolName");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetAcademicYearBySchool", "tc_academic_year", false, "", "", "", "");
        $("#ddlSchoolName").change(function () {
            var SchoolID = getControlValue("ddlSchoolName");
            callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetAcademicYearBySchool", "tc_academic_year", false, "", "", "", "");
        });
        var SchoolID = getControlValue("ddlSchoolName1");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetAcademicYearBySchool", "ddl_academic_year", false, "", "", "", "");
        $("#ddlSchoolName").change(function () {
            var SchoolID = getControlValue("ddlSchoolName1");
            callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/TimeTableApi", "GetAcademicYearBySchool", "ddl_academic_year", false, "", "", "", "");
        });
        var SchoolID = getControlValue("ddlSchoolName");
        callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse", false, "", "", "", "");
        $("#ddlSchoolName").change(function () {
            var SchoolID = getControlValue("ddlSchoolName");
            callServiceMethodForDDl(JSON.stringify([SchoolID]), "/api/StudentApi", "GetClassesbySchoolID", "ddlCourse", false, "", "", "", "");
        });
      //  callServiceMethodForDDl("", "/api/StudentApi", "GetClasses", "ddlCourse", false, "", "", "", "");
        $("#ddlCourse").change(function () {
            var ddlCourse = getControlValue("ddlCourse");
            var SchoolID = getControlValue("ddlSchoolName");
            if (ddlCourse != null && (ddlCourse != -1) && (ddlCourse != undefined)) {
                callServiceMethodForDDl(JSON.stringify([ddlCourse, SchoolID]), "/api/StudentApi", "GetSectionsbyschool", "ddlSection", false, "", "", "", "");
            }
        });



        //});
       

       
        fillDataTable();
    });
    function openModal()
    {
        var arr = {};
        $("#ddlClasses").val(arr).trigger("change");
        $('#myModal').modal('show');
    }

    function GetValues(ID)
    {
        $.ajax({
            url: "/api/TimeTableApi/GetClassTiming",
            type: "Post",
            data: JSON.stringify([ID]),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if(data.ID!=-1)
                {
                    setControlValue("hdn", data.ID);
                    setControlValue("CTName", data.ct.Name);
                    setControlValue("CTName1", data.ct.Name);
                    setControlValue("Desc", data.ct.Description);
                   
                    fillDataTable(data.ID);
                }
            }
        });
    }

    function fillDataTable() {
        $("#loader").fadeIn();
        var name = getControlValue("dllStructure");
        var year = getControlValue("tc_academic_year");
        var course=getControlValue("ddlCourse");
        var section = getControlValue("ddlSection");
        var status = getControlValue("ddl_status");
        var SchoolID = getControlValue("ddlSchoolName")
        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        var t = $('#example1').DataTable();
        t.destroy();
        callJTemplateServiceMethod(JSON.stringify(["FeeStructure", name, year, course, section, status, SchoolID, loginuser, typeuser]), "/api/FeesApi", "getList",
           "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, successMsg, "", "", "");
    }

    function successMsg(p1, p2, p3, datas) {
       
        setTimeout(function () {
            $('#example1').DataTable({
                'columnDefs': [{
                    "targets": -1,
                    "orderable": false
                }],
            });
        }, 1000);
        $("#loader").fadeOut();
    }

    $("#btnSearch").click(function () {
        fillDataTable();
    });

    $("#btnCreate").click(function () {
        
        var ID=getControlValue("hdnID");
        var name = getControlValue("txtName");
        var year = getControlValue("ddl_academic_year");
        var classes = getControlValue("ddlClasses");
        var status = getControlValue("hdnStatus");
        var SchoolID = $("#ddlSchoolName1").val()
        Save(ID, name, year, classes, status, SchoolID);
    });

    function Save(ID, name, year, classes, status, SchoolID)
    {
     
        if ($("#form1").valid()) 
        {
            $("#loader").fadeIn();
            $.ajax({
                url: "/api/FeesApi/SaveRecord",
                type: "Post",
                data: JSON.stringify(["FeeStructure", ID, name, year, classes, status, SchoolID]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#loader").fadeOut();
                    if(data!=-1)
                    {
                        $("#divsuccesmsg").fadeIn();
                        
                        $("#spsuccessMsg").html("Fee Structure Added Successfully");
                        setTimeout(function(){
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        },2000)
                        
                    }
                    else{
                        alert("Some Error!!");
                    }
                    fillDataTable();
                    $('#myModal').modal('hide');
                    ResetModal();
                }
            });
        }
    }

    function EditStatus(id,name,year,classes,status,SchoolID)
    {
        var st=0;
        status==false?st=1:st=0;
        Save(id, name, year, classes, st, SchoolID);
    }

    function Edit(id, name, year, classes, status,SchoolID)
    {
        setControlValue("hdnID", id);
        setControlValue("txtName", name);
        setControlValue("ddl_academic_year", year);
        
        openModal();
        var a=classes.split(",");
        $("#ddlClasses").val(a).trigger("change");
        if(status){
            setControlValue("hdnStatus", 1);
        }
        else{
            setControlValue("hdnStatus", 0);
        }
        setControlValue("ddlSchoolName1", SchoolID)
    }

    function ViewDetails(id,name,status,statusNm,course,fromDt,Edt,weekdays,timing)
    {
        setControlValue("spName", name);
        setControlValue("spCourse", course);
        setControlValue("spWeekDays", weekdays);
        setControlValue("spClassTiming", timing);
        setControlValue("spStDt", fromDt);
        setControlValue("spEdDt", Edt);
        if(status==1)
        {
            $("#spActive").show();
            $("#spInactive").hide();
            setControlValue("spActive", statusNm);
        }
        else
        {
            $("#spActive").hide();
            $("#spInactive").show();
            setControlValue("spInactive", statusNm);
        }
        openModal();
    }

    function ResetAll()
    {
        setControlValue("txtSearchName", "");
        setControlValue("tc_academic_year",-1);
        setControlValue("ddlCourse",-1);
        setControlValue("ddlSection",-1);
        setControlValue("ddl_status","-1");
        setControlValue("ddlSchoolName", 0)
        setControlValue("ddlSchoolName1", 0)
        fillDataTable();
    }

    function ResetModal()
    {
        setControlValue("txtBankName", "");
        setControlValue("txtAlias","");
        setControlValue("hdnID", 0);
        setControlValue("hdnStatus", 0);
       // setControlValue("ddlSchoolName", 0)
       // setControlValue("ddlSchoolName1", 0)
    }
 
    function Delete(id)
    {
        var result = window.confirm('Are you sure to delete this record?');
        if (result == true) {
            $("#loader").fadeIn();
            $.ajax({
                url: "/api/FeesApi/DeleteRecord",
                type: "Post",
                data: JSON.stringify([id,"FeeStructure"]),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if(data==1){
                        $("#loader").fadeOut();
                        $("#divsuccesmsg").fadeIn();
                        
                        $("#spsuccessMsg").html("Record successfully deleted");
                        setTimeout(function(){
                            $("#divsuccesmsg").fadeOut();
                            $("#spsuccessMsg").html("");
                        },2000)
                         ResetModal()
                        fillDataTable()
                    }
                }
            });
        }
    }

    function GoToCreateFeeConfig(id)
    {
        window.location.href = "/Fees/FeeStructureConfig?id="+id;
    }

</script>


<script type="text/javascript">
    $(document).ready(function () {

      



        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {

                ddl_academic_year: {
                    selectcheck: true
                },
                ddlClasses:{
                    selectcheck1: true
                },

                txtName: "required",

            },
            messages: {
                ddl_academic_year: "Please Select Academic Year",
                txtName:"Please Enter Structure Name",
                ddlClasses:"Please Select Class Name",

               // txtCoursecoursecode: "Please Enter Class Code"

            }
        })
        jQuery.validator.addMethod('selectcheck', function (value) {
            if (value == "-1") {
                return (value != '-1');
            }
            else if (value == "? undefined:undefined ?")
            {
                return (value != '? undefined:undefined ?');
            }
            else {
                return true;
            }

        }, "Please Select Country");
        jQuery.validator.addMethod('selectcheck1', function (value) {
            if (value == "0") {
                return (value != '0');
            }
            else if (value == "? undefined:undefined ?")
            {
                return (value != '? undefined:undefined ?');
            }
            else if (value.length == "0")
            {
                return false;
            }
            else {
                return true;
            }

        }, "Please Select Country");


    });
</script>