﻿
@{
    ViewBag.Title = "SendEmailOfEmployees";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    var sessionStorage_transfer = function (event) {
        if (!event) { event = window.event; } // ie suq
        if (!event.newValue) return;          // do nothing if no value to work with
        if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
        } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
                sessionStorage.setItem(key, data[key]);
            }
        }
    };
    if (window.addEventListener) {
        window.addEventListener("storage", sessionStorage_transfer, false);
    } else {
        window.attachEvent("onstorage", sessionStorage_transfer);
    };


    // Ask other tabs for session storage (this is ONLY to trigger event)
    if (!sessionStorage.length) {
        localStorage.setItem('getSessionStorage', 'foobar');
        localStorage.removeItem('getSessionStorage', 'foobar');
    };
</script>
<section class="content">


    <div class="box box-solid">
        <div class="et">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-search"></i> Search Employee</h3>

            </div>
        </div>

        <form id="w0" action="/employee/emp-master/index" method="get">
            <div class="box-body">
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group field-empinfosearch-emp_designation_id">
                            <label for="Country" class="req">School<span class="requird">*</span></label>
                            <select class="form-control" id="ddlSchoolName" ng-model="ddlSchoolName" valuefield="Id" textfield="Name" ></select>

                            <div class="help-block"></div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group field-empinfosearch-emp_department_id">
                            <label class="control-label" for="empinfosearch-emp_department_id">Department</label>
                            <select class="form-control" id="txtDepartment" valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--" ng-model="txtDepartment"></select>

                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group field-empinfosearch-emp_designation_id">
                            <label class="control-label" for="empinfosearch-emp_designation_id">Designation</label>
                            <select class="form-control" id="ddlDesgination" valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--" ng-model="ddlDesgination"></select>

                            <div class="help-block"></div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group field-empinfosearch-emp_category_id">
                            <label class="control-label" for="empinfosearch-emp_category_id">Category</label>
                            <select class="form-control" data-required="true" valuefield="Id" textfield="Name"  blankRowValue="0" blankRowText="--Select--" id="ddlStaffType"></select>

                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-top: 25px;">
                        <div class="form-group field-empinfosearch-searchinput">

                            <input type="text" id="txtEmployeeName" class="form-control" placeholder="Enter Employee First/Last Name or Email Id.">

                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-top: 25px;">
                        <div class="form-group field-empinfosearch-emp_info_id">

                            <input type="text" id="txtEmployeeCode" class="form-control" placeholder="Enter Employee Id">

                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <input class="btn btn-primary" onclick="searchEmployee()" value="Search" type="button" />   <a class="btn btn-default" onclick="restClear()" href="javascript:void(0)">Reset</a>
            </div>

        </form>
    </div>



    <div class="col-md-12" id="divShowEmployees" style="display:none">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">View Employee Details</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div>

                        <table id="example1" class="table table-bordered table-striped tbl20 htmlTempletes">
                            <thead>
                                <tr>
                                    <th><input onclick="checkAllCheckbox()" id="checkAll" type="checkbox" /></th>
                                    <th>Employee Code</th>
                                    <th>Photo</th>
                                    <th>School</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Designation</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyEmployeeDetails"></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <script type="text/html" id="divEmployeeDetailsJTemplte">
            {#foreach $T as Datashort}
            <tr>
                <td>
                    <input type="checkbox" rahul="{ $T.Datashort.Id}" email="{ $T.Datashort.Email}" />
                </td>
                <td>
                    { $T.Datashort.Employeecode}
                </td>
                <td>
                    <img src="{ $T.Datashort.ImageUpload}" alt="#" />
                </td>
                <td>
                    { $T.Datashort.School}
                </td>
                <td>
                    { $T.Datashort.FName}
                </td>
                <td>
                    { $T.Datashort.Department}
                </td>
                <td>
                    { $T.Datashort.Designation}
                </td>
                <td>
                    { $T.Datashort.Email}
                </td>

            </tr>
            {#/for}
        </script>
    </div>


    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" id="form1" name="form1">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="reg_input_name" class="req">Email Subject <span class="requird">*</span></label>
                            <input type="text" name="txtSubject" id="txtSubject" class="form-control" />
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="reg_input_name" class="req">Message <span class="requird">*</span></label>
                            <textarea id="txtSendSMS" name="txtSendSMS" class="form-control" cols="5" rows="5"></textarea>

                        </div>
                        <div class="form-group col-sm-12">
                            <input type="button" onclick="sendEmailForEmployee()" class="btn btn-primary" value="Sent Email" />
                        </div>


                    </div>
                    </form>
</div>
        </div>
    </div>
    <div class="alert alert-success centerSuccess" id="divSucesEmail" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
            <i class="icon fa fa-check"></i>
            <span Id="sentEmailMsg"></span>
        </h4>

    </div>
</section>
<!-- DataTables -->
<link href="~/js/PDFExcelDatatable/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/css/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/js/PDFExcelDatatable/dataTables.buttons.min.js"></script>
<script src="~/js/PDFExcelDatatable/jszip.min.js"></script>
<script src="~/js/PDFExcelDatatable/pdfmake.min.js"></script>
<script src="~/js/PDFExcelDatatable/vfs_fonts.js"></script>
<script src="~/js/PDFExcelDatatable/buttons.html5.min.js"></script>
<script src="~/js/PDFExcelDatatable/buttons.print.min.js"></script>
<script src="~/js/PDFExcelDatatable/buttons.colVis.min.js"></script>
<script src="~/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        //callServiceMethodForDDl("", "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

        var loginuser = (sessionStorage.getItem("userId"));
        var typeuser = sessionStorage.getItem("type");
        callServiceMethodForDDl(JSON.stringify([loginuser, typeuser]), "/api/Default", "getAllSchoolName", "ddlSchoolName", false, "", "", "", "");

        callServiceMethodForDDl("", "/api/EmployeeAPI", "getAllDepartments", "txtDepartment", false, "", "", "", "");
        callServiceMethodForDDl("", "/api/EmployeeAPI", "getAllDesignation", "ddlDesgination", false, "", "", "", "");
     callServiceMethodForDDl("", "/api/EmployeeAPI", "getAllStaff", "ddlStaffType", false, "", "", "", "");

        $("#ddlSchoolName").change(function () {
            var School = getControlValue("ddlSchoolName");
            if (School != null && (School != -1) && (School != undefined)) {
                callServiceMethodForDDl(JSON.stringify([School]), "/api/EmployeeAPI", "getAllDepartmentsNew", "txtDepartment", false, "", "", "", "");
            }
        });


    });


    function searchEmployee() {
        var employye = {


            Employeecode: getControlValue("txtEmployeeCode"),

            Department: getControlValue("txtDepartment"),
            Designation: getControlValue("ddlDesgination"),

            UserType: getControlValue("ddlStaffType"),
            FName: getControlValue("txtEmployeeName"),
            School: getControlValue("ddlSchoolName")
            
        }

        var ddl = JSON.stringify(employye)

        callJTemplateServiceMethod(ddl, "/api/EmployeeAPI", "searchEmployeeForSms",
            "tbodyEmployeeDetails", "divEmployeeDetailsJTemplte", true, showSearchResult, "", "", "");

        // callServiceMethod(ddl, "/api/EmployeeAPI", "searchEmployeeForSms", false, "", "", false, "", false, "", "", "", "");
    }

    function showSearchResult(p1,p2,p3,datas)
    {
        $("#divShowEmployees").removeAttr("style");
        setTimeout(function () {
            $('#example1').DataTable();
        }, 1000);
    }


    function checkAllCheckbox()
    {

        if ($("#example1 #checkAll").is(':checked')) {
            $("#example1 input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });

            } else {
            $("#example1 input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }

    }

    function sendEmailForEmployee()
    {
        if ($("#form1").valid()) {
            $("#loader").fadeIn();
            var Items = new Array();
            $("#example1 input[type=checkbox]").each(function () {

                if (this.checked) {
                    var employye = {
                        Employeecode: $(this).attr("rahul"),
                        Department: getControlValue("txtSendSMS"),
                        Extra5: getControlValue("txtSubject"),
                        SchoolID: sessionStorage.getItem("SchoolID")
                       // EmailId: $(this).attr("email")

                    }
                    Items.push(employye);
                    // alert($(this).attr("rahul"));
                }
                //  var rowCount = $('#example1 >tbody >tr').length;
                //for (var i = 1; i <= rowCount; i++) {


                //  }
            });
            var ddl = JSON.stringify(Items)
            callServiceMethod(ddl, "/api/EmployeeAPI", "sendEmailForEmployee", false, "", "", false, "", true,successMsg, "", "", "");
            //var employye = {


            //    Employeecode: getControlValue("txtEmployeeCode"),

            //    Department: getControlValue("txtDepartment"),
            //    Designation: getControlValue("ddlDesgination"),

            //    UserType: getControlValue("ddlStaffType"),
            //    FName: getControlValue("txtEmployeeName")



            //}
        }
    }

    function successMsg(p1, p2, p3, datas)
    {
        $("#divSucesEmail").fadeIn();
        $("#sentEmailMsg").html(datas);
        setTimeout(function () {
            $("#divSucesEmail").fadeOut();
            $("#sentEmailMsg").html("");
        }, 2000)
        $("#loader").fadeOut();

        setControlValue("txtSubject", "");
        $("#txtSendSMS").val("");
    }

    function restClear()
    {
        $("#loader").fadeIn();
        setControlValue("txtDepartment", "0");
        setControlValue("ddlDesgination", "0");
        setControlValue("ddlStaffType", "0");
        setControlValue("txtEmployeeName", "");
        setControlValue("txtEmployeeCode", "");
        setControlValue("ddlSchoolName", "");
        $("#loader").fadeOut();


    }
</script>
<style type="text/css">
    .oddTr {
        background-color: #dddddd;
    }

    /*.htmlTempletes tbody tr:nth-child(2n+1) {
        background-color: #e1e4e8;
    }*/
    #example1 td img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }


    #example1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #example1 td, #customers th {
            border: 1px solid #ddd;
            /*padding: 8px;*/
        }

        #example1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #example1 tr:hover {
            background-color: #ddd;
        }

        #example1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #367fa9;
            color: white;
        }
</style>



<script type="text/javascript">
    $(document).ready(function () {
        $("#form1").validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            rules: {

                txtSendSMS: "required",
                txtSubject: "required"



            },
            messages: {

                txtSendSMS: "Please Enter Message",
                txtSubject: "Please Enter Subject"



            }
        })



    });
</script>